@font-face {
  font-family: 'Blokk';
  src: url('../fonts/blokk/BLOKKRegular.eot');
  src: url('../fonts/blokk/BLOKKRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/blokk/BLOKKRegular.woff') format('woff'), url('../fonts/blokk/BLOKKRegular.svg#BLOKKRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.eot?i64fx9');
  src: url('../fonts/icomoon/icomoon.eot?#iefixi64fx9') format('embedded-opentype'), url('../fonts/icomoon/icomoon.woff?i64fx9') format('woff'), url('../fonts/icomoon/icomoon.ttf?i64fx9') format('truetype'), url('../fonts/icomoon/icomoon.svg?i64fx9#icomoon') format('svg');
}
@font-face {
  font-family: 'ecoicon';
  src: url('../fonts/ecoicons/ecoicon.eot');
  src: url('../fonts/ecoicons/ecoicon.eot?#iefix') format('embedded-opentype'), url('../fonts/ecoicons/ecoicon.woff') format('woff'), url('../fonts/ecoicons/ecoicon.ttf') format('truetype'), url('../fonts/ecoicons/ecoicon.svg#ecoicon') format('svg');
  font-weight: normal;
  font-style: normal;
}
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
section {
  padding: 2em;
  text-align: justify;
  max-width: 800px;
  margin: 0 auto;
  clear: both;
}
section p {
  font-size: 1.5em;
  line-height: 1.75;
}
section > p:first-child {
  text-align: center;
}
section.related {
  text-align: center;
}
.menu-container {
  height: 100%;
  width: 90px;
}
.related p {
  font-weight: 700;
}
.related > a {
  border: 2px solid #faf1e0;
  color: #faf1e0;
  display: inline-block;
  text-align: center;
  margin: 20px 10px;
  padding: 20px;
  -webkit-transition: color 0.3s, border-color 0.3s;
  transition: color 0.3s, border-color 0.3s;
}
.related a:hover {
  color: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
}
.related a img {
  max-width: 100%;
  opacity: 0.8;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.related a:hover img,
.related a:active img {
  opacity: 1;
}
.related a h3 {
  margin: 0;
  padding: 0.5em 0 0.3em;
  max-width: 300px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  text-align: left;
  font-family: "Merriweather Sans", sans-serif;
}
.content {
  width: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0.1s, box-shadow 2s;
          transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0.1s, box-shadow 2s;
}
.pushed.content {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: translateX(200px) scale(0.6);
      -ms-transform: translateX(200px) scale(0.6);
          transform: translateX(200px) scale(0.6);
  box-shadow: 31px 25px 170px black;
}
/* Icons */
.icon-close {
  z-index: 100;
  display: block;
  overflow: hidden;
  width: 3em;
  height: 3em;
  text-align: center;
  line-height: 3;
  cursor: pointer;
}
.icon:before {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'icomoon';
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-camera:before {
  content: "\e017";
}
.icon-server:before {
  content: "\e022";
}
.icon-heart:before {
  content: "\e024";
}
.icon-zoom-in:before {
  content: "\e037";
}
.icon-microphone:before {
  content: "\e048";
}
.icon-cloud:before {
  content: "\e066";
}
.icon-user:before {
  content: "\e074";
}
.icon-briefcase:before {
  content: "\e075";
}
.icon-globe:before {
  content: "\e078";
}
.icon-cog::before {
  content: "\e600";
}
.icon-close::before {
  content: "\e601";
}
.icon-play::before {
  content: "\e602";
}
.icon-pause::before {
  content: "\e603";
}
.icon-close {
  position: absolute;
  top: 20px;
  right: 20px;
}
.morph-button.open .content-style-form-1 h2,
.morph-button.open .content-style-form-1 p,
.morph-button.open .content-style-form-1 .icon-close {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
      transform: scale(1);
}
.js .content-style-form-2 h2,
.js .content-style-form-2 p,
.js .content-style-form-2 .icon-close {
  opacity: 0;
  -webkit-transition: opacity 0.2s 0.3s, -webkit-transform 0.2s 0.3s;
  transition: opacity 0.2s 0.3s, transform 0.2s 0.3s;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
      transform: translateY(50px);
}
.content-style-form-2 p:first-child {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
.content-style-form-2 p:nth-child(2) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.content-style-form-2 p:nth-child(3) {
  -webkit-transition-delay: 0.45s;
  transition-delay: 0.45s;
}
.content-style-form-2 p:nth-child(4) {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.morph-button.open .content-style-form-2 h2,
.morph-button.open .content-style-form-2 p,
.morph-button.open .content-style-form-2 .icon-close {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
      transform: translateY(0);
}
.morph-button.open .content-style-form-4 p {
  opacity: 1;
  -webkit-transition: opacity 0.4s 0.2s, -webkit-transform 0.4s 0.2s;
  transition: opacity 0.4s 0.2s, transform 0.4s 0.2s;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.morph-button.open .content-style-form-4 p:nth-child(2) {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
.content-style-social {
  padding: 30px;
  text-align: left;
}
.morph-button-inflow-2 > button svg {
  display: inline-block;
  padding-right: 10px;
  width: 20px;
  height: 20px;
  vertical-align: -5%;
}
.morph-button-inflow-2 > button svg path {
  fill: #e75854;
}
.content-style-social a {
  display: block;
  padding: 0.5em 0;
  color: #e85657;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 0.8em;
  line-height: 32px;
}
.js .content-style-social a {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
      transform: translateX(100%);
}
.content-style-social a:hover {
  color: #e75854;
}
.content-style-social a:hover svg path {
  fill: #e75854;
}
.content-style-social a svg {
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
  -webkit-backface-visibility: hidden;
}
.morph-button-inflow.open .content-style-social a {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
      transform: translateX(0);
}
.morph-button-inflow.open .content-style-social a:nth-child(2) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
.morph-button-inflow.open .content-style-social a:nth-child(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.content-style-sidebar h2 {
  font-weight: 300;
  font-size: 2em;
  padding: 0.75em 0 0.75em 1em;
  margin: 0;
  color: white;
}
.content-style-sidebar .icon-close {
  top: 0;
  right: 0;
  font-size: 0.85em;
}
.content-style-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.content-style-sidebar ul li a {
  display: block;
  padding: 12px 20px;
  color: #fff;
  font-weight: 400;
  font-size: 1.05em;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.content-style-sidebar ul li:last-child a {
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.1), inset 0 -1px rgba(0, 0, 0, 0.1);
}
.content-style-sidebar ul li a:hover {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: none;
}
.content-style-sidebar ul .icon::before {
  display: inline-block;
  width: auto;
  margin-right: 20px;
  font-size: 1.5em;
  vertical-align: -10%;
  color: rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 770px) {
  .content-style-overlay {
    font-size: 75%;
  }
  .content-style-overlay .icon-close {
    top: 5px;
    right: 5px;
  }
}
/* Morph Button: Default Styles */
.morph-button {
  position: relative;
  display: block;
  margin: 0 auto;
}
.morph-button > button {
  position: relative;
  padding: 0 1em;
  border: none;
  background-color: transparent;
  color: #f9f6e5;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 80px;
  overflow: hidden;
}
.morph-button.open > button {
  pointer-events: none;
}
.morph-content {
  pointer-events: none;
}
.morph-button.open .morph-content {
  pointer-events: auto;
}
/* Common styles for overlay and modal type (fixed morph) */
.morph-button-fixed,
.morph-button-fixed .morph-content {
  width: 400px;
  height: 80px;
}
.morph-button-fixed > button {
  z-index: 1000;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.1s 0.5s;
  transition: opacity 0.1s 0.5s;
}
.morph-button-fixed.open > button {
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}
.morph-button-fixed .morph-content {
  position: fixed;
  z-index: 900;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
  transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}
.morph-button-fixed.open .morph-content {
  opacity: 1;
}
.morph-button-fixed .morph-content > div {
  visibility: hidden;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
  transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
}
.morph-button-fixed.open .morph-content > div {
  visibility: visible;
  height: auto;
  opacity: 1;
  -webkit-transition: opacity 0.3s 0.5s;
  transition: opacity 0.3s 0.5s;
}
.morph-button-fixed.active > button {
  z-index: 2000;
}
.morph-button-fixed.active .morph-content {
  z-index: 1900;
}
/* Transitions for overlay button and sidebar button */
.morph-button-sidebar .morph-content {
  -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, border-radius 0.8s;
  transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, border-radius 0.8s;
}
.morph-button-sidebar.open .morph-content {
  -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, border-radius 0.3s;
  transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, border-radius 0.3s;
}
/* Morph Button Style: Sidebar */
.morph-button-sidebar,
.morph-button-sidebar .morph-content {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.morph-button-sidebar {
  position: fixed;
  top: 15px;
  left: 30px;
}
.morph-button-sidebar > button {
  line-height: 1.7em;
  font-size: 3em;
  padding: 0;
}
.morph-button-sidebar .morph-content {
  background: #e85657;
}
.morph-button-sidebar.open .morph-content {
  top: 0 !important;
  left: 0 !important;
  width: 400px;
  height: 100%;
  overflow: scroll;
  border-radius: 0;
  -webkit-backface-visibility: hidden;
}
/* Let's add some nice easing for all cases */
.morph-button .morph-content,
.morph-button.open .morph-content {
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
/* Helper classes */
.noscroll {
  overflow: hidden;
}
.morph-button-overlay.scroll .morph-content {
  overflow-y: scroll;
}
.morph-button-sidebar.scroll .morph-content {
  overflow: auto;
}
/* Media Queries */
@media screen and (max-width: 600px) {
  .morph-button-modal.open .morph-content {
    top: 0% !important;
    left: 0% !important;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
    transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
  }
}
@media screen and (max-width: 400px) {
  .morph-button-fixed,
  .morph-button-fixed .morph-content {
    width: 200px;
    height: 80px;
  }
  .morph-button-fixed > button {
    font-size: 75%;
  }
  .morph-button-sidebar > button {
    font-size: 1.6em;
  }
  .morph-button-sidebar,
  .morph-button-sidebar .morph-content {
    width: 100% !important;
    height: 60px !important;
  }
  .morph-button-sidebar {
    bottom: 0px;
    left: 0px;
  }
  .morph-button-sidebar.open .morph-content {
    height: 100% !important;
  }
}
.hi-icon-wrap {
  text-align: center;
  margin: 0 auto;
  padding: 2em 0 3em;
}
.hi-icon {
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  margin: 15px 15px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #fff;
  text-decoration: none !important;
}
.hi-icon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.hi-icon:before {
  font-family: 'ecoicon';
  speak: none;
  font-size: 34px;
  line-height: 90px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
}
.hi-icon-mobile:before {
  content: "\e009";
}
.hi-icon-screen:before {
  content: "\e00a";
}
.hi-icon-earth:before {
  content: "\e002";
}
.hi-icon-support:before {
  content: "\e000";
}
.hi-icon-locked:before {
  content: "\e001";
}
.hi-icon-cog:before {
  content: "\e003";
}
.hi-icon-clock:before {
  content: "\e004";
}
.hi-icon-videos:before {
  content: "\e005";
}
.hi-icon-list:before {
  content: "\e006";
}
.hi-icon-refresh:before {
  content: "\e007";
}
.hi-icon-images:before {
  content: "\e008";
}
.hi-icon-pencil:before {
  content: "\e00b";
}
.hi-icon-link:before {
  content: "\e00c";
}
.hi-icon-mail:before {
  content: "\e00d";
}
.hi-icon-location:before {
  content: "\e00e";
}
.hi-icon-archive:before {
  content: "\e00f";
}
.hi-icon-chat:before {
  content: "\e010";
}
.hi-icon-bookmark:before {
  content: "\e011";
}
.hi-icon-user:before {
  content: "\e012";
}
.hi-icon-contract:before {
  content: "\e013";
}
.hi-icon-star:before {
  content: "\e014";
}
.hi-icon-star:before {
  content: "?";
}
/* Effect 8 */
.hi-icon {
  background: #333;
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
}
.hi-icon:after {
  top: 0;
  left: 0;
  padding: 0;
  z-index: -1;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
  opacity: 0;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
.hi-icon:active {
  background: rgba(255, 255, 255, 0.05);
  -webkit-transform: scale(0.93);
  -ms-transform: scale(0.93);
  transform: scale(0.93);
  color: #fff;
}
.hi-icon:hover:after {
  -webkit-animation: sonarEffect 1.3s ease-out 75ms;
  animation: sonarEffect 1.3s ease-out 75ms;
}
@-webkit-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3), 0 0 10px 10px #111111, 0 0 0 10px rgba(255, 255, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3), 0 0 10px 10px #111111, 0 0 0 10px rgba(255, 255, 255, 0.7);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3), 0 0 10px 10px #111111, 0 0 0 10px rgba(255, 255, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3), 0 0 10px 10px #111111, 0 0 0 10px rgba(255, 255, 255, 0.7);
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}
/*# sourceMappingURL=menu.css.map */