@mixin svg-button($svg-path) {
  background: transparent;
  background-image: url($svg-path);
  background-repeat: no-repeat;
  text-indent: -1000px;
  overflow: hidden;
  border: 0;
  cursor: pointer;
  outline: none;

  &:focus {
    outline: none;
  }
}

@mixin fade-out($fade-to: theme('background')) {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10%;
    background-image: linear-gradient(-180deg, transparentize($fade-to, 1) 0%, $fade-to 100%)
  }
}
