@mixin gpu {
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  background-color: transparent;
  transition: background-color ease var(--animation-duration-fast);
}
