.card-list {
  --card-margin: 1rem;

  flex-wrap: wrap;
  padding-bottom: 10em;
  padding-top: calc(#{$scroller-top-padding} - var(--card-margin));
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media screen and (min-width: 1600px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  // Single-column layout variant
  &--single {
    display: flex;
    flex-direction: column;
  }

  &__content {
    position: relative;
  }

  &__delete-button {
    --button-size: 1rem;
    --button-padding: #{spacing(small)};

    cursor: pointer;
    position: absolute;
    right: var(--card-margin);
    top: var(--card-margin);
    padding: var(--button-padding);

    &[name='close'] {
      height: calc(var(--button-size) + 2 * var(--button-padding));
      width: calc(var(--button-size) + 2 * var(--button-padding));

      .cls-1 {
        fill: var(--transparent-light);
      }
    }
  }
}
