.card {
  align-items: center;
  border: 2px solid palette('text-dark');
  border-radius: .5rem;
  display: flex;
  margin: 1rem;
  padding: 1rem;

  &__indicator {
    fill: palette('text-dark');
    height: 40px;
    margin-right: 10px;
    padding: 10px;
    width: 40px;
  }

  &--selected {
    .card__indicator {
      height: 60px;
      padding: 0;
      width: 60px;
    }
  }

  &:hover,
  &--selected {
    background-color: transparentize(palette('selected'), .95);
    border-color: palette('primary');

    > .card__indicator {
      fill: palette('primary');
    }
  }

  &__attribute {
    font-weight: 300;
  }

  // context input formatting - incomplete
  .context__container {
    min-height: 40px;
    min-width: 40px;
  }

  .context__button {
    color: palette('text-dark');
    border-color: palette('text-dark');
    font-size: 20px;
    height: 40px;
    width: 40px;
  }

  &--selected {
    .context__container {
      min-height: 60px;
      min-width: 60px;
    }

    .context__button {
      height: 60px;
      width: 60px;
    }
  }

  &:hover {
    cursor: pointer;

    .context__button:after {
      transition: transform $animation-default-easing $animation-fast-duration;
      opacity: 1;
      background-color: palette('primary');
    }
  }

  &:hover,
  &--selected {
    .context__button {
      background-color: transparent;
      border-color: palette('primary');
      color: palette('text');
    }
  }
}
