.card {
  align-items: center;
  border: 2px solid transparent;
  border-radius: 15px;
  background: var(--light-background);
  cursor: pointer;
  display: flex;
  margin: 1rem;
  padding: 2rem;

  &--multiselect {
    cursor: default;
  }

  &__indicator {
    box-sizing: content-box;
    fill: palette('selected');
    height: 0;
    width: 0;
    margin-right: 10px;
    transition: all var(--animation-duration-fast) var(--animation-easing);

    .tick {
      fill: transparent;
    }
  }

  &--selected {
    transform: scale(1);
    border-color: palette('primary');

    .card__indicator {
      height: 60px;
      padding: 0;
      width: 60px;
      animation: bounce var(--animation-duration-standard) var(--animation-easing);
      fill: palette('primary');

      .tick {
        fill: palette('primary');
      }
    }
  }

  &__attribute {
    font-weight: 300;

    &--compact {
      margin-bottom: .5rem;
    }
  }
}
