.card-list {
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media screen and (min-width: 1600px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  // Single-column layout variant
  &--single {
    display: flex;
    flex-direction: column;
  }
}
