@function getColumns($num, $row) {
  @return $num / $row;
}

@function getExpandedColumns($num, $row) {
  @return $num / $row;
}

.categorical-list {
  display: flex;
  height: 100%;
  justify-content: center;

  &__content {
    --categorical-available-height: calc(100vh - var(--categorical-bucket-basis) -
      var(--interface-prompt-flex-basis) - var(--categorical-padding-top) -
      var(--categorical-padding-bottom));
    --num-categorical-items: 8;
    --num-categorical-rows: 2;

    align-self: center;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, calc(var(--categorical-available-height) / var(--num-categorical-rows)));
    grid-template-rows: repeat(var(--num-categorical-rows), 1fr);
    height: 100%;
    justify-content: center;
    overflow: hidden;
    width: calc((var(--categorical-available-height) / var(--num-categorical-rows)) * ((var(--num-categorical-items) + (var(--num-categorical-rows) - 1)) / var(--num-categorical-rows)));

    &--expanded {
      --num-categorical-rows: 3;
      --categorical-expanded-span: 3;
      width: calc((var(--categorical-available-height) / var(--num-categorical-rows)) * (((var(--num-categorical-items) + (var(--num-categorical-rows) - 1)) / var(--num-categorical-rows)) + var(--categorical-expanded-span)));
    }

    @media screen and (max-aspect-ratio: 7 / 5) {
      --num-categorical-rows: 3;

      &--expanded {
        --categorical-expanded-span: 2;
      }
    }

    @media screen and (max-aspect-ratio: 1 / 1) {
      --num-categorical-rows: 4;

      &--expanded {
        --num-categorical-rows: 5;
        --categorical-expanded-span: 2;
      }
    }

    @media screen and (min-aspect-ratio: 5 / 1) {
      --num-categorical-rows: 1;

      &--expanded {
        --num-categorical-rows: 2;
        --categorical-expanded-span: 2;
      }
    }
  }
}
