.categorical-item {
  --categorical-item-color: var(--primary);
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;

  .categorical-item__disk {
    @include transition-properties((background-color transform), var(--animation-easing), var(--animation-duration-standard));
    transform-origin: center;
    background-color: var(--background);
    border: solid .3rem var(--categorical-item-color);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .categorical-item__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &:hover {
    &:not(.categorical-item--hover) {
      &:not(.categorical-item--expanded) {
        .categorical-item__disk {
          background-color: var(--categorical-item-color);
        }
      }
    }
  }

  &--hover {
    .categorical-item__disk {
      transform-origin: center;
      transform: scale(1.05);
      background-color: var(--categorical-item-color);
    }
  }

  &__title {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: spacing(.5) spacing(1);
    text-align: center;

    h3,
    h5 {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    h5 {
      margin: 0;
    }
  }

  &--expanded {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: var(--z-global-ui);

    .categorical-item__inner {
      padding: 5vh 5vh 7vh 5vh;
    }

    .categorical-item__disk {
      border: solid .3rem var(--categorical-item-color);
      border-radius: 50%;
    }

    &.categorical-item--hover {
      @include transition-properties((width height margin), var(--animation-easing), var(--animation-duration-standard));
      margin: 0;

      .categorical-item__content {
        padding: 1rem 2rem;
        transition: padding var(--animation-duration-standard) var(--animation-easing);
      }
    }

    .categorical-item__title,
    h3 {
      overflow: initial;
      width: 80%;
      margin: 0 auto;
    }

    .categorical-item__content {
      // clip-path: circle();
      // shape-outside: circle();
      width: 100%;
      padding: 1rem;
      transition: padding var(--animation-duration-standard) var(--animation-easing);
    }
  }

  &__content {
    height: 100%;

    .scrollable {
      @include scroller-mask($scroller-top-padding-small);
      height: 100%;
    }

    .node {
      font-size: calc(var(--base-node-size) * .66);
    }
  }
}
