.categorical-list {
  display: flex;
  height: 100%;
  justify-content: center;

  &__inner {
    display: flex;

    @media screen and (max-aspect-ratio: 1 / 1) {
      flex-direction: column;
      place-items: center;
    }
  }

  &__content {
    --categorical-available-height: calc(100vh - var(--categorical-bucket-basis) -
      var(--interface-prompt-flex-basis) - var(--categorical-padding-top) -
      var(--categorical-padding-bottom));
    --num-categorical-items: 8;
    --num-categorical-rows: 2;

    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;

    &--expanded {
      display: flex;
      align-items: center;
      justify-content: center;
      --num-categorical-rows: 3;
    }

    @media screen and (max-aspect-ratio: 7 / 5) {
      &--expanded {
        --num-categorical-rows: 4;
      }
    }

    @media screen and (max-aspect-ratio: 4 / 3) {
      --num-categorical-rows: 2;

      &--expanded {
        --num-categorical-rows: 4;
      }
    }

    @media screen and (max-aspect-ratio: 1 / 1) {
      --num-categorical-rows: 4;

      &--expanded {
        --num-categorical-rows: 5;
      }
    }

    @media screen and (min-aspect-ratio: 5 / 1) {
      --num-categorical-rows: 1;

      &--expanded {
        --num-categorical-rows: 2;
      }
    }
  }

  &__expanded-bin {
    display: flex;
  }
}
