.categorical-list {
  --categorical-item-margin: .6rem;
  --categorical-item-multiplier: 1;
  --categorical-list-columns: 4;
  --categorical-list-rows: 2;
  --categorical-item-size: 100px;
  --categorical-list-expanded-bin-size: 100px;
  height: 100%;
  width: 100%;
  position: relative;

  &__item {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  &__items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
//    display: flex;
//    flex-wrap: wrap;
//    align-items: flex-start;
//    width: 100%;
//    height: 100%;
//
//    .categorical-list__item {
//      height: calc(100% / var(--categorical-list-rows));
//      width: calc(100% / var(--categorical-list-columns));
//    }
  }

  &__expanded-bin {
    // @include transition-properties((width), var(--animation-easing), var(--animation-duration-standard));
    width: 0;
    float: left;
  }

  // Hide until we've calculated sizes
  .categorical-list__items.categorical-list__items--sized {
    opacity: 1;
  }

  &--expanded {
    .categorical-list__expanded-bin {
      display: flex;
      max-width: 67%;
      width: var(--categorical-list-expanded-bin-size);
    }
  }
}
