.categorical-item {
  --categorical-item-margin: 1.5rem;

  display: flex;
  border: solid .5rem;
  border-radius: 50%;
  margin: var(--categorical-item-margin);

  &--hover {
    background-color: var(--panel-selected-node-bg-color);
  }

  &__title {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 0 spacing(1);
    text-align: center;

    h5 {
      margin: 0;
    }
  }

  &--expanded {
    align-items: center;
    border: solid .5rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    grid-row: span var(--categorical-expanded-span);
    grid-column: span var(--categorical-expanded-span);
    justify-content: center;
    margin: 0;
    padding: 5vh;
  }

  &__content {
    height: 100%;

    .scrollable {
      @include scroller-mask($scroller-top-padding-small);
      height: 100%;

      .node_list {
        height: 100%;
      }
    }
  }
}
