.convex-hull {
  @include gpu;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  mix-blend-mode: lighten;

  polygon {
    stroke-linejoin: round;
    stroke-width: calc((var(--base-node-size) / 2) + 1rem);
    opacity: 0.5;
  }
}

@for $i from 1 through 10 {
  .convex-hull__cat-color-seq-#{$i} {
    polygon {
      stroke: var(--cat-color-seq-#{$i});
      fill: var(--cat-color-seq-#{$i});
    }
  }
}
