$component-name: dialog;

.#{$component-name} {
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparentize(palette('modal-overlay'), .1);

  &__window {
    width: 750px;
    background: palette('modal-main-panel');
    box-shadow: 0 0 4px 0 transparentize(color('rich-black'), .5);
    position: relative;
    border-left: 15px solid palette('primary');
  }

  &__layout {
    display: flex;
    max-height: 80vh;
    margin: 25px 40px;

    &-content {
      order: 1;
      flex: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-title {
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 20px;
    }

    &-icon {
      order: 1;
      flex: 1;
      .icon[name='info'] {
        height: 130px;
        width: 130px;
        margin-right:20px;
      }
    }
  }

  &__footer {
    margin: 25px 40px;
    text-align: right;
    .button {
      &:not(last-child) {
        margin-right: 20px;
      }
    }
  }

  &__close {
    background: transparent;
    background-image: url('../images/close.svg');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 0 50%;
    padding-left: 25px;
    text-transform: uppercase;
    border: 0;
    position: absolute;
    right: 35px;
    top: 35px;
    color: palette('text');
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &--transition {
    @include group-transition(fade, $animation-standard-duration);

    @include group-transition-enter {
      .#{$component-name}__window {
        transform: translate(0, -100vh);
      }

      &-active {
        .#{$component-name}__window {
          transition: transform $animation-default-easing $animation-fast-duration;
          transform: translate(0, 0);
        }
      }
    }

    @include group-transition-leave {
      .#{$component-name}__window {
        transform: translate(0, 0);
      }

      &-active {
        .#{$component-name}__window {
          transition: transform $animation-default-easing $animation-fast-duration;
          transform: translate(0, -100vh);
        }
      }
    }
  }
}
