.draggable-preview {
  z-index: var(--z-global-ui);
  cursor: grabbing;

  .node {
    font-size: calc(var(--base-node-size) * 1.1);
    filter: drop-shadow(0 1rem 2rem var(--transparent-dark));
  }

  .session-card {
    min-width: 25rem;
    filter: drop-shadow(0 1rem 2rem var(--transparent-dark));
  }
}
