.edge-layout {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  line {
    stroke-width: 5;
    vector-effect: non-scaling-stroke;
  }
}
