.edge-layout {
  --border: calc(var(--base-node-size) * 0.275);

  @include gpu;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  line {
    stroke-width: 5;
    vector-effect: non-scaling-stroke;
  }
}
