.form-wizard {
  --button-size: #{unit(10)};

  margin: 0 calc(var(--button-size));
  justify-self: center;
  flex: 1;
  width: 100%;

  form {
    max-width: 60rem;
    margin: 0 auto;
  }

  // Used to hide the visible button
  .form__next-button {
    background: none;
    border: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
  }

  .wizard-navigation-button {
    @include clickable;
    height: var(--button-size);
    width: var(--button-size);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--button-size);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &--left {
      left: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      background-color: var(--color-platinum);
    }

    &--right {
      right: 0;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      background-color: var(--primary);
    }

    .icon {
      height: calc(var(--button-size) / 2);

      &[name='tick'],
      &[name='chevron-right'] {
        .cls-1  {
          fill: var(--color-white);
        }
      }


      &[name='chevron-left'] {
        .cls-2 {
          fill: var(--color-charcoal);
        }
      }
    }
  }

}
