.form-wizard {
  &__pips {
    left: 50%;
    position: absolute;
    top: 2rem;
    transform: translateX(-50%);
  }

  .icon {
    &[name='form-arrow-left'],
    &[name='form-arrow-right'] {
      height: 5rem;

      .cls-2 {
        fill: palette('light-background');
      }

      .cls-3 {
        fill: palette('primary');
      }
    }
  }

  &__previous {
    left: 0;
  }

  &__previous,
  .form__button-container {
    display: flex;
    max-width: 25%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  // On last step, contains "Finished"
  .form__button-container {
    right: 0;

    .button {
      border-radius: 5rem;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      margin-bottom: 1em;
      min-height: 5rem;
      width: 90%;
    }

    .form__next-button {
      background: none;
      border: 0;
      line-height: 0;
      margin: 0;
      padding: 0;
    }
  }

  form {
    > div {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
