.form {
    &__button-container {
      display: flex;
      justify-content: space-around;

      .toggle__container {
        padding-left: 2em;

        .toggle__slider {
          margin-bottom: 1em;
        }
      }
    }
}
