$asset-size-large: 64vh;
$asset-size-medium: 32vh;
$asset-size-small: 16vh;
$asset-size-default: 16vh;

.information-interface {
  @include interface-centering;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__frame {
    width: 80%;
    max-width: 50rem;
  }

  &__title {
    text-align: center;
  }

  &__items {
    margin-top: spacing('large');
    max-height: calc($asset-size-large + #{spacing('medium') * 4});
    overflow: hidden;
  }

  &__item {
    // sass-lint:disable-block class-name-format
    margin-top: spacing('medium');
    height: $asset-size-small;
    overflow: hidden;

    video {
      width: 100%;
      height: 100%;
    }

    &--size {
      &-SMALL {
        height: $asset-size-small;
      }

      &-MEDIUM {
        height: $asset-size-medium;
      }

      &-LARGE {
        height: $asset-size-large;
      }
    }

    &--type {
      &-audio {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &-text {
        overflow-x: hidden;
        overflow-y: auto;
        height: auto;
        max-height: $asset-size-small;

        &.information-interface__item--size-SMALL {
          max-height: $asset-size-small;
        }

        &.information-interface__item--size-MEDIUM {
          max-height: $asset-size-medium;
        }

        &.information-interface__item--size-LARGE {
          max-height: $asset-size-large;
        }
      }
    }
  }

  &__background-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
