.instructions-interface {
  @include interface-centering;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__frame {
    width: 80%;
  }

  &__title {
    text-align: center;
  }

  &__items {
    margin-top: spacing('large');
  }

  &__item {
    margin-top: spacing('medium');

    video,
    img {
      width: 100%;
    }
  }
}
