.list-select {
  display: flex;
  flex-direction: column;
  height: 100%;
  @include breakpoint(full) {
    margin: 0 100px;
  }
  max-height: inherit;
  overflow: hidden;
  position: relative;

  &__filter {
    border-radius: 10rem;
    width: 13rem;
    min-height: 3.5rem;
    padding: .75rem 2rem;
    margin: 1rem;
    border: 1px solid var(--color-platinum);
    background-clip: padding-box;
  }

  &__sort {
    button {
      margin: 1rem;
    }
  }

  &__submit {
    align-self: flex-end;
    margin: 10px;
  }
}
