.list-select {
  display: flex;
  flex-direction: column;
  height: 100%;
  @include breakpoint(full) {
    margin: 0 100px;
  }
  max-height: inherit;
  overflow: hidden;
  position: relative;

  .card-list {
    padding-bottom: 0;
    padding-top: 1rem;
  }

  &__filter {
    border-radius: 10rem;
    width: 13rem;
    min-height: 3.5rem;
    padding: 0 2rem;
    margin: 0 1rem;
    border: 0;
    background: var(--input-background);
    color: var(--input-color);
    background-clip: padding-box;
    font-family: var(--heading-font-family);
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    &::placeholder {
      color: var(--input-placholder);
      font-style: italic;
    }
  }

  &__sort {
    button {
      margin: 0 1rem;
    }
  }

  &__submit {
    align-self: flex-end;
    margin: 10px;
  }
}
