@keyframes menu-button-move {
  0%    { transform: translateY(-150px); }
  100%  { transform: translateY(0); }
}

.menu {
  position: absolute;

  &__wrap {
    // General sidebar styles
    height: 100%;
    left: 0;
    position: fixed;
    transform: translate3d(-100%, 0, 0);
    transition: all $animation-standard-duration $animation-default-easing;
    width: 370px;

    &--open {
      transform: translate3d(0%, 0, 0);
    }

    @include breakpoint(full) {
      width: 425px;
    }
  }

  &__content {
    background: palette('menu');
    color: palette('menu-headings');
    display: flex;
    height: 100%;
  }

  // Menu header
  &__title {
    color: palette('menu-headings');
    font-weight: 700;
    line-height: 2.5rem;
    padding: $padding-base-vertical $spacer-4;
  }

  &__search {
    padding: 1rem;

    &--closed {
      // Hiding the input keeps iOS from displaying input nav keys to it
      visibility: hidden;
    }

    input {
      border-radius: .5rem;
      outline: none;
      padding: .3rem;
      width: 100%;

      &:focus {
        border-width: 3px;
      }

      &:not(:focus) {
        margin: 1px;
      }
    }
  }

  // Wrapper for item list
  &__menuitem {
    align-items: center;
    background-position: 25px 50%;
    background-repeat: no-repeat;
    background-size: 35px;
    border-top: 1px solid palette('divider');
    color: palette('menu-headings');
    cursor: pointer;
    display: flex;
    font-weight: 500;
    letter-spacing: 3px;
    padding: 15px 25px 15px 20px;
    text-decoration: none;
    text-transform: uppercase;

    &--settings:not(:hover):not(.menu__menuitem--active) .icon {
      @include color-icon('slate-blue');
    }

    &--primary:not(:hover):not(.menu__menuitem--active) .icon {
      @include color-icon('sea-green');
    }

    &--active,
    &:hover {
      color: palette('menu');
      text-decoration: none;
    }

    &--active {
      background-color: palette('primary');

      &.menu__menuitem--settings {
        background-color: palette('settings');
      }
    }

    &:hover {
      background-color: darken(palette('primary'), 5%);

      &.menu__menuitem--settings {
        background-color: darken(palette('settings'), 5%);
      }
    }

    &:focus {
      outline: 0;
    }

    .icon {
      padding-right: 10px;
    }
  }

  &__cross {
    cursor: pointer;
    float: right;
    margin: 17px;

    &[name='close'] {
      height: 20px;
      width: 20px;
    }
  }

  &__burger {
    animation-delay: 0;
    animation-duration: $animation-slow-duration;
    animation-name: menu-button-move;
    animation-timing-function: $animation-default-easing;
    cursor: pointer;
    left: 40px;
    position: absolute;
    top: 40px;
    z-index: 3;

    &[name='settings'] {
      height: 55px;
      width: 55px;
    }

    &[name='menu'] {
      height: 40px;
      width: 40px;
    }
  }

  ~ .menu {
    .menu__burger {
      margin-top: 95px;
    }
  }
}
