.menu {
  position: absolute;

  &__scroller {
    .menu__cross {
      margin-top: $scroller-top-padding;
    }
  }

  &__wrap {
    // General sidebar styles
    height: 100%;
    left: 0;
    position: fixed;
    transform: translate3d(-100%, 0, 0);
    transition: transform var(--animation-duration-standard) var(--animation-easing);
    width: 20rem;

    &--open {
      transform: translate3d(0%, 0, 0);
    }
  }

  &__content {
    background: palette('menu');
    color: palette('menu-headings');
    display: flex;
    height: 100%;
  }

  // Menu header
  &__title {
    color: palette('menu-headings');
    font-weight: 700;
    line-height: 2.5rem;
    padding: $padding-base-vertical $spacer-4;
  }

  &__search {
    padding: 1rem;

    &--closed {
      // Hiding the input keeps iOS from displaying input nav keys to it
      visibility: hidden;
    }

    input {
      border-radius: .5rem;
      outline: none;
      padding: .3rem;
      width: 100%;

      &:focus {
        border-width: 3px;
      }

      &:not(:focus) {
        margin: 1px;
      }
    }
  }

  // Wrapper for item list
  &__menuitem {
    align-items: center;
    border-top: .05rem solid palette('divider');
    color: palette('menu-headings');
    cursor: pointer;
    display: flex;
    font-weight: 700;
    letter-spacing: .15rem;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;

    &--settings {
      &:not(:hover) {
        &:not(.menu__menuitem--active) {
          .icon {
            @include color-icon('slate-blue');
          }
        }
      }
    }

    &--primary {
      &:not(:hover) {
        &:not(.menu__menuitem--active) {
          .icon {
            @include color-icon('sea-green');
          }
        }
      }
    }

    &--active,
    &:hover {
      color: palette('menu');
      text-decoration: none;
    }

    &--active {
      background-color: palette('primary');

      &.menu__menuitem--settings {
        background-color: palette('settings');
      }
    }

    &:hover {
      background-color: var(--menu-item-hover);

      &.menu__menuitem--settings {
        background-color: var(--menu-item-hover-settings);
      }
    }

    &:focus {
      outline: 0;
    }

    .icon {
      padding-right: 1rem;

      &[name='settings'] {
        height: 2rem;
        width: 2rem;
      }
    }
  }

  &__cross {
    cursor: pointer;
    float: right;
    margin: 2rem;

    &[name='close'] {
      height: 1rem;
      width: 1rem;
    }
  }

}
