.modal {
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparentize($rich-black, 0.25);

  &__window {
    width: 500px;
    height: 400px;
    background: $dark-platinum;
    color: $rich-black;
    padding: 30px;
    border-radius: 15px;
  }
}
