$component-name: modal;

.#{$component-name} {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-overlay);
  }

  &__window {
    position: relative;
  }

  &__layout {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    height: inherit;

    &-content {
      height: inherit;
    }

    &-title {
      padding: 1rem 0;
      text-align: center;
    }
  }

  $button-size: 1rem;

  &__close {
    background: transparent;
    background-image: url('../images/close.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 50%;
    text-transform: uppercase;
    border: 0;
    position: absolute;
    height: $button-size;
    width: $button-size;
    right: 2rem;
    top: 2rem;
    color: palette('text');
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &--fullscreen {
    display: block;

    .#{$component-name} {
      &__background {
        background-color: palette('background');
      }

      &__window {
        height: 100vh;
      }

      &__layout {
        display: block;

        &-title {
          display: block;
          padding-top: 5rem;
          text-align: center;
        }
      }
    }

    .input__container--hidden {
      position: absolute;
    }

    .form {
      &__button-container {
        display: flex;
        justify-content: space-around;

        .toggle__container {
          padding-left: 2em;
        }
      }
    }
  }

  &:not(&--fullscreen) {
    .#{$component-name} {
      &__window {
        background: palette('modal-main-panel');
        width: 40rem;
        border-radius: var(--border-radius);
      }

      &__layout {
        max-height: 80vh;
        margin: 2rem;

        &-content {
          overflow-x: hidden;
          overflow-y: auto;

          & > form {
            flex-direction: column;
          }
        }
      }
    }
  }
}
