.name-generator {

  height: 100vh;
  padding: 20px 0 80px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__prompt {
    flex: 0 0 200px;
  }

  &__main {
    flex: 1 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    position: relative;
  }

  &__nodes {
    flex: 3 1 auto;
    height: 100%;
    position: relative;

    .node {
      width: 175px;
      height: 175px;
    }
  }

  &__panels {
    flex: 0 0 auto;
    height: 100%;
    display: flex;
  }

  &__add-person {
    @include svg-button('../images/add-a-person.svg');
    position: absolute;
    bottom: 35px;
    right: 35px;
    width: 140px;
    height: 120px;
    z-index: 1000;
  }

  &__node-bin {
    background: transparent;
    background-image: url('../images/node-bin.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 35px;
    left: 35px;
    width: 60px;
    height: 80px;
    z-index: 1000;
  }

}
