.preset-switcher-key {
  display: flex;
  z-index: var(--z-global-ui);
  bottom: 7rem;
  width: 18rem;
  position: fixed;
  right: 0;
  margin-right: 6.1rem; // distance of preset-switcher from right side
  max-height: 90vh;

  &__content {
    background-color: var(--light-background);
    width: 100%;
    transition: opacity var(--animation-duration-fast) var(--animation-easing);
    opacity: 1;
    overflow: hidden auto;
  }

  &__icon {
    height: 1rem;
  }

  &:not(.preset-switcher-key--open) {
    height: 0;
    transition-delay: unset;

    .preset-switcher-key__content {
      opacity: 0;
    }
  }
}
