.narrative-key {
  display: flex;
  z-index: var(--z-panel);
  bottom: 7rem;
  width: 18rem;
  position: fixed;
  right: 0;
  margin-right: 6rem;

  &__content {
    z-index: var(--z-panel);
    background-color: var(--light-background);
    width: 100%;
    transition: opacity var(--animation-duration-fast) var(--animation-easing);
    opacity: 1;
    overflow: hidden auto;
  }

  &__icon {
    height: 1rem;
  }

  &:not(.narrative-key--open) {
    height: 0;
    transition-delay: unset;

    .narrative-key__content {
      opacity: 0;
    }
  }
}
