.narrative-control-panel {
  --narrative-panel-width: 20rem;
  display: flex;
  height: 100%;
  z-index: var(--z-panel);
  transform: translateX(0);
  position: absolute;
  right: 0;
  transition: transform var(--animation-duration-standard) var(--animation-easing);

  &__content {
    width: var(--narrative-panel-width);
    z-index: var(--z-panel);
    background-color: var(--light-background);
  }

  &__icon {
    height: 1rem;
  }

  &:not(.narrative-control-panel--open) {
    transform: translateX(20rem);

    .narrative-control-panel__icon--open {
      display: none;
    }
  }

  &--open {
    .narrative-control-panel__icon--close {
      display: none;
    }
  }

  &__toggle {
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
    display: flex;
    align-self: center;
    background: var(--primary);
    border-radius: 100%;
    height: 4rem;
    width: 4rem;
    position: absolute;
    margin-left: -2rem;
    z-index: var(--z-panel);
  }
}
