.new-filterable-list {
  --transparent-background: #{transparentize(rgb(0, 0, 0), 0.8)};
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: hidden;
  border-radius: var(--border-radius);
  background: var(--transparent-background);

  .card-list {
    padding-bottom: 0;
    padding-top: 1rem;
  }

  &__header {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    align-content: space-evenly;
    justify-content: space-between;
    margin: unit(1) 0;

    &-section {

      &--sort {
        overflow-x: auto;
        flex: 1 1 auto;
        $opaque: rgba(0, 0, 0, 1);
        $distance: unit(2);
        -webkit-mask-image: linear-gradient(90deg, transparent, $opaque unit(2), $opaque calc(100% - #{unit(2)}), transparent 100%); //sass-lint:disable-line no-vendor-prefixes
        mask-image: linear-gradient(90deg, transparent, $opaque unit(2), $opaque calc(100% - #{unit(2)}), transparent 100%);

        .scroll-container {
          white-space: nowrap;
        }
      }

      &--filter {
        flex: 1 1 auto;
        padding: 0 unit(2);
        display: flex;
        max-width: 30rem;
      }

      .filter-button {
        cursor: pointer;
        display: inline-block;
        font-weight: 700;
        font-size: 0.8rem;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: var(--white);
        opacity: 0.5;
        margin: 0 unit(2);
        padding: unit(2);
        transition: color var(--animation-easing) var(--animation-duration-standard), opacity var(--animation-easing) var(--animation-duration-standard);

        &:hover {
          opacity: 1;
          color: var(--primary);
        }

        &--active {
          opacity: 1;
        }
      }

      h4 {
        display: inline;
        font-size: 0.8rem;
      }

      .form-field-container {
        display: inline-block;
        margin: 0;
        flex: 1;
        min-width: unit(25);
      }

      input {
        margin-bottom: 0;
      }
    }
  }

  &__main {
    @include scrollable(unit(1));
    flex: 1 1 auto;
    padding: 0 unit(1);

    > * {
      width: 50%;
      float: left;
      padding: unit(1);
    }

    &:empty {
      display: flex;
      justify-content: center;
      align-items: center;

      &::after {
        width: 100%;
        height: 100%;
        min-height: unit(20);
        display: flex;
        justify-content: center;
        align-items: center;
        content: 'No items to display.';
      }
    }

    .loading-state {
      padding: unit(4);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
}
