.node-bin {
  @include transition-properties((opacity transform), var(--animation-easing), var(--animation-duration-fast));

  background: transparent;
  background-image: url('../images/node-bin.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 5rem;
  height: 7rem;
  transform: translateY(1.8rem);
  opacity: 0;
  position: absolute;
  bottom: 1.8rem;
  left: 50%;
  overflow: hidden;
  z-index: var(--z-fx);
  filter: drop-shadow(0 2.4rem 2.4rem var(--drop-shadow-color));

  &--active {
    transform: translateY(0);
    opacity: 1;
  }

  &--hover {
    transform: scale(2);
  }
}
