.node-layout {
  --border: calc(var(--base-node-size) * 0.275);
  @include gpu;
  position: absolute;
  width: calc(100% - 2 * var(--border));
  height: calc(100% - 2 * var(--border));
  top: var(--border);
  left: var(--border);

  &__node {
    @include gpu;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  .node {
    margin: 0;
    font-size: calc(var(--base-node-size) * .55);
  }
}
