@use '~@codaco/ui/src/styles/global/core/units';

.node-bucket {
  // sass-lint:disable-block no-color-literals
  --node-bucket-bg: rgb(255 255 255 / 40%);

  position: absolute;
  bottom: 0;
  left: calc(50% - #{units.unit(7.5)});
  background: var(--node-bucket-bg);
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: units.unit(15);
  width: units.unit(15);
  overflow: hidden;

  .node {
    font-size: calc(var(--base-node-size) * .66);
  }
}
