.node-list {
  @include gpu;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  min-height: 100%;
  padding-bottom: 50px;

  &--hover,
  &--drag {
    background-color: var(--node-list-action-bg);
  }

  &--transition {
    @include group-transition(fade, $animation-fast-duration);

    &-appear,
    &-enter {
      display: block;

      &-active {
        &.node--placeholder {
          opacity: .25;
        }
      }
    }
  }
}
