.overlay {

  &:not(.overlay--fullscreen) {
    &.node-form {
      max-width: 70rem;
  
      &.overlay--fullscreen {
        max-height: 100%;
      }
  
      .overlay__content {
        display: flex;
        flex-direction: column;
      }
  
      .scrollable {
        height: calc(100% - 4rem);
        padding-top: 1.5rem;
      }
  
      .node-form__footer {
        text-align: right;
        height: 4rem;
      }
    }
  }
}
