.node-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  min-height: 100%;
  margin-bottom: 50px;
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0,0,0);
  transform: translateZ(0);
  background-color: transparent;
  transition: background-color ease $animation-fast-duration;

  &--hover {
    background-color: transparentize(palette('ring'), .5);
  }

  &--transition {
    @include group-transition(fade, $animation-fast-duration);

    &-appear,
    &-enter {
      display: block;

      &-active {
        &.node--placeholder {
          opacity: .25;
        }
      }
    }
  }
}
