$node-inset: 1rem;  // approximate scaled margin + 'outer-trim' of a node

.node-list {
  @include gpu;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  min-height: 100%;
  width: 100%;

  &--hover,
  &--drag {
    background-color: var(--node-list-action-bg);
  }

  &--transition {
    @include group-transition(fade, var(--animation-duration-fast));

    &-appear,
    &-enter {
      display: block;

      &-active {
        &.node--placeholder {
          opacity: .25;
        }
      }
    }
  }
}
