.node {
  background: map-get($roles, node);
  display: inline-block;
  margin: 1rem;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  cursor: default;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  user-select: none;

  em {
    display: block;
    font-size: 0.5em;
  }

  &--is-selected {
    border: 3px solid $mustard;
  }
}
