.node {
  background: map-get($roles, node);
  display: inline-block;
  margin: 1rem;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  cursor: default;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
  transition: width 300ms ease, height 300ms ease;

  em {
    display: block;
    font-size: 0.5em;
  }

  &--is-active {
    border: 3px solid $mustard;
  }
}
