.overlay {
  &.node-form {
    max-height: calc(100% - 4rem);

    &.overlay--fullscreen {
      max-height: 100%;
    }

    .overlay__content {
      display: flex;
      flex-direction: column;
    }

    .scrollable {
      height: calc(100% - 4rem);
      padding-top: 1.5rem;
    }

    .node-form__footer {
      height: 4rem;
    }
  }
}
