.node-bucket {
  background: radial-gradient(
    ellipse at center,
    transparentize(palette('background'), .5)  0%,
    transparentize(palette('ring'), .5) 100%
  );
  border-radius: 150px;
  padding: 20px;
  .node {
    font-size: calc(var(--base-node-size) * 0.66);
  }
}
