.node-bin {
  @include transition-properties((opacity transform), var(--animation-easing), var(--animation-duration-fast));
  background: transparent;
  background-image: url('../images/node-bin.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 60px;
  height: 80px;
  transform: translate3d(0, 200px, 0);
  opacity: 0;

  &--active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  &--hover {
    width: 120px;
    height: 160px;
  }
}
