// @mixin generate-bins($number) {
//   @for $number from 2 through 6 {


//   }
// }

.ordinal-bin {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-bottom: 20px solid palette('primary');
  flex: 1;

  &--title {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: palette('primary');
  }

  &--content {
    display: flex;
    flex: 1;
    flex-grow: 5;
    align-items: center;
    justify-content: center;
    background: palette('light-background');
  }
}
