.ordinal-bin {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;

  .scrollable {
    @include scroller-mask($scroller-top-padding-small);

    .node-list {
      padding-top: max(0, $scroller-top-padding-small - $node-inset);
    }
  }

  &--title {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
      margin: 0;
    }

  }

  &--content {
    display: flex;
    flex: 1;
    flex-grow: 5;
    align-items: center;
    justify-content: center;
    border-bottom: 15px solid;

    .node-list {
      &--hover,
      &--drag {
        background-color: inherit;
      }
    }

    .scrollable {
      height: 100%;
    }

    .node {
      font-size: calc(var(--base-node-size) * .66);
      filter: drop-shadow(0 3px 0 var(--drop-shadow-color));
      margin: 2px;
    }

  }
}
