.ordinal-bin {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    &__bin {
        display: flex;
        flex-direction: column;
        background-color: palette('light-background');
        border-bottom: 10px solid palette('primary');
        margin: 0 0 100px;
        overflow: hidden;
        width: 100%;

        &--title {
            background-color: palette('primary');
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--content {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}