$close-button-size: 1rem;

.overlay {
  background: var(--color-cyber-grape);
  color: var(--text);
  box-shadow: 0 0 unit(8) 0 var(--modal-window-box-shadow);
  position: relative;
  border-radius: var(--border-radius);
  max-height: calc(100vh - #{unit(8)});
  width: calc(100vw - #{unit(8)});
  max-width: 80rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: unit(4);

  &__title {
    padding: 0 unit(4);
    margin: unit(4);
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    h1 {
      margin: 0;
      flex: 1 1 auto;
      text-align: center;
      padding-left: unit(4);
    }
  }

  &__content {
    flex: 1;
    display: flex;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 unit(4);
    margin-bottom: unit(4);
  }

  &__footer {
    width: 100%;
    padding: unit(2) unit(4);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  &__close {
    flex: 0 0 unit(4);

    svg {
      &.icon {
        height: unit(4);
        width: unit(4);
      }
    }
  }

  &--fullheight {
    height: 100vh;
  }

  &--fullscreen {
    width: 100vw;
    max-width: none;
    height: 100vh;
    max-height: unset;
    border-radius: 0;
    margin: 0;

    @media screen and (min-width: 90rem) {
      .new-filterable-list__main > * {
        width: 33.3%;
        float: left;
        padding: 0.6rem;
      }
    }
  }
}
