$close-button-size: 1rem;

.overlay {
  flex: 1;
  background: var(--color-cyber-grape);
  color: var(--text-light);
  box-shadow: 0 0 4rem 0 var(--modal-window-box-shadow);
  position: relative;
  border-radius: .75rem;
  display: flex;
  flex-direction: column;
  margin: unit(4);

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 5rem;
    padding: unit(4);

    h1 {
      margin: 0;
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: unit(2);
  }

  &__close {
    position: absolute;
    right: unit(4);

    svg {
      &.icon {
        height: 2rem;
        width: 2rem;
      }
    }
  }
}
