.pairing-overlay {

  &__footer {
    display: flex;
    justify-content: space-between;

    .form-field,
    .form-field-container {
      --input-background: transparent;
      margin: 0;
    }

    .form-field-toggle__button {
      background: var(--background);
    }
  }

}
