.pairing-code-input {
  text-align: center;
  display: flex;
  background: var(--background);
  padding: units.unit(4);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: var(--border-radius);
  margin-bottom: units.unit(2);

  &__characters {
    display: inline-flex;
    flex-flow: row wrap;
    margin: units.unit(2) 0;
  }

  &__character {
    --character-padding: .75rem;

    appearance: none;
    border-radius: .25rem;
    font-family: var(--code-font);
    font-size: 2rem;
    font-weight: medium;
    padding: var(--character-padding) 0;
    text-align: center;
    width: calc(1rem + var(--character-padding) * 2);
    border: 0;
    margin: .25rem;

    &:nth-of-type(4n) {
      margin-right: 1rem;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &--error {
      background-color: var(--error);
    }
  }
}
