.pairing-form {
  &__submit {
    margin-left: 1.5rem;
  }

  .button {
    &[disabled] {
      cursor: default;
      opacity: .5;
    }
  }

  &__loading {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: unit(4);
  }
}
