.pairing-code-input {
  text-align: center;

  &__characters {
    display: inline-flex;
    flex-direction: row;
    margin: unit(2) 0;
    flex-wrap: wrap;
  }

  &__character {
    --character-padding: .5rem;
    appearance: none;
    border-radius: .25rem;
    font-family: var(--code-font);
    font-size: 2rem;
    font-weight: medium;
    padding: var(--character-padding) 0;
    text-align: center;
    width: calc(1rem + var(--character-padding) * 2);
    border: 0;
    margin: .1rem;

    &:nth-of-type(4n) {
      margin-right: 1rem;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &--error {
      background-color: var(--error);
    }
  }

  &__clear {
    color: var(--color-platinum--dark);
    cursor: pointer;
    letter-spacing: 3px; // match button
    text-transform: uppercase;

    &:hover {
      color: var(--color-white);
    }
  }
}
