.panels {
  @include transition-properties((opacity width margin-right), var(--animation-default-easing), var(--animation-standard-duration));
  display: flex;
  flex-direction: column;
  opacity: 1;
  margin-right: 0;
  width:425px;
  transform: translateZ(0);
  will-change: transform;

  @include breakpoint('full') {
    margin-right: 35px;
    width: 475px;
  }

  &--minimise {
    margin-right: 0;
    width: 0;
    opacity: 0;
  }
}
