.panel {
  margin: 30px 0 0;
  background-color: palette('light-background');
  flex: 1;
  display: flex;
  flex-direction: column;
  border-bottom: 10px solid palette('primary');

  &:first-child {
    margin-top: 0;
  }

  &__heading {
    flex: 0 0 100px;
    padding: 20px;
    border-bottom: 2px solid palette('background');
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  &__content {
    flex: 1 auto;
    position: relative;
  }
}
