.panels {
  @include transition-properties((opacity width margin-right), $animation-default-easing, $animation-standard-duration);
  display: flex;
  flex-direction: column;
  opacity: 1;
  margin-right: 0;
  width: 29vw;
  max-width:435px;
  transform: translateZ(0);
  will-change: transform;

  @include breakpoint('full') {
    width:435px;
    margin-right: 30px;
  }

  &--minimise {
    margin-right: 0;
    width: 0;
    opacity: 0;
  }
}
