.panels {
  @include transition-properties((opacity flex-basis width margin-right), $animation-default-easing, $animation-standard-duration)
  display: flex;
  flex-direction: column;
  flex: 0 0 400px;
  margin-right: 50px;
  opacity: 1;

  &--minimise {
    margin-right: 0;
    width: 0;
    flex-basis: 0;
    opacity: 0;
  }
}
