.pips {
  $pip-size: 10px;

  &__pips {
    height: $pip-size;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__pip {
    width: $pip-size;
    height: $pip-size;
    margin-left: 5px;
    border-radius: $pip-size;
    line-height: $pip-size;
    background-color: transparent;
    border: 1px solid theme('light-background');
    transition: background-color 250ms ease-in;

    &:first-child {
      margin-left: 0;
    }

    &--active {
      background-color: theme('light-background');
    }
  }
}
