$block: pips;

.#{$block} {
  $pip-size: 10px;
  $large-pip-size: 15px;

  &__pips {
    height: $pip-size;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__pip {
    width: $pip-size;
    height: $pip-size;
    margin-left: 5px;
    border-radius: $pip-size;
    line-height: $pip-size;
    background-color: transparent;
    border: 1px solid palette('light-background');
    transition: background-color 250ms ease-in;

    &:first-child {
      margin-left: 0;
    }

    &--active {
      background-color: palette('light-background');
    }
  }

  &--large {
    .#{$block}__pip {
      border: 1px solid var(--primary);
      height: $large-pip-size;
      width: $large-pip-size;

      &--active {
        background-color: var(--primary);
      }
    }
  }
}
