.preset-switcher {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2rem;
  display: flex;
  flex-direction: row;

  &__navigation {
    background: var(--light-background);
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    cursor: pointer;
    transition: opacity var(--animation-duration-standard) var(--animation-duration-standard) var(--animation-easing);

    .icon {
      height: 30px;
    }

    &--next {
      border-radius: 0 50% 50% 0;
    }

    &--previous {
      border-radius: 50% 0 0 50%;
    }

    &--hidden {
      opacity: 0;
      transition-delay: unset;
    }

    &--disabled {
      background: var(--panel-bg-muted);
      pointer-events: none;

      .icon {
        .cls-2 {
          fill: rgba(255, 255, 255, .2); //sass-lint:disable-line no-color-literals
        }
      }
    }
  }

  &__label {
    display: flex;
    align-items: center;
    min-width: 18rem;
    margin: 0 0.1rem;
    flex-direction: column;
    cursor: pointer;

    h4 {
      margin: 0;
      padding: unit(3) unit(1);
      width: 100%;
      text-align: center;
      background: var(--light-background);
    }
  }
}
