.preset-switcher-key {
  display: flex;
  bottom: 7rem;
  width: auto;
  min-width: 18rem;
  position: absolute;
  right: 0;
  margin-right: 6.1rem; // distance of preset-switcher from right side
  max-height: 75%;

  &__content {
    background-color: var(--light-background);
    width: 100%;
    transition: opacity var(--animation-duration-fast) var(--animation-easing);
    opacity: 1;
    overflow: hidden auto;
  }

  &__icon {
    height: 1rem;
  }

  &:not(.preset-switcher-key--open) {
    height: 0;
    transition-delay: unset;
    overflow: hidden;

    .preset-switcher-key__content {
      opacity: 0;
    }
  }
}
