$component: 'protocol-card';

.#{$component} {
  @include clickable(3);

  background: var(--color-platinum);
  color: var(--color-navy-taupe);
  border-radius: var(--border-radius);
  display: flex;
  overflow: hidden;
  margin: unit(2);
  flex-direction: column-reverse;
  max-height: 22rem;

  &__icon-section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aab0fd;
    background: var(--color-slate-blue--dark);
    flex-direction: row;
    padding: unit(1) unit(4);

    .protocol-icon {
      flex: 0 1 3rem;
      height: 100%;
      display: flex;

      .icon {
        flex: 0 1 auto;
        height: 100% !important;
        width: 100% !important;
      }
    }

    .protocol-meta {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h6 {
        margin: 0.3rem;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 0.6rem;
      }
    }
  }

  &__main-section {
    flex: 0 1 auto;
    padding: unit(2) unit(4) 0;
    flex-direction: column;

    .protocol-name {
      flex: 0 0 auto;
      margin: 0;
      align-items: center;
      display: flex;
      hyphens: auto;
    }

    .protocol-description {
      height: unit(12);
      overflow-y: auto;
      overflow-x: hidden;
      padding: unit(2) 0;
      margin: 0;
      font-size: 0.85rem;
    }

  }

  .status-icon {
    height: 3rem;
    width: 3rem;
    text-align: center;
    background: var(--info);
    padding: unit(1);
    margin-left: unit(1);
    border-radius: 50%;
    display: inline-block;

    .icon {
      width: 100% !important;
      height: 100% !important;
    }
  }

}
