$component: 'protocol-card';

.#{$component} {
  align-items: center;
  background-color: var(--background);
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: spacing(huge);

  &__icon {
    height: 10rem;
    width: 10rem;
    margin-bottom: 1.5rem;
  }

  // Large variant displayed on the startup screen
  &--large {
    background-color: var(--light-background);
    flex-direction: column;
    height: 30vh;
    max-height: 20rem;
    max-width: 25rem;
    margin: 0 auto;
    text-align: center;
    width: 45vw;
    justify-content: center;
  }

}
