$component: 'protocol-card';

.#{$component} {
  position: relative;
  background-color: var(--color-platinum);
  border-radius: var(--border-radius);
  padding: unit(6) unit(4) unit(4);
  width: 20rem;
  border-bottom: .75rem solid var(--color-platinum--dark);
  color: var(--color-charcoal);
  height: 40vh;
  max-height: 22rem;

  &--warning {
    border-bottom-color: var(--warning);
  }

  &--info {
    border-bottom-color: var(--info);
  }

  &--error {
    border-bottom-color: var(--error);
  }

  &__name {
    // sass-lint:disable-block no-vendor-prefixes
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    height: 3rem;
  }

  &__description {
    height: calc(100% - 10rem);
    // margin: unit(2) 0;
    overflow-y: auto;
    font-weight: normal;
  }

  &__delete {
    position: absolute;
    top: unit(1.5);
    right: unit(1.5);
    padding: unit(.5);
    cursor: pointer;

    .icon {
      height: unit(1.5);

      .cls-1 {
        fill: var(--text--dark);
      }
    }
  }

  .start-button {
    background: var(--color-platinum--dark);
    border-radius: 5rem;
    display: flex;
    cursor: pointer;
    align-items: center;
    box-shadow: 0 0.15rem rgba(0, 0, 0, 0.25); //sass-lint:disable-line no-color-literals
    height: 5rem;

    &--disabled {
      opacity: 0.5;
      filter: saturate(0);
      pointer-events: none;
    }

    &__text {
      font-weight: 500;
    }

    &__protocol-icon {
      height: 5rem;
      width: 6rem;
      text-align: center;
    }

    &__arrow {
      width: 4rem;
      height: 1rem;

      .cls-2 {
        fill: var(--color-charcoal);
      }
    }
  }

  &__info,
  &__warning,
  &__error {
    position: absolute;
    top: unit(-2);
    left: unit(-2);
    height: unit(8);
    width: unit(8);
    border-radius: 50%;
    cursor: pointer;

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: unit(4);
      width: unit(4);
    }
  }

  &__info {
    background: var(--info);
  }

  &__warning,
  &__error {
    background: var(--warning);
  }

  &__error {
    background: var(--error);
  }
}
