.progress-bar {
  background-color: var(--light-background);
  flex-grow: 1;
  position: relative;
  border-radius: 4rem;
  overflow: hidden;

  &--vertical {
    width: .7rem;
    margin: 1rem 0;

    .progress-bar__filler {
      width: 100%;
      transition: height calc(var(--animation-duration-standard)*3) var(--animation-easing);
    }
  }

  &--horizontal {
    height: .7rem;

    .progress-bar__filler {
      height: 100%;
      transition: width calc(var(--animation-duration-standard)) var(--animation-easing);
    }

  }

  &__filler {
    background-color: var(--transparent-light);
    position: absolute;
    border-radius: inherit;
  }

  &--complete {
    .progress-bar__filler {
      background-color: var(--primary);
    }
  }
}


