$module-name: prompts;

.#{$module-name} {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__prompts {
    flex: 1 auto;
    position: relative;
  }

  &__minimizer {
    position: absolute;
    right: 0;
    top: 0;
    padding: spacing(small);
    cursor: pointer;
  }

  &--minimized {
    @include transition-properties((width, height, visibility), var(--animation-easing), var(--animation-duration-fast));
    width: 0;
    height: 0;
    visibility: hidden;

    + .prompts__minimizer {
      position: initial;
    }
  }

  &__prompt {
    --prompt-background: var(--background);
    width: 100%;
    height: 100%;
    transform: translateX(40%);
    top: 0;
    position: absolute;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    transition: transform var(--animation-duration-standard) var(--animation-easing), opacity var(--animation-duration-fast) var(--animation-easing);
    text-align: center;

    &--active {
      opacity: 1;
      transform: translateX(0);
    }

    &--leaving {
      opacity: 0;
      transform: translateX(-40%);
      pointer-events: none;
    }

    &-header {
      font-weight: 400;
      width: 80vw;
      max-width: 65ch;
      font-size: 1.6rem;
      font-family: var(--heading-font-family);

      p {
        @include platform-not-ios {
          &::after {
            content: '';
            text-align: right;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 70%;
            height: 1.3em;
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 70%, var(--prompt-background) 90%); //sass-lint:disable-line no-color-literals
          }
        }

        margin: 0;
        line-height: 1.25;
        height: 6rem;
        overflow: hidden;
      }
    }
  }

  &__pips {
    flex: 0 0 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}

.#{$module-name}--floating {
  background: palette('light-background');
  overflow: hidden;
  padding: spacing(medium);
  border-left: 1rem solid palette('primary');

  .#{$module-name}__prompt {
    padding-bottom: 0;

    &-header {
      font-size: 1.1rem;
    }
  }

  &.prompts--minimized {
    padding: 0;

    & + .prompts__minimizer {
      display: flex;
      background: palette('light-background');
      border-left: 1rem solid palette('primary');
    }
  }

  .pips {
    &__pip {
      border-color: palette('text');

      &--active {
        background-color: palette('text');
      }
    }
  }
}
