.progress-bar {
  background-color: var(--light-background);
  flex-grow: 1;
  position: relative;
  border-radius: 4rem;
  overflow: hidden;

  &--vertical {
    width: .7rem;

    .progress-bar__filler {
      width: 100%;
      transition: height calc(var(--animation-duration-standard)*3) var(--animation-easing);
    }
  }

  &--horizontal {
    height: .7rem;

    .progress-bar__filler {
      height: 100%;
      transition: width calc(var(--animation-duration-standard)) var(--animation-easing);
    }

  }

  &__filler {
    background-color: var(--transparent-light);
    position: absolute;
    border-radius: inherit;
  }

  &--complete {
    @keyframes pulse {
      // sass-lint:disable-block no-color-literals
      0% {
        box-shadow: 0 0 0 0 rgba(var(--color-sea-green---rgb), 0.8);
      }

      70% {
        box-shadow: 0 0 0 2rem rgba(var(--color-sea-green---rgb), 0);
      }

      100% {
        box-shadow: 0 0 0 0 rgba(var(--color-sea-green---rgb), 0);
      }
    }

    animation: pulse 2s infinite;

    .progress-bar__filler {
      background-color: var(--primary);
    }
  }
}


