.prompt {
  &__prompts {
    box-sizing: border-box;
    padding: 30px 0;
    height: 30px;
    width: 100vw;
    position: relative;
    overflow: hidden;
  }

  &__prompt {
    height: 30px;
    line-height: 30px;
    width: 100vw;
    position: absolute;
    left: 100vw;
    opacity: 0;
    transition: left 500ms ease-out, opacity 500ms ease-in;

    &--active {
      left: 0;
      opacity: 1;
    }
  }

  &__pips {
    box-sizing: border-box;
    padding: 0;
    height: 10px;
    width: 100vw;
    position: relative;
    overflow: hidden;
  }
}
