.flip-form {
  display: flex;
  align-items: center;

  .button-container {
    position: absolute;
    bottom: unit(2);
    right: unit(2);
    margin-right: unit(1.5);
  }

  .form-container {
    position: absolute;
    bottom: unit(2);
    right: unit(2);
    display: flex;
    align-items: center;
    margin-bottom: -#{unit(1.5)};

      .label-input {
        padding: unit(2) unit(4);
        margin-right: unit(0.5);
        border-radius: 5rem;
        border: 0;
        background: var(--text);
        color: var(--text-dark);
        font-size: 1.2rem;
        font-weight: bold;
        font-family: var(--body-font-family);

      &::placeholder {
        font-style: italic;
        font-weight: 100;
      }
    }
  }
}
