@function fade-to($fade-to: palette('background'), $direction: 0deg) {
  @return linear-gradient($direction, $fade-to 0%, transparentize($fade-to, 1) 100%);
}

.scrollable {
  $gradient-height-top: 35px;
  $gradient-height-bottom: 50px;
  $opaque: rgba(0, 0, 0, 1);
  // sass-lint:disable no-vendor-prefixes
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  mask-image: linear-gradient(180deg, transparent, $opaque $gradient-height-top, $opaque calc(100% - #{$gradient-height-bottom}), transparent 100%);

  &::-webkit-scrollbar {
    display: none;
  }
}
