@mixin scroller-mask($top-height: $scroller-top-padding) {
  $bottom-height: 2rem;
  $opaque: rgba(0, 0, 0, 1);
  // sass-lint:disable no-vendor-prefixes
  -webkit-mask-image: linear-gradient(180deg, transparent, $opaque $top-height, $opaque calc(100% - #{$bottom-height}), transparent 100%);
}

.scrollable {
  @include scroller-mask;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  // sass-lint:disable no-vendor-prefixes
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }

  &--show-scrollbars {
    $scrollbar-height: unit(1);
    $scrollbar-padding: unit(1);

    &::-webkit-scrollbar {
      display: block;
      width: (($scrollbar-padding * 2) + $scrollbar-height);
      background-color: rgba(255, 255, 255, 0); //sass-lint:disable-line no-color-literals
    }

    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb {
      border: $scrollbar-padding solid rgba(255, 255, 255, 0); //sass-lint:disable-line no-color-literals
      background-clip: padding-box;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0.1); //sass-lint:disable-line no-color-literals
      border-radius: 5rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--transparent-light);
      border-radius: 5rem;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }
  }

}
