@function fade-to($fade-to: palette('background'), $direction: 0deg) {
  @return linear-gradient($direction, $fade-to 0%, transparentize($fade-to, 1) 100%);
}

.scrollable {
  width: 100%;
  height: 100%;
  position: absolute;

  &__window {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    // sass-lint:disable no-color-literals no-vendor-prefixes
    -webkit-mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
