@function fade-to($fade-to: palette('background'), $direction: 0deg) {
  @return linear-gradient($direction, $fade-to 0%, transparentize($fade-to, 1) 100%);
}

.scrollable {
  // sass-lint:disable no-color-literals no-vendor-prefixes no-transition-all
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 7%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 0) 100%);

  &::-webkit-scrollbar {
    display: none;
  }

  &--is-scrolling {
    -webkit-mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 7%, rgba(0, 0, 0, 1) 93%, rgba(0, 0, 0, 0) 100%);
  }
}
