
.server-card {
  @include transition-properties((background-color, border-bottom-color, transform, box-shadow), var(--animation-easing), var(--animation-duration-standard));
  @include clickable(2);
  align-items: center;
  background-color: var(--color-platinum);
  border-radius: var(--border-radius);
  height: 8rem;
  color: var(--color-navy-taupe);
  justify-content: space-between;
  overflow: hidden;

  &--selected {
    border: 0.25rem solid var(--color-mustard);
  }

  &__content {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__icon {
    display: flex;
    flex: 0 0 7rem;
    padding: 0 unit(2);

    img {
      width: 100%;
      height: 100%;
    }
  }

  .main-wrapper {
    flex: 1 1 auto;

    .card__label {
      flex: 0 0 auto;
      margin: 0;
      align-items: center;
      display: flex;
      hyphens: auto;
    }
  }
}
