.server-protocol-list {
  --border-color: var(--color-neon-carrot--dark);
  --border-width: 2px;
  --card-height: 5rem;

  display: flex;
  flex: auto;
  flex-direction: row;
  margin-top: -1 * $scroller-top-padding;

  &--empty {
    padding-top: $scroller-top-padding;
  }

  &__scroller {
    padding-top: $scroller-top-padding;
    position: relative;
  }

  &__prefix {
    border-bottom: 2px solid var(--border-color);
    height: 0;
    margin-top: calc(var(--card-height) - var(--border-width));
    width: 1rem;
  }

  &__left-border {
    border-left: var(--border-width) solid var(--border-color);
    height: calc(100% - var(--card-height) - #{$scroller-top-padding});
    margin: calc(.5 * var(--card-height)) 0;
    position: absolute;

    &--single-protocol {
      // If there's only one protocol card, extend height to meet 'prefix' line
      height: calc((5rem / 2) - #{$scroller-top-padding});
    }
  }

  &__bordered-card {
    display: flex;
    flex-direction: row;
    height: var(--card-height);
    margin-bottom: spacing(medium);
  }

  &__card-border {
    border-top: var(--border-width) solid var(--border-color);
    flex: none;
    margin-top: calc(.5 * var(--card-height));
    top: 50%;
    width: 2rem;
  }

  &__card {
    flex: auto;
  }
}
