.server-protocol-list {
  display: flex;
  flex: auto;
  flex-direction: row;
  margin-bottom: -1.5rem;
  max-height: 25rem;

  &--empty {
    padding-top: $scroller-top-padding;
  }

  &__scroller {
    padding: 1.5rem 0;
    position: relative;
  }

}
