$module-name: server-list;

.#{$module-name} {
  flex-basis: 65%;
  height: 400px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  background: var(--light-background);
  border-radius: 10px;

  &__content {
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    h4 {
      margin: 0;
    }
  }

  &__placeholder {
    text-align: center;

    .spinner, .icon {
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}
