.server-setup {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__server {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  &__card {
    flex-grow: 0;
    flex-shrink: 0;
  }

  &__form {
    flex: auto;
    padding-left: spacing(large);
  }
}
