.session-list {
  display: flex;
  flex-direction: column;
  flex: 1;

  &__footer {
    margin-top: unit(1);
    border-radius: var(--border-radius);
    padding: unit(2) unit(4);
    display: flex;
  }

}
