
.session-card {
  @include transition-properties((background-color, border-bottom-color, transform, box-shadow), var(--animation-easing), var(--animation-duration-standard));
  @include clickable(2);
  align-items: center;
  background-color: var(--color-platinum);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  max-height: 20rem;
  color: var(--color-navy-taupe);
  justify-content: space-between;
  margin: unit(2);
  overflow: hidden;

  &__content {
    display: flex;
    flex: 1 0;
    flex-direction: column-reverse;
    width: 100%;

    .meta-wrapper {
      display: flex;
      padding: unit(1) unit(4);
      background: var(--color-platinum--dark);
      flex: 0 0 auto;
      align-items: center;

      .meta {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .highlight {
          color: var(--error);
        }

        h6 {
          margin: 0.3rem;
          text-transform: uppercase;
          letter-spacing: 0.15em;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          font-size: 0.6rem;
        }

      }

      .progress-wrapper {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h6 {
          margin: 0 0 0.3rem;
          text-transform: uppercase;
          letter-spacing: 0.15em;
          font-size: 0.6rem;
        }

        .progress-bar {
          width: 100%;
          background-color: var(--color-platinum);
          flex: 0 0.7rem;

          .progress-bar__filler {
            background-color: var(--color-cerulean-blue);
          }

          &--complete {
            .progress-bar__filler {
              background-color: var(--primary);
            }
          }
        }
      }

    }

    .main-wrapper {
      flex: 1 1 auto;
      padding: unit(4);

      .card__label {
        flex: 0 0 auto;
        margin: 0;
        align-items: center;
        display: flex;
        hyphens: auto;
      }
    }

  }

}
