
.session-card {
  @include transition-properties((background-color, border-bottom-color, transform, box-shadow), var(--animation-easing), var(--animation-duration-standard));
  align-items: center;
  background-color: var(--color-platinum);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  height: 20rem;
  border-bottom: 0.5rem solid var(--color-platinum--dark);
  color: var(--color-navy-taupe);
  justify-content: space-between;
  margin: unit(2);

  &--selected {
    background-color: var(--color-platinum--dark);
    border-bottom-color: var(--color-mustard);
    transform: scale(1.05);
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2); // sass-lint:disable-line no-color-literals

    .session-card__content {
      .progress-wrapper {
        .progress-bar {
          background-color: var(--color-white);
        }
      }
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    padding-bottom: unit(2);
  }

  &__content {
    display: flex;
    align-items: center;
    flex: 1 0;
    width: 100%;
    padding: unit(2) 0;
    margin-right: unit(2);

    @media screen and (max-aspect-ratio: 16 / 11) {
      margin: 0;
      padding: unit(2);
    }

    .progress-wrapper {
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      flex: 0 0 20%;
      margin: unit(2) 0 0 unit(2);

      @media screen and (max-aspect-ratio: 16 / 11) {
        display: none;
      }

      .progress-bar {
        height: 100%;
        background-color: var(--color-platinum--dark);

        .progress-bar__filler {
          background-color: var(--color-slate-blue);
        }

        &--complete {
          .progress-bar__filler {
            background-color: var(--primary);
          }
        }
      }

      h6 {
        margin-bottom: 0;
        margin-top: 0.5rem;
      }
    }

    >.scrollable {
      align-self: flex-start;
      overflow-y: auto;
      height: 100%;
      padding: unit(2) 0;

      .card__label {
        margin-top: 0;
        font-size: 1.45rem;
        width: 100%;
        hyphens: auto;
      }
    }
  }

}
