
.session-card {
  @include transition-properties((background-color, border-bottom-color, transform, box-shadow), var(--animation-easing), var(--animation-duration-standard));
  @include clickable(2);
  align-items: center;
  background-color: var(--color-platinum);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  max-height: 20rem;
  color: var(--color-navy-taupe);
  justify-content: space-between;
  margin: unit(2);
  overflow: hidden;

  &--selected {
    background-color: var(--color-platinum--dark);
    border-bottom-color: var(--color-mustard);
    transform: scale(1.05);
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2); // sass-lint:disable-line no-color-literals

    .session-card__content {
      .progress-wrapper {
        .progress-bar {
          background-color: var(--color-white);
        }
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;
    flex: 1 0;
    width: 100%;

    .progress-wrapper {
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      flex: 0 0 25%;
      padding: unit(4) 0;
      background: var(--color-platinum--dark);

      .progress-bar {
        height: 100%;
        background-color: var(--color-platinum);

        .progress-bar__filler {
          background-color: var(--color-cerulean-blue);
        }

        &--complete {
          .progress-bar__filler {
            background-color: var(--primary);
          }
        }
      }

      h6 {
        margin-bottom: 0;
        margin-top: 0.5rem;
      }
    }

    >.scrollable {
      align-self: flex-start;
      overflow-y: auto;
      height: 100%;
      padding: unit(4);

      .card__label {
        margin-top: 0;
        font-size: 1.45rem;
        width: 100%;
        hyphens: auto;
      }
    }
  }

}
