.stage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: palette('background');
  opacity: 0;

  &__interface {
    flex: 1 auto;
    height: 100vh;
  }

  &__control {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;

    &-nav {
      align-items: center;
      border-radius: 100%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      margin: 1.8rem;
      z-index: 999;

      svg {
        height: 2rem;
        width: 2rem;
      }

      &--next {
        background-color: var(--light-background);
        height: 6rem;
        width: 6rem;
      }

      &--back {
        height: 2rem;
        width: 2rem;

        .cls-2 {
          fill: var(--transparent-light);
        }
      }
    }
  }

  &--transition {
    @include group-transition-with-delay(fade, var(--animation-duration-slow), var(--animation-duration-slow));

    @include group-transition-leave {
      .node-list,
      .panels {
        opacity: 0;
        transition: unset !important; // sass-lint:disable-line no-important
      }
    }
  }
}
