.stage {
  display: flex;
  justify-content: center;
  align-items: center;

  &__interface {
    flex: 1 auto;
  }

  &__control {
    flex: 0 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-button {
      @include svg-button('../images/arrow-back.svg');
      width: 35px;
      height: 100px;

      &--next {
        @include svg-button('../images/arrow-next.svg');
      }
    }
  }
}
