.stack-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--color-white);
  height: 100%;
  cursor: pointer;

  &__label {
    margin: 0;
    padding-bottom: 1.2rem;
  }

  &__content {
    color: var(--text-dark);
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -0.5rem;
    z-index: var(--z-default);
  }


  .stack-of-cards {
    width: 14rem;
    height: 9rem;
    display: flex;
    align-items: flex-end;
    position: relative;

    .mock-card {
      position: absolute;
      width: 13rem;
      height: 8rem;
      border-radius: var(--border-radius);
      background: var(--color-slate-blue--dark);
      box-shadow: 0.2rem 0.2rem 0.5rem rgb(0 0 0 / 30%); // sass-lint:disable-line no-color-literals
      overflow: hidden;

      .main {
        width: 100%;
        height: 5rem;
      }

      &--two {
        margin-top: -0.5rem;
        margin-left: 0.5rem;
        opacity: 0.65;

      }

      &--three {
        margin-top: -1rem;
        margin-left: 1rem;
        opacity: 0.35;
      }
    }
  }
}
