.stage {
  height: 100%;
  width: 100vw;

  &__interface {
    flex: 1 auto;
    height: 100%;
    position: relative;
  }

  &--transition {
    @include group-transition-with-delay(fade, var(--animation-duration-slow), var(--animation-duration-slow));

    @include group-transition-leave {
      .node-list,
      .panels {
        opacity: 0;
        transition: unset !important; // sass-lint:disable-line no-important
      }
    }
  }
}
