
$timeline-button-size: 6rem;

.timeline {
  --light-background: #4a4677;

  align-items: center;
  display: flex;
  flex-direction: column;
  width: calc(6rem + var(--timeline-width));
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5rem;
  z-index: var(--z-global-ui);
  border-radius: 5rem;
  background: var(--panel-bg-muted);
  padding: 2rem 0 2rem 5rem;

  svg {
    height: 2rem;
    width: 2rem;
  }

  &-nav {
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: $timeline-button-size;
    width: $timeline-button-size;

    &--next {
      background: var(--light-background);

      svg {
        height: 2.5rem;
        width: 2.5rem;
      }

      &::after {
        content: '';
        opacity: 0;
        transition: transform var(--animation-duration-fast) var(--animation-easing), opacity var(--animation-duration-fast) var(--animation-easing);
        display: block;
        pointer-events: none;
        position: absolute;
        height: 9rem;
        width: 9rem;
        border-radius: 50%;
        z-index: -1;
        background: var(--primary);
      }

      &:active {
        background: var(--primary);

        &::after {
          transform: scale(.5);
          opacity: 1;
          transition: 0s;
        }
      }
    }

    &--back {

      .cls-2 {
        fill: var(--transparent-light);
      }

      &::after {
        content: '';
        opacity: 0;
        transition: transform var(--animation-duration-fast) var(--animation-easing), opacity var(--animation-duration-fast) var(--animation-easing);
        display: block;
        pointer-events: none;
        position: absolute;
        height: $timeline-button-size * 2;
        width: $timeline-button-size * 2;
        border-radius: 50%;
        z-index: -1;
        background: var(--light-background);
      }

      &:active {
        background: var(--light-background);

        &::after {
          transform: scale(.5);
          opacity: 1;
          transition: 0s;

        }
      }
    }
  }
}
