.start-screen {
  --color-panel-grey: #DCDEDD;
  background-color: var(--background);
  background-image: url('../images/main-background.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;

  -webkit-mask-image: linear-gradient(180deg, transparent, black 1.2rem, black calc(100% - 2rem), transparent 100%);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;

  &__container {
    padding: unit(2) unit(8) unit(8);
  }
}

.start-screen-section {
  border-radius: var(--border-radius);
  box-shadow: 0 unit(1) unit(1) 0 rgba(0, 0, 0, 0.25);
  margin: unit(6) auto;
  max-width: 68rem;
  width: 100%;
  overflow: hidden;

  main {
    header {
      h2 {
        margin-top: 0;
      }
    }
  }

}

.welcome-section {
  margin-top: 0;
  color: var(--white);
  background-color: var(--color-cyber-grape);
  width: 100%;
  background-image: url('../images/getting-started.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 100% 0;
  position: relative;

  &__main {
    padding: 0 unit(6) unit(4);
  }

  .welcome-description {
    width: 60%;
  }

  .welcome-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: unit(4);

    > .button {
      flex: 1;
      max-width: 32%;

      .button__content {
        padding: 0;
        font-size: 0.75rem;
      }
    }
  }
}

.interview-section {
  background: linear-gradient(#404088, var(--color-cyber-grape));
  &__manage-protocols {
    padding: unit(2) unit(6);
    display: flex;
    align-items: center;
    justify-content: flex-end;

    h2 {
      margin: 0;
    }
  }

  &__start-new {
    padding: 0 !important;

    .content-area {
      display: flex;

      &__last-used {
        padding: unit(4) unit(6);
        flex: 1 1 auto;

        > .protocol-card {
          max-width: 35rem;
        }
      }

      &__other {
        flex: 0 1 40%;
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__resume-section {
    padding: 0 !important;
    background: rgba(22, 21, 43, 0.14901960784313725);

    .content-area {
      display: flex;

      &__last-session {
        padding: unit(4) unit(6);
        flex: 1 1 auto;
        width: 60%;

        > .session-card {
          max-width: 35rem;
        }
      }

      &__other {
        flex: 0 1 40%;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.import-section {
  background: linear-gradient(#404088, var(--color-cyber-grape));

  &__manage-protocols {
    background: var(--color-slate-blue);
    padding: unit(2) unit(6);
    display: flex;
    align-items: center;
    justify-content: flex-end;

    h2 {
      margin: 0;
    }
  }

  &__install-section {
    padding: unit(4) unit(6);

    > .content-buttons {
      display: flex;
      justify-content: space-around;

      > :first-child {
        margin-right: unit(2);
      }

      > :last-child {
        margin-left: unit(2);
      }
    }
  }
}

.start-screen-header {
  color: var(--white);
  background: var(--color-cyber-grape);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: unit(4) auto;
  overflow: hidden;
  border-radius: var(--border-radius);

  .version-string {
    font-weight: bolder;
    font-size: 0.64rem;
    letter-spacing: .15em;
    align-self: flex-start;
    margin-left: 0rem;
    margin-top: 1rem;
  }

  &__top {
    display: flex;
    background: rgb(64, 64, 136);
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: unit(2) unit(4);

    .header-toggle {
      .switch__label {
        font-size: 0.8rem;
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: unit(2) unit(4) unit(4);
    background: linear-gradient(#404088, transparent);

    .header-brand {
      flex: 0 0 unit(15);
      z-index: var(--z-global-ui);

      img {
        filter: drop-shadow(0 unit(1) unit(1) rgba(0, 0, 0, 0.35));
      }
    }

    .header-mark {
      flex: 0 0 auto;
      margin-right: unit(2);

      h1 {
        font-size: 3.052rem;
        letter-spacing: .15em;
        margin: 0;
        margin-bottom: unit(1);
      }

      h4 {
        font-size: 1.25rem;
        font-weight: lighter;
        margin: 0;
      }
    }
  }

}

.action-button {
  padding: unit(2);
  background: var(--primary);
  color: var(--white);
  border-radius: var(--border-radius);
 }

.switch {
  $size: 2rem;
  position: relative;
  display: inline-flex;
  align-items: center;

  &__button {
    cursor: pointer;
    width: $size * 2;
    height: $size;
    position: relative;

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      content: '';
      border-radius: $size;
      background-color: var(--color-rich-black);
      transition: background var(--animation-duration-fast) var(--animation-easing);
      width: $size * 2;
      height: $size * .67;
    }

    &::after {
      position: absolute;
      content: '';
      border-radius: 50%;
      height: $size;
      width: $size;
      background-color: var(--color-white);
      transform: translateX(-1px);
      transition: transform var(--animation-duration-fast) var(--animation-easing);
    }
  }

  &__input {
    visibility: hidden;
    position: absolute;

    &:checked + .switch__button {
      &::before {
        background-color: var(--input-radio--fill);
      }

      &::after {
        transform: translateX(calc(#{$size} + 1px));
      }
    }
  }

  &__label {
    margin-left: 1rem;
    font-family: var(--heading-font-family);
  }
}



.server-section {
  &__main {
    background: linear-gradient(#404088, var(--color-cyber-grape));
    padding: 0;

    .content-area {
      display: flex;
      flex-direction: column;

      &__buttons {
        padding: unit(2) unit(6);
        background: var(--color-mustard);
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &__discover {
        padding: unit(4) unit(6);

        > h4 {
          margin-top: 0;
          margin-bottom: 1.3rem;
        }

        .paired-server-wrapper {
          margin-top: unit(2);
          padding: unit(2) unit(4);
          background: var(--color-slate-blue--dark);
          color: var(--color-white);
          border-radius: var(--border-radius);

          .server-card {
            margin: unit(2);
          }
        }

        .discovered-server-list {
          background: var(--color-slate-blue);
          border-radius: var(--border-radius);
          max-height: 30rem;
          min-height: 25rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          overflow: hidden;
          margin-top: unit(2);

          &--offline,
          &--error {
            min-height: unset;
          }

          header {
            width: 100%;
            display: flex;
            background: var(--color-slate-blue--dark);
            color: var(--color-white);
            align-items: center;
            padding: unit(1) unit(4);

            .spinner--small {
              --circle-size: 0.5rem;
              margin-right: unit(2);
            }
          }

          .scrollable {
            display: flex;
            flex-wrap: wrap;
            padding: unit(2);

            > * {
              max-width: 50%;
            }

            &:empty {
              display: flex;

              &::after {
                width: 100%;
                height: 10rem;
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--color-white);
                content: 'No Servers found.';
              }
            }
          }

          .server-list {
            display: flex;

            &--error,
            &--offline {
              padding: unit(2);

              .error__icon {
                flex: 0 0 10rem;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }
    }

  }
}

.server-address-form {
  width: 60rem;

  &__form {
    padding: unit(4);
    background: var(--background);
    border-radius: var(--border-radius);
    margin-bottom: unit(2);
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

}

.pairing-form {

  &--loading {
    display: flex;
    background: var(--background);
    padding: unit(4);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: var(--border-radius);
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .pairing-code-clear {
      color: var(--color-platinum--dark);
      cursor: pointer;
      font-weight: 700;
      font-size: 0.8rem;
      letter-spacing: 0.15em; // match button
      text-transform: uppercase;

      &:hover {
        color: var(--color-white);
      }
    }

    .pairing-form-buttons {
      .button {
        &:last-child {
          margin-left: unit(2);
        }
      }
    }
  }
}

.protocol-url-form {
  .form-field-container {
    background: var(--background);
    padding: unit(4);
    border-radius: var(--border-radius);
    margin-bottom: unit(2);
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.case-id-form {
  width: 60rem;

  .form-field-container {
    background: var(--background);
    padding: unit(4);
    border-radius: var(--border-radius);
    margin-bottom: unit(2);
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}


.stack-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  height: 100%;
  cursor: pointer;

  &__label {
    margin: 0;
    padding-bottom: 1.2rem;
  }

  &__content {
    color: var(--text-dark);
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -0.5rem;
    z-index: var(--z-default);
  }


  .stack-of-cards {
    width: 16rem;
    height: 11rem;
    display: flex;
    align-items: flex-end;
    position: relative;

    .mock-card {
      position: absolute;
      width: 15rem;
      height: 10rem;
      border-radius: var(--border-radius);
      background: var(--color-slate-blue--dark);
      box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
      overflow: hidden;


      .main {
        width: 100%;
        height: 7rem;
      }

      &--two {
        margin-top: -0.5rem;
        margin-left: 0.5rem;
        opacity: 0.65;

      }

      &--three {
        margin-top: -1rem;
        margin-left: 1rem;
        opacity: 0.35;
      }
    }
  }
}


.server-status {
  display: flex;

  &__indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 unit(2);

    .indicator {
      width: unit(2);
      height: unit(2);
      border-radius: 50%;
      background: var(--error);
    }
  }

  &--error {
    .server-status__indicator {
      .indicator {
        background: var(--error);
        @keyframes blinker {
          50% {
            opacity: 0;
          }
        }
        animation: blinker 1s cubic-bezier(1, 0, 0, 1) infinite;
      }
    }
  }

  &--caution {
    .server-status__indicator {
      .indicator {
        background: var(--warning);
      }
    }
  }

  &--ok {
    .server-status__indicator {
      .indicator {
        background: var(--color-sea-green);
        @keyframes pulse {
          // sass-lint:disable-block no-color-literals
          0% {
            box-shadow: 0 0 0 0 rgba(var(--color-sea-green---rgb), 0.8);
          }

          70% {
            box-shadow: 0 0 0 2rem rgba(var(--color-sea-green---rgb), 0);
          }

          100% {
            box-shadow: 0 0 0 0 rgba(var(--color-sea-green---rgb), 0);
          }
        }

        animation: pulse 2s infinite;
      }
    }
  }
}

.whats-new-section {
  background: var(--color-sea-serpent);
  color: var(--color-white);

  &__content {
    padding: unit(4) unit(6);
  }

  &__footer {
    background: var(--color-sea-serpent--dark);
    padding: unit(2) unit(6);
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.data-export-section {
  background: linear-gradient(#404088, var(--color-cyber-grape));

  &__main {
    > header {
      padding: unit(4) unit(6) 0;
    }

    .content-area {
      padding: unit(1) unit(6);
    }
    
    .selection-status {
      margin: unit(2) unit(4);
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row-reverse;
      height: unit(6)
    }

    .new-filterable-list {
      margin: unit(4);
      margin-bottom: 0;

      &__main {
        max-height: 45vh;
        min-height: 16rem;    
      }
    }
  }

  &__footer {
    padding: unit(2) unit(6);
    background-color: var(--color-neon-coral);
    display: flex;
    justify-content: space-between;

    .action-buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .button {
        &:last-child {
          margin-left: unit(2);
        }
      }
    }
  }
}

.dialog {
  .export-error-list {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: flex;
      align-items: center;
      margin: 0.75rem;

      .icon {
        height: unit(3);
        width: unit(3);
        margin-right: unit(2);
      }
    }
  }
}