.start-screen {
  --color-panel-grey: #DCDEDD;
  background-image: url('../images/main-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  -webkit-mask-image: linear-gradient(180deg, transparent, black 1.2rem, black calc(100% - 2rem), transparent 100%);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  padding-top: 1.2rem;
  background-color: var(--color-white);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;



  &__container {
    padding: unit(2) unit(8) unit(8);
  }
}

.start-screen-section {
  border-radius: var(--border-radius);
  box-shadow: 0 unit(1) unit(1) 0 rgba(0, 0, 0, 0.25);
  margin: unit(6) auto;
  background: var(--color-panel-grey);
  color: var(--color-charcoal);
  max-width: 65rem;
  width: 100%;
  overflow: hidden;

  main {
    header {
      h2 {
        margin-top: 0;
      }
    }
  }

}

.welcome-section {
  margin-top: 0;
  color: var(--white);
  background-color: var(--color-cyber-grape);
  width: 100%;
  background-image: url('../images/getting-started.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 33rem 0;
  position: relative;

  .welcome-header {
    &__header-toggle {
      position: absolute;
      right: unit(6);
      top: unit(4);
    }
  }

  > main {
    padding: unit(6);
  }

  .welcome-description {
    width: 60%;
  }

  .welcome-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: unit(4);

    > .button {
      flex: 1;
      max-width: 32%;

      .button__content {
        padding: 0;
        font-size: 0.75rem;
      }
    }
  }
}

.interview-section {
  &__manage-protocols {
    background: var(--color-slate-blue--dark);
    padding: unit(2) unit(6);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--color-white);

    h2 {
      margin: 0;
    }
  }

  &__start-new {
    padding: 0 !important;

    .content-area {
      display: flex;

      &__last-used {
        padding: unit(4) unit(6);
        flex: 1 1 auto;

        > .protocol-card {
          margin: 0;
          max-width: 35rem;
        }
      }

      &__other {
        flex: 0 1 50%;
        width: 50%;
        background: #dcdedd;
        // color: white;
        display: flex;
        flex-direction: column;
        padding: unit(4) unit(6);

        > h4 {
          margin-top: 0;
          margin-bottom: 0.6rem;
        }

        .scrollable {
          flex: 1;
          max-height: 20rem;

          > .protocol-card {
            margin: unit(2) 0;
          }
        }
      }
    }

  }

  &__install-section {
    background: var(--color-slate-blue);
    color: var(--color-white);
    padding: unit(4) unit(6);

    > .content-buttons {
      display: flex;
      justify-content: space-around;

      > .graphic-button {
        max-width: 20rem;
      }


      > :first-child {
        margin-right: unit(2);
      }

      > :last-child {
        margin-left: unit(2);
      }
    }
  }
}

.start-screen-header {
  color: var(--white);
  background: var(--color-cyber-grape);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: unit(4) auto;
  overflow: hidden;
  border-radius: var(--border-radius);

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: unit(4);

    .header-brand {
      flex: 0 0 unit(12);
      z-index: var(--z-global-ui);

      img {
        filter: drop-shadow(0 unit(1) unit(1) rgba(0, 0, 0, 0.35));
      }
    }

    .header-mark {
      flex: 0 0 auto;
      margin-right: unit(2);

      h1 {
        font-size: 3.052rem;
        letter-spacing: .15em;
        margin: 0;
        margin-bottom: unit(1);
      }

      h4 {
        font-size: 1.25rem;
        font-weight: lighter;
        margin: 0;
      }
    }
  }

  .version-string {
    position: absolute;
    right: unit(2);
    top: unit(2);
    font-weight: bolder;
    font-size: 0.64rem;
    letter-spacing: .15em;
  }
}

.action-button {
  padding: unit(2);
  background: var(--primary);
  color: var(--white);
  border-radius: var(--border-radius);
 }

.switch {
  $size: 2rem;
  position: relative;
  display: inline-flex;
  align-items: center;

  &__button {
    cursor: pointer;
    width: $size * 2;
    height: $size;
    position: relative;

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      content: '';
      border-radius: $size;
      background-color: var(--color-rich-black);
      transition: background var(--animation-duration-fast) var(--animation-easing);
      width: $size * 2;
      height: $size * .67;
    }

    &::after {
      position: absolute;
      content: '';
      border-radius: 50%;
      height: $size;
      width: $size;
      background-color: var(--color-white);
      transform: translateX(-1px);
      transition: transform var(--animation-duration-fast) var(--animation-easing);
    }
  }

  &__input {
    visibility: hidden;
    position: absolute;

    &:checked + .switch__button {
      &::before {
        background-color: var(--input-radio--fill);
      }

      &::after {
        transform: translateX(calc(#{$size} + 1px));
      }
    }
  }

  &__label {
    margin-left: 1rem;
    font-family: var(--heading-font-family);
  }
}



.server-section {
  &__main {
    padding: 0;

    .content-area {
      display: flex;
      flex-direction: column;

      &__buttons {
        padding: unit(2) unit(6);
        background: var(--color-mustard);
      }

      &__discover {
        display: flex;
        flex-direction: column;
        padding: unit(4) unit(6);

        > h4 {
          margin-top: 0;
          margin-bottom: 0.6rem;
        }

        .discovered-server-list {
          background: var(--color-slate-blue--dark);
          padding: 1.2rem;
          border-radius: 0.75rem;
          height: 22rem;
          display: flex;
          justify-content: center;
          align-items: center;

          .server-list {
            &--error {
              background: tomato;
              padding: unit(2);
              display: flex;

              .error__icon {
                flex: 0 0 15rem;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }
    }

  }
}
