.data-export-section {
  background: linear-gradient(#404088, var(--color-cyber-grape)); //sass-lint:disable-line no-color-literals

  &__main {
    > header {
      padding: unit(4) unit(6) 0;
    }

    .content-area {
      padding: unit(1) unit(6);
    }

    .selection-status {
      margin: unit(2) unit(4);
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row-reverse;
      height: unit(6);

      .header-toggle {
        margin-left: 2rem;
      }
    }

    .new-filterable-list {
      margin: unit(4);
      margin-bottom: 0;

      &__main {
        max-height: 45vh;
        min-height: 16rem;
      }
    }
  }

  &__footer {
    padding: unit(2) unit(6);
    background-color: var(--color-neon-coral);
    display: flex;
    justify-content: space-between;

    .action-buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .button {
        &:last-child {
          margin-left: unit(2);
        }
      }
    }
  }
}
