.dialog {
  .export-error-list {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: flex;
      align-items: center;
      margin: 0.75rem;

      .icon {
        flex: 0 0 auto;
        height: units.unit(3);
        width: units.unit(3);
        margin-right: units.unit(2);
      }
    }
  }
}
