.interview-section {
  background: linear-gradient(#404088, var(--color-cyber-grape)); // sass-lint:disable-line no-color-literals

  &__manage-protocols {
    padding: units.unit(2) units.unit(6);
    display: flex;
    align-items: center;
    justify-content: flex-end;

    h2 {
      margin: 0;
    }
  }

  &__start-new {
    .content-area {
      display: flex;

      &__last-used {
        padding: units.unit(4) units.unit(6);
        flex: 1 1 auto;

        > .protocol-card {
          max-width: 35rem;
        }
      }

      &__other {
        flex: 0 1 40%;
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__resume-section {
    background: rgb(22 21 43 / 15%); // sass-lint:disable-line no-color-literals

    .content-area {
      display: flex;

      &__last-session {
        padding: units.unit(4) units.unit(6);
        flex: 1 1 auto;
        width: 60%;

        > .session-card {
          max-width: 35rem;
        }
      }

      &__other {
        flex: 0 1 40%;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
