.pairing-content {
  flex: 1 1;
}

.pairing-form {
  margin-bottom: units.unit(4);

  &--loading {
    display: flex;
    background: var(--background);
    padding: units.unit(4);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: var(--border-radius);
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .pairing-code-clear {
      color: var(--color-platinum--dark);
      cursor: pointer;
      font-weight: 700;
      font-size: 0.8rem;
      letter-spacing: 0.15em; // match button
      text-transform: uppercase;

      &:hover {
        color: var(--color-white);
      }
    }

    .pairing-form-buttons {
      .button {
        &:last-child {
          margin-left: units.unit(2);
        }
      }
    }
  }
}
