@use '@codaco/ui/src/styles/global/core/units';

.overlay {
  &.protocol-url-form-overlay {
    max-width: 65rem;
  }
}

.protocol-url-form {
  flex: 1;

  .form-field-container {
    background: var(--background);
    padding: units.unit(4);
    border-radius: var(--border-radius);
    margin-bottom: units.unit(2);
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: units.unit(2);
  }
}
