@use '@codaco/ui/src/styles/global/core/units';

.server-address-form {
  &__form {
    padding: units.unit(4);
    background: var(--background);
    border-radius: var(--border-radius);
    margin-bottom: units.unit(2);
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-bottom: units.unit(2);
  }
}
