.start-screen-header {
  color: var(--white);
  background: var(--color-cyber-grape);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: unit(4) auto;
  overflow: hidden;
  border-radius: var(--border-radius);

  .version-string {
    font-weight: bolder;
    font-size: 0.64rem;
    letter-spacing: .15em;
    align-self: flex-start;
    margin-left: 0;
    margin-top: 1rem;
  }

  &__top {
    display: flex;
    background: #404088; //sass-lint:disable-line no-color-literals
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: unit(2) unit(4);

    .header-toggle {
      .switch__label {
        font-size: 0.8rem;
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: unit(2) unit(4) unit(4);
    background: linear-gradient(#404088, rgb(58, 58, 117)); //sass-lint:disable-line no-color-literals

    .header-brand {
      flex: 0 0 unit(15);
      z-index: var(--z-global-ui);

      img {
        width: 100%;
      }
    }

    .project-tag {
      h5 {
        display: inline-block;
        font-family: var(--heading-font-family);
        font-weight: 900;
        letter-spacing: .15em;
        margin: 0;
      }
    }

    .header-mark {
      flex: 0 0 auto;
      margin-left: unit(2);

      h1 {
        font-size: 3.052rem;
        letter-spacing: .15em;
        margin: 0;
        margin-bottom: unit(1);
      }

      h4 {
        font-size: 1.25rem;
        font-weight: lighter;
        margin: 0;
      }
    }
  }
}
