.start-screen-section {
  border-radius: var(--border-radius);
  box-shadow: 0 units.unit(1) .2rem 0 rgb(0 0 0 / 25%); // sass-lint:disable-line no-color-literals
  margin: units.unit(6) auto;
  max-width: 68rem;
  width: 100%;
  overflow: hidden;

  main {
    header {
      h2 {
        margin-top: 0;
      }
    }
  }
}
