.start-screen {
  background-color: var(--background);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; //sass-lint:disable-line no-vendor-prefixes
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;

  &__container {
    padding: unit(2) unit(8) unit(8);
  }
}
