.welcome-section {
  margin-top: 0;
  color: var(--white);
  background-color: var(--color-cyber-grape);
  width: 100%;
  background-image: url('../images/getting-started.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 100% 0;
  position: relative;

  &__main {
    padding: 0 units.unit(6) units.unit(4);
  }

  .welcome-description {
    width: 60%;
  }

  .welcome-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: units.unit(4);

    .button--with-new {
      position: relative;

      &::before {
        content: 'New';
        position: absolute;
        top: -8px;
        left: -5px;
        background-color: var(--color-white);
        color: var(--color-rich-black);
        font-size: .6rem;
        font-weight: 900;
        padding: units.unit(.5) units.unit(1);
        border-radius: var(--border-radius);
        margin-right: units.unit(1);
      }
    }

    > .button {
      flex: 1;
      max-width: 32%;

      .button__content {
        padding: 0;
        font-size: 0.75rem;
      }
    }
  }
}
