.welcome-section {
  margin-top: 0;
  color: var(--white);
  background-color: var(--color-cyber-grape);
  width: 100%;
  background-image: url('../images/getting-started.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 100% 0;
  position: relative;

  &__main {
    padding: 0 unit(6) unit(4);
  }

  .welcome-description {
    width: 60%;
  }

  .welcome-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: unit(4);

    > .button {
      flex: 1;
      max-width: 32%;

      .button__content {
        padding: 0;
        font-size: 0.75rem;
      }
    }
  }
}