.whats-new-section {
  background: var(--color-sea-serpent);
  color: var(--color-white);

  &__content {
    padding: units.unit(4) units.unit(6);
  }

  &__footer {
    background: var(--color-sea-serpent--dark);
    padding: units.unit(2) units.unit(6);
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
