.transition--window {
  &-enter,
  &-appear {
    [transition-role='background'] {
      opacity: 0;
    }

    [transition-role='window'] {
      opacity: 0;
      transform: translate(0, -100px);
    }

    &-active {
      [transition-role='background'] {
        transition: opacity var(--animation-easing) var(--animation-duration-fast);
        opacity: 1;
      }

      [transition-role='window'] {
        transition: transform var(--animation-easing) var(--animation-duration-standard), opacity var(--animation-easing) var(--animation-duration-standard);
        transform: translate(0, 0);
        opacity: 1;
      }
    }
  }

  &-exit {
    opacity: 1;

    &-active {
      transition: opacity var(--animation-easing) var(--animation-duration-standard);
      opacity: 0;
    }
  }
}
