.contexthull-title-container {
    width:100%;
    height:15vh;
}

.contexthull-hull-container {
    width:100%;
    height:85vh;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide h2 {
    font-size:4vh;
}

.circle-responsive.smaller {
    transform: scale(0.8);
    opacity:0.5;
}

.circle-responsive {
    float:left;
    transition: width 2s ease, transform 0.5s ease;
    border: 18px outset @brand-primary;
    border-radius: 50%;
    width:40vmin;
    height:40vmin;
    margin:1vmin;
}

.circle-responsive.delete {
    background: @brand-danger;
    border-color: @brand-danger;
    transform: scale(0.4);
}

.circle-content {
  float: left;
  line-height: 1;
  margin-top: -0.5em;
  padding-top: 50%;
  text-align: center;
  width: 100%;
}

@translate-distance: 14vmin;

.node-circle {
    display: block;
    width:100%;
    height:100%;
    border-radius: 50%;
    transform: translate(@translate-distance);
}

.node-circle-container {
	display: block;
	// overflow: hidden;
	position: absolute;
	top: 50%; left: 50%;
	width: 4em; height: 4em;
	margin: -2em; /* 2em = 4em/2 */ /* half the width */

}

@segments: 10;
.loop(@index) when (@index =< @segments) {
    @degree: (360/@segments)*@index;
    @plus: @index + 2;
    .node-circle-container:nth-of-type(@{plus}) {
        .node-circle {
            transform: rotate(unit(@degree, deg)) translate(@translate-distance) rotate(unit((@degree * -1), deg));
        }
    }
    .loop(@index + 1);
}

.loop(0);

  .deg0 { transform: translate(14vmin); } /* 14vmin = half the width of the wrapper */
  .deg45 { transform: rotate(45deg) translate(14vmin) rotate(-45deg); }
  .deg90 { transform: rotate(90deg) translate(14vmin) rotate(-90deg); }
  .deg135 { transform: rotate(135deg) translate(14vmin) rotate(-135deg); }
  .deg180 { transform: translate(-14vmin); }
  .deg225 { transform: rotate(225deg) translate(14vmin) rotate(-225deg); }
  .deg315 { transform: rotate(315deg) translate(14vmin) rotate(-315deg); }
  .deg270 { transform: rotate(270deg) translate(14vmin) rotate(-270deg); }

.contexthull-bin-footer {
    background: rgba(0,0,0,0.3);
    text-align:center;
    height:15vh;
    line-height:19vh;
    transition: all 1s ease;
    transform: translateY(15vh);
    position:absolute;
    bottom:0;
    left:0;
    right:0;
}

.contexthull-bin {
    transition: all 0.5s ease;
    padding:40px;
}

.contexthull-bin.delete {
    color: @brand-danger;
    transform: scale(1.3);
}

.contexthull-bin-footer.show {
    transform: translateY(0);
}
