.contexthull-title-container {
    text-align:center;
    width:100%;
    height:15vh;
}

.contexthull-hull-container {
    width:100%;
    height:85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap

}

.swiper-container {
    width: 100%;
    height: 100%;
    text-align: center;
}

.swiper-slide h2 {
    font-size:3.4vh;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}

.circle-responsive.smaller {
    transform: scale(0.6);
    opacity:0.8;
    // z-index:99999;
}

.circle-responsive {
    float:left;
    transform: scale(1);
    transition: width 0.2s ease, transform 0.5s ease, opacity 0.5s ease, filter 0.5s ease;
    border: 18px outset @brand-primary;
    border-radius: 50%;
    width:40vmin;
    height:40vmin;
    margin:1vmin;
}

.circle-responsive[data-index='1'] {
    border-color: @brand-primary;
    .node-circle {
        background: @brand-primary;
    }
}

.circle-responsive[data-index='2'] {
    border-color: @brand-success;
    .node-circle {
        background: @brand-success;
    }
}

.circle-responsive[data-index='3'] {
    border-color: @brand-info;
    .node-circle {
        background: @brand-info;
    }
}
.circle-responsive[data-index='4'] {
    border-color: @brand-warning;
    .node-circle {
        background: @brand-warning;
    }
}
.circle-responsive[data-index='5'] {
    border-color: @brand-danger;
    .node-circle {
        background: @brand-danger;
    }
}

.circle-responsive[data-index='6'] {
    border-color: Gold;
    .node-circle {
        background: Gold;
    }
}

.circle-responsive[data-index='7'] {
    border-color: Pink;
    .node-circle {
        background: Pink;
    }
}

.circle-responsive[data-index='8'] {
    border-color: saddlebrown;
    .node-circle {
        background: saddlebrown;
    }
}

.circle-responsive[data-index='9'] {
    border-color: Teal;
    .node-circle {
        background: Teal;
    }
}

.circle-responsive[data-index='10'] {
    border-color: Silver;
    .node-circle {
        background: Silver;
    }
}


.circle-responsive.delete {
    background: @brand-danger;
    border-color: @brand-danger;
    transform: scale(0.4);
    filter: grayscale(80%);
}

.circle-responsive.merge {
    background: white;
    color: @text-dark;
    border-color: white;
    // transform: scale(1.2);
}

.circle-responsive.smaller.merge {
    // transform: scale(1);
}

.node-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
    border-radius: 50%;
    // border: 1vmin solid transparent;
    // transform: 34vmin;
    background:@brand-primary;
    color:white;
    line-height:16rem;
    font-size:2rem;
    overflow:hidden;

}

.node-circle.border {
    // border-color: white;
}

.node-circle-container {
	display: block;
	// overflow: hidden;
	position: absolute;
	top: 50%; left: 50%;
	width: 8em; height: 8em;
	margin: -4em; /* 2em = 4em/2 */ /* half the width */
    text-align:center;
}

@segments: 10;
.loop(@index, @translate-distance, @size) when (@index =< @segments) {
    @degree: (360/@segments)*@index;
    @plus: @index + 2;
    .node-circle-container:nth-of-type(@{plus}) {
        .node-circle {
            transform: rotate(unit(@degree, deg)) translate(@translate-distance) rotate(unit((@degree * -1), deg)) scale(@size);
        }
    }
    .loop(@index + 1, @translate-distance, @size);
}

.loop(0, 30vmin, 1);

 @plus: @segments + 2;
.node-circle-container:nth-of-type(n+@{plus}) {
    display:none !important;
    visibility:hidden !important;
}

/* one item */
.circle-responsive:nth-child(1):nth-last-child(1) {
	width: 80vmin;
    height: 80vmin;
    margin:1vmin;
}

/* two items */
.circle-responsive:nth-child(1):nth-last-child(2),
.circle-responsive:nth-child(2):nth-last-child(1) {
	width: 60vmin;
    height: 60vmin;
    margin:1vmin;
    .loop(0, 21vmin, 0.8);
}

/* three items */
.circle-responsive:nth-child(1):nth-last-child(3),
.circle-responsive:nth-child(2):nth-last-child(2),
.circle-responsive:nth-child(3):nth-last-child(1) {
	width: 45vmin;
    height: 45vmin;
    margin:1vmin;
    .loop(0, 16vmin, 0.65);
}

/* four items */
.circle-responsive:nth-child(1):nth-last-child(4),
.circle-responsive:nth-child(2):nth-last-child(3),
.circle-responsive:nth-child(3):nth-last-child(2),
.circle-responsive:nth-child(4):nth-last-child(1) {
	width: 40vmin;
    height: 40vmin;
    .loop(0, 14vmin, 0.6);
}

/* five items */
.circle-responsive:nth-child(1):nth-last-child(5),
.circle-responsive:nth-child(2):nth-last-child(4),
.circle-responsive:nth-child(3):nth-last-child(3),
.circle-responsive:nth-child(4):nth-last-child(2),
.circle-responsive:nth-child(5):nth-last-child(1) {
	width: 40vmin;
    height: 40vmin;
    .loop(0, 14vmin, 0.6);
}

/* six items */
.circle-responsive:nth-child(1):nth-last-child(6),
.circle-responsive:nth-child(2):nth-last-child(5),
.circle-responsive:nth-child(3):nth-last-child(4),
.circle-responsive:nth-child(4):nth-last-child(3),
.circle-responsive:nth-child(5):nth-last-child(2),
.circle-responsive:nth-child(6):nth-last-child(1) {
	width: 40vmin;
    height: 40vmin;
    .loop(0, 14vmin, 0.6);
}

/* seven items */
.circle-responsive:nth-child(1):nth-last-child(7),
.circle-responsive:nth-child(2):nth-last-child(6),
.circle-responsive:nth-child(3):nth-last-child(5),
.circle-responsive:nth-child(4):nth-last-child(4),
.circle-responsive:nth-child(5):nth-last-child(3),
.circle-responsive:nth-child(6):nth-last-child(2),
.circle-responsive:nth-child(7):nth-last-child(1) {
	width: 35vmin;
    height: 35vmin;
    margin:0vmin;
    .loop(0, 12vmin, 0.5);
}

/* eight items */
.circle-responsive:nth-child(1):nth-last-child(8),
.circle-responsive:nth-child(2):nth-last-child(7),
.circle-responsive:nth-child(3):nth-last-child(6),
.circle-responsive:nth-child(4):nth-last-child(5),
.circle-responsive:nth-child(5):nth-last-child(4),
.circle-responsive:nth-child(6):nth-last-child(3),
.circle-responsive:nth-child(7):nth-last-child(2),
.circle-responsive:nth-child(8):nth-last-child(1) {
	width: 35vmin;
    height: 35vmin;
    margin:0vmin;
    .loop(0, 12vmin, 0.5);
}
/* nine items */
.circle-responsive:nth-child(1):nth-last-child(9),
.circle-responsive:nth-child(2):nth-last-child(8),
.circle-responsive:nth-child(3):nth-last-child(7),
.circle-responsive:nth-child(4):nth-last-child(6),
.circle-responsive:nth-child(5):nth-last-child(5),
.circle-responsive:nth-child(6):nth-last-child(4),
.circle-responsive:nth-child(7):nth-last-child(3),
.circle-responsive:nth-child(8):nth-last-child(2),
.circle-responsive:nth-child(9):nth-last-child(1) {
	width: 28vmin;
    height: 28vmin;
    margin:0vmin;
    .loop(0, 10vmin, 0.4);
}
/* ten items */
.circle-responsive:nth-child(1):nth-last-child(10),
.circle-responsive:nth-child(2):nth-last-child(9),
.circle-responsive:nth-child(3):nth-last-child(8),
.circle-responsive:nth-child(4):nth-last-child(7),
.circle-responsive:nth-child(5):nth-last-child(6),
.circle-responsive:nth-child(6):nth-last-child(5),
.circle-responsive:nth-child(7):nth-last-child(4),
.circle-responsive:nth-child(8):nth-last-child(3),
.circle-responsive:nth-child(9):nth-last-child(2),
.circle-responsive:nth-child(10):nth-last-child(1) {
	width: 28vmin;
    height: 28vmin;
    margin:0vmin;
    .loop(0, 10vmin, 0.4);
}

.circle-content {
  float: left;
  line-height: 1;
  margin-top: -0.5em;
  padding-top: 50%;
  text-align: center;
  width: 100%;
}

.contexthull-bin-footer {
    height:15vh;
    line-height:19vh;
    transition: all 1s ease;
    transform: translateY(15vh);
    position:absolute;
    bottom:0;
    left:5vmin;
}

.contexthull-bin {
    transition: all 0.5s ease;
    // padding:40px;
}

.contexthull-bin.delete {
    color: @brand-danger;
    transform: scale(1.5);
}

.contexthull-bin-footer.show {
    transform: translateY(0);
}

.new-context-button {
    height:8vmin;
    width:8vmin;
    line-height:8vmin;
    background:@brand-success;
    position:absolute;
    bottom:3.5vmin;
    right: 5vmin;
    border-radius:50%;
}

.new-context-form {
    position:absolute;
    top:40%;
    left:50%;
    width:65vmin;
    margin-left:-32.5vmin;
    padding: 5vmin;
    border-radius: @border-radius-base;
    background: @modal-base;
    color: @modal-text;
    transition: all 0.5s ease;
    transform: translateY(100vh);
    z-index:99;
}

.new-context-form.show {
    transform: translateY(0);

}

.merge-context-form {
    position:absolute;
    top:40%;
    left:50%;
    width:65vmin;
    margin-left:-32.5vmin;
    padding: 5vmin;
    border-radius: @border-radius-base;
    background: @modal-base;
    color: @modal-text;
    transition: all 0.5s ease;
    transform: translateY(100vh);
    z-index:99;
}

.merge-context-form.show {
    transform: translateY(0);

}
