@import '../less/colors.less';

@font-face {
	font-family: 'Blokk';
	src: url('../fonts/blokk/BLOKKRegular.eot');
	src: url('../fonts/blokk/BLOKKRegular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/blokk/BLOKKRegular.woff') format('woff'),
		 url('../fonts/blokk/BLOKKRegular.svg#BLOKKRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?i64fx9');
	src:url('../fonts/icomoon/icomoon.eot?#iefixi64fx9') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff?i64fx9') format('woff'),
		url('../fonts/icomoon/icomoon.ttf?i64fx9') format('truetype'),
		url('../fonts/icomoon/icomoon.svg?i64fx9#icomoon') format('svg');
}

@font-face {
	font-family: 'ecoicon';
	src:url('../fonts/ecoicons/ecoicon.eot');
	src:url('../fonts/ecoicons/ecoicon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ecoicons/ecoicon.woff') format('woff'),
		url('../fonts/ecoicons/ecoicon.ttf') format('truetype'),
		url('../fonts/ecoicons/ecoicon.svg#ecoicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.menu-container {
	height:100%;
	width: 90px;
}

.content {
	width: 100%;
	position: absolute;
	transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

.pushed.content {
	transition-duration: 0.5s;
	transition: transform all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
	transform: translateX(30vmin) scale(0.6);
	box-shadow: 31px 25px 170px black;
}

/* Morph Button: Default Styles */

.morph-button {
	position: relative;
	display: block;
	margin: 0 auto;
}

.morph-button > button {
	position: relative;
	padding: 0 1em;
	border: none;
	background-color: transparent;
	color: #f9f6e5;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	line-height: 80px;
	overflow: hidden;
}

/* Let's add some nice easing for all cases */
.menu {
	width:30vw;
	bottom:0;
	position:absolute;
	top:0;
	left:-30vw;
	overflow:scroll;
	padding:2vmin;
	z-index:9999999;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

.menu-content {

}

.menu.open {
	transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
	transform: translateX(30vw);
}

.icon-close {
	position:absolute;
	top:2vmin;
	right:2vmin;
	cursor:pointer;
}

.menu-content h2 {
	margin-top:0;
	margin-bottom:1em;
	margin-left:10px;
}

.menu-content ul {
	padding:0;
	height:100%;
}

.menu-content ul li {
	list-style:none;
	padding:2vmin 2vmin;
	font-size:2vmin;
	// border-bottom:1px solid rgba(255,255,255,0.2);
	// background:red;
}

.menu-content ul li:hover {
	background:rgba(0,0,0,0.1);
	border:0;
	cursor:pointer;
}

.menu-icon {
	padding-right:10px;
}

// menu buttons

.hi-icon-wrap {
	text-align: center;
	margin: 0 auto;
	padding: 2em 0 3em;
}

.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 7px 15px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
	text-decoration: none !important;
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.hi-icon:before {
	font-family: 'ecoicon';
	speak: none;
	font-size: 30px;
	line-height: 70px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.hi-icon-mobile:before {
	content: "\e009";
}

.hi-icon-screen:before {
	content: "\e00a";
}

.hi-icon-earth:before {
	content: "\e002";
}

.hi-icon-support:before {
	content: "\e000";
}

.hi-icon-locked:before {
	content: "\e001";
}

.hi-icon-cog:before {
	content: "\e003";
}

.hi-icon-clock:before {
	content: "\e004";
}

.hi-icon-videos:before {
	content: "\e005";
}

.hi-icon-list:before {
	content: "\e006";
}

.hi-icon-refresh:before {
	content: "\e007";
}

.hi-icon-images:before {
	content: "\e008";
}

.hi-icon-pencil:before {
	content: "\e00b";
}

.hi-icon-link:before {
	content: "\e00c";
}

.hi-icon-mail:before {
	content: "\e00d";
}

.hi-icon-location:before {
	content: "\e00e";
}

.hi-icon-archive:before {
	content: "\e00f";
}

.hi-icon-chat:before {
	content: "\e010";
}

.hi-icon-bookmark:before {
	content: "\e011";
}

.hi-icon-user:before {
	content: "\e012";
}

.hi-icon-contract:before {
	content: "\e013";
}

.hi-icon-star:before {
	content: "\e014";
}

.hi-icon-star:before {
	content: "?";
}


/* Effect 8 */
.hi-icon {
	// background: #333;
	-webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
	-moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
	transition: transform ease-out 0.1s, background 0.2s;
}

.hi-icon:after {
	top: 0;
	left: 0;
	padding: 0;
	z-index: -1;
	box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
	opacity: 0;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

.hi-icon:active {
	background: rgba(255,255,255,0.05);
	-webkit-transform: scale(0.93);
	-moz-transform: scale(0.93);
	-ms-transform: scale(0.93);
	transform: scale(0.93);
	color: #fff;
}

.fa-2x {
  vertical-align: middle;
}

// Menus

.menu-btn {
	transition: transform 1s ease-in-out;
	transition-delay: 0s;
	position:absolute;
	top:-100px;
	left:10px;
	opacity:0;
	z-index:12;
}

.shown {
	opacity:1;
	transition-delay: 0.1s;
}

.Session-menu {
    background:@brand-primary !important;

}

.Session.shown {
	transform: translateY(110px);
}

.Stages-menu {
	background: @brand-danger !important;
}

.Stages.shown {
	transform: translateY(190px);
}

.Canvas-menu {
    background:@brand-success !important;
}

.Canvas.shown {
	transform: translateY(300px);
}
