.swiper-slide {
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.swiper-slide h2 {
	margin:0;
}

.swiper-container-horizontal > .swiper-pagination {
    bottom: 0px;
}


.node-container {
	margin-left: -1.5em;
	padding-right: 10vw;
	padding-left: 10vw;
}

.question-container {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100vw;
	height: 130px;
	padding-right: 10vmin;
	padding-left: 10vmin;
	background-image: linear-gradient(to bottom, @content-bg 0%, @content-bg 20%, fade(@content-bg, 60%) 60%, fade(@content-bg, 0%) 100%);
}

.node-container {
	position: fixed;
	top: 0;
	right: 20vw;
	left: 20vw;
	height: 100vh;
	margin-left: -1.5em;
	padding-right: 0;
	padding-left: 0;
}

.node-container-bottom-bg {
	display: none;
}

.node-container-bottom-bg {
	position: fixed;
	z-index: 10;
	right: 0;
	bottom: 0;
	left: 0;
	display: initial;
	height: 170px;
	background-image: linear-gradient(to top, @content-bg 0%, @content-bg 10%, fade(@content-bg, 0%)  100%);
}

.nameList {
	display: flex;
	overflow: scroll;
	flex-pack: start;
	padding-bottom: 100px;
	-ms-flex-pack: start;
	-webkit-box-pack: start;
	align-content: flex-start;
	flex-wrap: wrap;
	justify-content: flex-start;
	transition: left 1s ease;
	padding-top:170px;
}

.nameList.alt {
	right:10vw;
    left: 33vw;
}


.side-container {
	position: fixed;
	top: 0;
	bottom: 1vmin;
	left: 8vw;
	display: flex;
	flex-pack: start;
	width: 20vw;
	margin: 0 auto;
	padding-top: 170px;
	padding-bottom: 2vmin;
	align-content: flex-start;
	flex-wrap: wrap;
	justify-content: flex-start;
	z-index: 10;
	opacity:1;
	transition: all 0.5s ease;
}

.side-container.out {
	left:-30vw;
	opacity:0;
}

//
// @media (min-width: 769px) {
// 	.nameList {
// 		margin: 0 auto;
// 		padding-top: 170px;
// 		padding-bottom: 150px;
// 	}
//
// 	.question-container {
// 		position: fixed;
// 		z-index: 10;
// 		top: 0;
// 		left: 0;
// 		width: 100vw;
// 		height: 170px;
// 		padding-right: 10vmin;
// 		padding-left: 10vmin;
// 		background-image: linear-gradient(to bottom, @content-bg 0%, @content-bg 10%, fade(@content-bg, 0%) 100%);
// 	}
//
// 	.node-container {
// 		position: fixed;
// 		top: 0;
// 		right: 10vw;
// 		left: 10vw;
// 		height: 100vh;
// 		margin-left: -1.5em;
// 		padding-right: 0;
// 		padding-left: 0;
// 	}
//
// 	.node-container-bottom-bg {
// 		position: fixed;
// 		z-index: 10;
// 		right: 0;
// 		bottom: 0;
// 		left: 0;
// 		display: initial;
// 		height: 170px;
// 		background-image: linear-gradient(to top, @content-bg 0%, @content-bg 10%, fade(@content-bg, 0%)  100%);
// 	}
// }
//
// @media (min-width: 1025px) {
// 	.nameList.alt {
// 		right: 10vw;
// 		left: initial;
// 		width: 60vw;
// 	}
//
// 	.question-container {
// 		padding-right: 15%;
// 		padding-left: 15%;
// 	}
// }

.previous-node-list {
	z-index: 20;
	overflow: scroll;
	width: 100%;
	height: 100%;
	margin-bottom: 100px;
	padding: 15px;
	padding-bottom: 5em;
	border-radius: @border-radius-base;
	background: @brand-info;
}

.current-panel {
	overflow: scroll;
	width: 100%;
	height: 100%;
	padding: 0 @padding-base-vertical;
	padding-bottom: 4em;
	border-radius: @border-radius-base;
	background: @brand-warning;
}

.current-panel h4 {
	font-size: 20px;
	margin: 0;
	position:fixed;
	padding:@padding-base-horizontal 0px @padding-base-horizontal @padding-base-vertical;
	margin-left: (@padding-base-horizontal*-1);
	z-index:999;
	// background-image: linear-gradient(to bottom, @content-bg 0%, @content-bg 20%, fade(@content-bg, 60%) 60%, fade(@content-bg, 0%) 100%);
	background-image: linear-gradient(to bottom, @brand-warning 0%, @brand-warning 30%, fade(@brand-warning, 60%) 60%, fade(@brand-warning, 0%) 100%);
}

.current-node-list {
	margin-top:@padding-large-horizontal;
}

.current-node-list-background {
	background-image: linear-gradient(to top, @brand-warning 0%, @brand-warning 30%, fade(@brand-warning, 60%) 60%, fade(@brand-warning, 0%) 100%);
    width: 18vw;
    height: 100px;
    position: fixed;
    bottom: 40px;
}

.node-lists.double {
	height: 50%;
}

.node-list-item {
	font-size: 1.1em;
	display: inline-block;
	margin: 10px;
	cursor: pointer;
}

.current-node-list .node-list-item {
	background-color: lighten(@brand-warning, 10%);
	border-radius: 50%;
	padding:10px;
	width: 90px;
	height:90px;
	display:flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	float:left;
	font-size:@font-size-small;
	border: 5px solid lighten(@brand-warning, 10%);
	transform: scale(0);
	opacity:0;
	transition: border 0.5s cubic-bezier(0.22, 0.61, 0.36, 1), opacity 0.5s cubic-bezier(0.22, 0.61, 0.36, 1), transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.current-node-list .node-list-item.shown {
	transform: scale(1);
	opacity:1;
}

.current-node-list .node-list-item.selected {
	border: 5px solid #FFDD36;
}

.card {
	padding-left: 1em;
	color: white;
	z-index:99;
}

.card.ghost {
	transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	opacity: 0;
}

.card.ghost.show {
	opacity: 1;
}


.inner-card {
    display:flex;
	flex-direction: column;
	width: 205px;
	height: 205px;
	margin-bottom: 1em;
	cursor: pointer;
	cursor: hand;
	transition: all 0.3s ease-in-out;
	word-wrap: break-word;
	border: 10px solid darken(@brand-primary, 5%);
	border-radius: 50%;
	background: @brand-primary;
	justify-content: center;
    align-items: center;
	transform: scale(0.2);
	opacity: 0;
}

.inner-card.shown {
	transform: scale(1);
	opacity:1;
}

.inner-card.delete {
	opacity: 0;
	border-color: @brand-danger;
	background: @brand-danger;
}

.inner-card.ghost {
	color: @brand-success;
	border: 10px dotted @brand-success;
	background: transparent;
}

.card h4 {
	margin-top: 0;
}

.card ul {
	font-size: 13px;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.card.dragging .inner-card {
    transform: scale(0.5);
	z-index: 20;
}


// bin
.delete-bin-footer {
    height:15vh;
    line-height:19vh;
    transition: all 1s ease;
    transform: translateY(15vh);
    position:absolute;
    bottom:0;
    left:5vmin;
    z-index: 25;
}

.delete-bin-footer.show {
    transform: translateY(0);
}

.delete-bin {
    transition: all 0.5s ease;
    // padding:40px;
}

.delete-bin.delete {
    color: @brand-danger;
    transform: scale(1.5);
}
