.panel-heading {
    padding: 5px 15px;
}

.key-panel {
    background: @panel-bg;
    width:300px;
    padding: @padding-base-vertical @padding-base-horizontal;
    position:absolute;
    top: 20px;
    right: 20px;
    border-radius: @border-radius-base;
    overflow: hidden;
}

.key-panel-initial {
    transition: 0.5s all ease;
    transform: translateX(-300px);
    opacity:0;
}

.key-panel-initial.show {
    transform: translateX(0);
    opacity:1;
}

.key-panel-options {
    transition: 0.5s all ease;
    opacity:0;
    transform: translateX(300px);
    position:absolute;
    top:0;
    height:100%;
    width:250px;
}

.key-panel-options.show {
    transform: translateX(0);
    opacity:1;
}

.key-panel-options .button-row {
    position:absolute;
    bottom: @padding-base-vertical;
}

.key-panel-row {
    // padding:14px;
}

.key-panel-text {
    height: 52px;
    padding-left:10px;
    display:flex;
    align-items:center;
}

// dropdown doesnt cover svg images for some reason
.btn-group.bootstrap-select.open {
    z-index:999;
}

.dropdown-menu {
    font-size: 16px !important;
}

.dropdown-menu > li > a {
    padding: 10px 20px;
}

.reset-state-button {
    background: @brand-primary;
    width:100px;
    height:100px;
    position: absolute;
    bottom: 40px;
    right: 45px;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

.key-panel-icon {
    display:flex;
    align-items: center;
    justify-content: center;
}

.key-panel-row {
    display: flex;
}

svg.panel-icon {
    width:40px;
    height:40px;
}

.edge-icon {
    width: 30px;
    height: 30px;
}

.edge-icon.social line {
    stroke: @brand-primary;
}

.edge-icon.negative line {
    stroke: @brand-danger;
}

a:hover, a:focus {
    text-decoration: none;
    color: @link-color;
}

.key-panel .btn-sm, .btn-group-sm > .btn {
    padding: 16.5px 15px;
}
