.key-panel {
    background: @panel-bg;
    width:300px;
    padding: @padding-base-vertical @padding-base-horizontal;
    position:absolute;
    top: 20px;
    right: 20px;
    border-radius: @border-radius-base;
}

.key-panel-row {
    // padding:14px;
}

.key-panel-text {
    height: 52px;
    padding-left:10px;
}

.reset-state-button {
    background: @brand-primary;
    width:100px;
    height:100px;
    position: absolute;
    bottom: 40px;
    right: 45px;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

.key-panel-icon {
    text-align: center;
}

svg.key-panel-icon {
    width:40px;
    height:40px;
}

.edge-icon {
    width: 30px;
    height: 30px;
}

.edge-icon.social line {
    stroke: @brand-primary;
}

.edge-icon.negative line {
    stroke: @brand-danger;
}

a:hover, a:focus {
    text-decoration: none;
    color: @link-color;
}

.key-panel .btn-sm, .btn-group-sm > .btn {
    padding: 16.5px 15px;
}
