.node-bucket {
	width: 300px;
	height: 90px;
	margin: 0 auto;
	white-space: nowrap;
}

.node-bucket-item {
	border-radius: 50%;
	width: 110px;
	height:110px;
	display:flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	font-size: 20px;
	border: 0;
	background:white;
	color:black;
	margin: 6px;
}

.active-node-list .node-bucket-item {
	transition: all 0.5s ease-in-out;
	transform: translateX(50px);
	opacity: 0;
}

.active-node-list .node-bucket-item.shown {
	transform: translateX(0px);
	opacity: 1;
}

.node-question-container h1 {
  font-size: 3.4vh;
}

.ord-active-node-list .node-bucket-item {
    opacity:1;
}

.ord-active-node-list {
    display:flex;
    width:100%;
    overflow-x: scroll;
	align-items: center;
	justify-content: center;
    // flex-direction: column;
    flex-wrap: wrap;
    padding-bottom:200px;
}

.ord-node-bin  .active-node-list {
	display: block;
	width: 100%;
	align-items: center;
	justify-content: center;
}
