
.ord-active-node-list .node-bucket-item {
    opacity:1;
}

.ord-active-node-list {
	width: 70% ;
	align-items: center;
	justify-content: center;
}

.ord-node-bin  .active-node-list {
	display: block;
	width: 100%;
	align-items: center;
	justify-content: center;
}
