
.ord-active-node-list .node-bucket-item {
    opacity:1;
}

.ord-active-node-list {
    display:flex;
    width:100%;
    overflow-x: scroll;
	align-items: center;
	justify-content: center;
    // flex-direction: column;
    flex-wrap: wrap;
    padding-bottom:200px;
}

.ord-node-bin  .active-node-list {
	display: block;
	width: 100%;
	align-items: center;
	justify-content: center;
}
