// sociogram
.sociogram-followup h2 {
	margin-top: 0;
}

.sociogram-popover {
	position: absolute;
	z-index: 9999;
	top: 0;
	left: 0;
	display: inline-flex;
	display: none;
	visibility: hidden;
	width: 100%;
	height: 100%;
	background: transparent;
	align-items: center;
	justify-content: center;
}

.sociogram-title {
	position: absolute;
	bottom: 30px;
	left: 50px;
	overflow: hidden;
	width: 241px;
	height: 260px;
	padding: 0;
	background: transparent;
}

.sociogram-followup {
	z-index: 9999;
	width: 800px;
	margin: 0 auto;
	margin-bottom: 35px;
	padding: 40px;
	border-radius: 10px;
}

.context-panel {
    position: absolute;
    top: 3vmin;
    right: 3vmin;
    width:25vmin;
    background: rgba(0,0,0,0.5);
    border-radius: @border-radius-base;
    padding:1.5vmin;
}

.context-header {
}

.context-footer {
    padding:0 10px;
}

.new-group-button {
	cursor:pointer;
}

.context-list {
    list-style:none;
    overflow:scroll;
    min-height:15vh;
    max-height:31vh;
    padding-left:0;
}

.hull {
    padding:10px;
    cursor: pointer;
}

.hull.selected {
    background: #373737;
}

.context-color {
    height:17px;
    width:17px;
    display:inline-block;
}
