.context-panel {
    position: absolute;
    bottom: 5vmin;
    right: 5vmin;
    width:30vmin;
    height:25vh;
    // border:1px solid white;
    background: rgba(0,0,0,0.5);
    border-radius: @border-radius-base;
    overflow:scroll;
    padding:2vmin;
}

.context-list {
    list-style:none;
    padding-left:0;
}

.context-color {
    height:14px;
    width:14px;
    display:inline-block;
}
