.context-panel {
    position: absolute;
    top: 3vmin;
    right: 3vmin;
    width:25vmin;
    background: rgba(0,0,0,0.5);
    border-radius: @border-radius-base;
    padding:1.5vmin;
}

.context-header {
}

.context-footer {
    padding:0 10px;
}

.context-list {
    list-style:none;
    overflow:scroll;
    min-height:15vh;
    max-height:60vh;
    padding-left:0;
}

.hull {
    padding:10px;
}

.hull.selected {
    background: #373737;
}

.context-color {
    height:14px;
    width:14px;
    display:inline-block;
}
