 
/* ===================================================================
Import Bootstrap LESS and Site Specific LESS
=================================================================== */
 
@import '../components/bootstrap/less/bootstrap.less'; /* Compiled in Codekit - referenced here as a Framework */
@import '../less/variables.less'; /* Your site specific LESS variables - these override BS defaults  */
@import '../less/colors.less';


html, body {
    height:100%;
    width:100%;
    -webkit-font-smoothing: antialiased;
    font-weight:300;
    overflow:hidden;
}

*:focus {outline: none !important;}

.form-control {
    // width:96%;
}

 // Name generator
.nameList {
    max-height:700px;
    width:100%;
    overflow: scroll;
}

.card {
    width:215px;
    height:300px;
    border:1px solid white;
    background: #eee;
    color:black;
    display: inline-block;
    padding: 20px;
    margin: 10px;
    overflow:hidden;
    cursor: pointer; cursor: hand;
}

.card h4 {
    margin-top:0;
}

.card ul
{
    list-style-type: none;
    margin:0;
    padding:0;
    font-size:13px;
}

// name gen mod
.list-container {
    width:100%;
    border:1px solid white;
    max-height:550px;
    overflow:scroll;
}

.list-container .item {
    background:#eee;
    color:black;
    padding:20px;
    margin:15px;
    cursor: pointer; cursor: hand;
    border-radius: 10px;
    border:2px solid #eee;
}

.list-container .item h3 {
    display:inline;
    margin:0;
    font-size:25px;
}

.node-list {
    max-height:500px;
    width:50%;
    float:left;
    overflow: scroll;
    // border:1px solid white;
    // padding:10px
}

.alt .nameList {
    width:50%;
    float:right;
}

.node-list-item {
    margin:10px;
}

.menu-info {
    position: absolute;
    bottom: 20px;
    padding: 20px;
}


 // Node bucket

 .node-bucket {
    width: 300px;
    white-space: nowrap;
    // border: 1px solid white;
    margin: 0 auto;
 }


 .node-item {
    padding:20px;
    height:60px;
    color:black;
    background:#eee;
    margin:10px;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    z-index:9999;
 }

 .node-bucket .node-item, .node-bin .node-item {
    display: none;
 }

  .node-bucket .node-item:first-child {
    display:inline-flex;
 }

 .over {
    background: green !important;
 }

 .node-bin {
    width:350px;
    height:350px;
    display:inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin:10px;
    transition: all 0.5s ease-in-out;
 }

 .copy {
    position:absolute !important;
    margin:0
 }


 .n0 {
    background:@brand-primary;
 }

 .n1 {
    background:@brand-success;
 }

 .n2 {
    background:@brand-info;
 }

 .n3 {
    background:@brand-warning;
    width:250px;
    height:250px;
 }

 .n3 h1, .n3 h4 {
    font-size:20px;
 }

 .n4 {
    background:@brand-danger;
    width:250px;
    height:250px;
 }

.n4 h1, .n4 h4 {
    font-size:20px;
 }


 .node-bin h1 {
    margin-bottom:0;
 }


 .node-bin-active {
    height: 800px;
    width: 800px;
    position: absolute;
    z-index: 999;
    top: 50% !important;
    left: 50% !important;
    margin-left: -400px;
    margin-top: -400px;
 }

 .active-node-list {
    width:70% ;
    // border:1px solid white;
    // height:70%;
    display:none;
    overflow: scroll;
    align-items: center;
    justify-content: center;
 }

 .node-bin-active .active-node-list {
    display:inline-block;
 }

 .active-node-list .node-item {
    display:inline-flex;
 }




.alter-count-box {
    position:absolute;
    bottom:20px;
    left:20px;
    height:100px;
    width:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    text-align: center;
}

.black {
    width:100%;
    height:100%;
    background: black;
    position:absolute;
}

.newNodeBox {
    position:absolute;
    padding:40px;
    border-radius:12px;
    background:black;
    transform: scale(0.1);
    opacity: 0;
}


.content {
    height:100%;
    background: @content-bg;
    // padding-top:100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type=radio]:checked + label>img {
    background: tomato;
}

.ui {
    z-index: 20;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.full-height {
    height:100%;
}

.Session-menu {
    background:@brand-primary !important;
}

.btn-link:hover {
    text-decoration: none !important;
}

.new-node-form {
    position:fixed;
    top:-333px;
    left:0;
    width:100%;
    height:auto;
    transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0.1s;
}

.new-node-form.node-form-open {
    transition-duration: 0.2s;
    transform: translateY(303px);
}

.content.blurry {
    filter:blur(3px);
}

.new-node-inner {
    background: black;
    padding:50px;
    width:700px;
    margin: 0 auto;
}

.arrow-nav {
    position:fixed;
    top:43%;

}
.arrow-right {
    right:0
}
.arrow-left {
    left:0;
}

#refresh-button {
    position: fixed;
    bottom:35px;
    right:45px;
    cursor:pointer;
}

.refresh-animate {
    -webkit-animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}   
}

.bodyfade {
   opacity: 1;
   transition: opacity 2s ease-in-out;
   -moz-transition: opacity 2s ease-in-out;
   -webkit-transition: opacity 2s ease-in-out;
   }


label {
    font-weight: 300 !important;
}

.ring {
    border: 30px solid #999;
    -webkit-border-radius: 300px;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom:65px;
    left:70px;
    -webkit-animation: pulsate 2.5s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.01, 0.01); opacity: 0.0;}
    15% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

// menu stuff



