 
/* ===================================================================
Import Bootstrap LESS and Site Specific LESS
=================================================================== */
 
@import '../components/bootstrap/less/bootstrap.less'; /* Compiled in Codekit - referenced here as a Framework */
@import '../less/variables.less'; /* Your site specific LESS variables - these override BS defaults  */
@import '../less/colors.less';


html, body {
    height:100%;
    width:100%;
    -webkit-font-smoothing: antialiased;
    font-weight:300;
    overflow:hidden;
}

*:focus {outline: none !important;}

.form-control {
    // width:96%;
}

table {
    width: 100%; /* Optional */
}

thead, tbody { display: block; }

tbody {
    max-height: 600px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

tbody td, thead th {
    width: 35%;  /* Optional */

}

.black {
    width:100%;
    height:100%;
    background: black;
    position:absolute;
}

.newNodeBox {
    position:absolute;
    top:300px;
    width:400px;
    left:50%;
    margin-left:-200px;
    padding:40px;
    border-radius:12px;
    background:black;
    transform: scale(0.1);
    opacity: 0;
}

.content {
    height:100%;
    background: @content-bg;
    // padding-top:100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type=radio]:checked + label>img {
    background: tomato;
}

.ui {
    z-index: 20;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.full-height {
    height:100%;
}

.Session-menu {
    background:@brand-primary !important;
}

.btn-link:hover {
    text-decoration: none !important;
}

.new-node-form {
    position:fixed;
    top:-333px;
    left:0;
    width:100%;
    height:auto;
    transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0.1s;
}

.new-node-form.node-form-open {
    transition-duration: 0.2s;
    transform: translateY(303px);
}

.content.blurry {
    filter:blur(3px);
}

.new-node-inner {
    background: black;
    padding:50px;
    width:700px;
    margin: 0 auto;
}

.arrow-nav {
    position:fixed;
    top:43%;

}
.arrow-right {
    right:0
}
.arrow-left {
    left:0;
}

#refresh-button {
    position: fixed;
    bottom:35px;
    right:45px;
    cursor:pointer;
}

.refresh-animate {
    -webkit-animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}   
}

.bodyfade {
   opacity: 1;
   transition: opacity 2s ease-in-out;
   -moz-transition: opacity 2s ease-in-out;
   -webkit-transition: opacity 2s ease-in-out;
   }


label {
    font-weight: 300 !important;
}

.ring {
    border: 30px solid #999;
    -webkit-border-radius: 300px;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom:65px;
    left:70px;
    -webkit-animation: pulsate 2.5s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.01, 0.01); opacity: 0.0;}
    15% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

// menu stuff



