.DS_Store
/node_modules
/bower_components
/platforms
/coverage
/release-builds
/www
/.idea
/docs-build
/plugins
/.git

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
build.json

*.zip
plugins/**/*.pbxproj
Icon^M^M

.devserver
config.xml.original

# Xcode (Cordova plugin)
xcuserdata/
IDEWorkspaceChecks.plist
