[submodule "src/utils/networkQuery"]
	path = src/utils/networkQuery
	url = https://github.com/complexdatacollective/networkQuery
[submodule "src/ui"]
	path = src/ui
	url = https://github.com/complexdatacollective/Network-Canvas-UI.git
[submodule "src/utils/protocol/protocol-validation"]
	path = src/utils/protocol/protocol-validation
	url = https://github.com/complexdatacollective/protocol-validation.git
[submodule "development-protocol"]
	path = development-protocol
	url = https://github.com/complexdatacollective/development-protocol.git
