.DS_Store
/node_modules
/bower_components
/platforms
/coverage
/release-builds
/www
/.idea
/docs-build
/plugins

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
build.json

*.zip
plugins/**/*.pbxproj
Icon^M^M

.devserver
config.xml.original
chromedriver.log

# Xcode (Cordova plugin)
xcuserdata/
IDEWorkspaceChecks.plist

# Ignore protocol template used for schema generation
src/schemas/abstract-protocol.json

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
dist/
