[submodule "src/utils/networkQuery"]
	path = src/utils/networkQuery
	url = https://github.com/codaco/networkQuery
[submodule "src/utils/protocol/protocol-validation"]
	path = src/utils/protocol/protocol-validation
	url = https://github.com/codaco/protocol-validation.git
[submodule "development-protocol"]
	path = development-protocol
	url = https://github.com/codaco/development-protocol.git
[submodule "src/utils/network-exporters"]
	path = src/utils/network-exporters
	url = https://github.com/codaco/network-exporters
[submodule "cores/5.1.0"]
	path = cores/5.1.0
	url = https://github.com/codaco/network-canvas.git
