.DS_Store
/node_modules
/android
/release-builds
/www
/build

# Capacitor config (generated in scripts/generateCapacitorConfig.js)
capacitor.config.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
build.json

*.zip
Icon^M^M

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
