language: node_js
branches:
  only:
    - master
node_js:
  - "8.5"
cache:
  directories:
    - node_modules # NPM packages
before_install:
  - sudo apt-get update -q
  - sudo apt-get install libavahi-compat-libdnssd-dev -y
install:
  - npm install
jobs:
  include:
    - stage: test
      script: npm run test
    - stage: lint
      script: npm run lint
    - stage: build
      script: npm run build
