<?xml version='1.0' encoding='utf-8'?>
<widget id="org.codaco.networkCanvas" version="4.0.0-alpha.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>NetworkCanvas</name>
    <description>
    Simplifying complex network data collection.
  </description>
    <author email="developers@coda.co" href="http://coda.co">
    Complex Data Collective
  </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="40" src="www/icons/ios/NC-Square-40.png" width="40" />
        <icon height="50" src="www/icons/ios/NC-Square-50.png" width="50" />
        <icon height="72" src="www/icons/ios/NC-Square-72.png" width="72" />
        <icon height="76" src="www/icons/ios/NC-Square-76.png" width="76" />
        <icon height="80" src="www/icons/ios/NC-Square-80.png" width="80" />
        <icon height="100" src="www/icons/ios/NC-Square-100.png" width="100" />
        <icon height="144" src="www/icons/ios/NC-Square-144.png" width="144" />
        <icon height="152" src="www/icons/ios/NC-Square-152.png" width="152" />
        <icon height="167" src="www/icons/ios/NC-Square-167.png" width="167" />
        <splash src="www/icons/ios/Default@2x~universal~anyany.png" />
    </platform>
    <platform name="android">
        <icon density="ldpi" src="www/icons/android/NC-Round-ldpi.png" />
        <icon density="mdpi" src="www/icons/android/NC-Round-mdpi.png" />
        <icon density="hdpi" src="www/icons/android/NC-Round-hdpi.png" />
        <icon density="xhdpi" src="www/icons/android/NC-Round-xhdpi.png" />
        <icon density="xxhdpi" src="www/icons/android/NC-Round-xxhdpi.png" />
        <icon density="xxxhdpi" src="www/icons/android/NC-Round-xxxhdpi.png" />
    </platform>
    <preference name="Orientation" value="landscape" />
    <preference name="target-device" value="tablet" />
    <preference name="DisallowOverscroll" value="true" />
    <engine name="android" spec="^6.2.3" />
    <engine name="ios" spec="^4.5.0" />
    <plugin name="cordova-plugin-app-version" spec="^0.1.9" />
    <plugin name="cordova-plugin-file" spec="^4.3.3" />
    <plugin name="cordova-plugin-x-socialsharing" spec="^5.2.0" />
</widget>
