<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jthrilly.networkcanvas" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Network Canvas</name>
    <description>
        A HTML5 and JavaScript based personal network capture tool.
    </description>
    <author email="joshmelville@gmail.com" href="http://github.com/jthrilly">
        Joshua Melville
    </author>
    <content src="index.html" />
    <icon src="resources/icons/netCanvas-ios.png" />
    <preference name="orientation" value="landscape" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="local" />
    <preference name="exit-on-suspend" value="true" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
