.main-menu {

  &__content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: var(--z-modal);
    padding: 0 8vmin;
    transition: opacity var(--animation-duration-standard) var(--animation-easing);
  }

  &__header {
    flex: 0 0 13vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  &__return-button,
  &__exit-button {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;

    .icon {
      margin-left: 1rem;

      .cls-1 {
        fill: var(--color-platinum--dark);
      }

      .cls-2 {
        fill: var(--color-platinum);
      }

      .cls-3 {
        fill: var(--color-white);
      }
    }
  }

  &__panels {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    position: relative;
    transition: opacity var(--animation-duration-standard) var(--animation-easing), transform var(--animation-duration-standard) var(--animation-easing);
    transition-delay: var(--animation-duration-fast);
  }
}
