.main-menu-menu-panel {
  flex: 0 0 auto;
  height: 100%;
  max-height: 80vh;
  display: flex;
  border-radius: .75rem;
  width: 10vw;
  transition: flex var(--animation-duration-standard) var(--animation-easing), background var(--animation-duration-standard) var(--animation-easing);
  transition-delay: var(--animation-duration-fast);
  border-style: solid;
  color: var(--text-dark);
  border-width: 0;
  border-left-width: .5rem;
  background: var(--menu-panel);
  overflow: hidden;

  .icon {
    position: absolute;
    transition: opacity var(--animation-duration-fast) var(--animation-easing);
    transition-delay: var(--animation-duration-fast);
  }

  &__settings {
    border-color: var(--settings);
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(.main-menu-menu-panel--active) {
      .main-menu-settings-menu {
        transition-delay: unset;
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  &__stages {
    border-color: var(--primary);
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(.main-menu-menu-panel--active) {
      .main-menu-stages-menu {
        transition-delay: unset;
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  &.main-menu-menu-panel--active {
    flex-grow: 3;
    background: var(--menu-panel--active);

    .icon {
      opacity: 0;
    }
  }

  &:not(.main-menu-menu-panel--active) {
    .icon {
      opacity: 1;
    }
  }
}
