.settings-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-background);
  border-radius: 50%;
  padding: 1.5rem;
  width: 6rem;
  height: 6rem;
  margin-bottom: 1.5rem;

  &__button {
    height: 6rem;
    width: 6rem;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
}
