:root {
  --input-text: var(--text--dark);
  --input-placeholder: var(--color-platinum--dark); // There seems to be a bug in iOS that requires this override go here.
}

.main-menu-stages-menu {
  --input-background: var(--color-platinum);
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 1;
  transition: opacity var(--animation-duration-standard) var(--animation-easing);
  transition-delay: var(--animation-duration-standard);

  &__timeline {
    padding: spacing(large) spacing(large) spacing(large) spacing(huge);
    flex: 3 1 auto;
    display: flex;
    flex-direction: column;

    &-header {
      flex: 0 0 3rem;
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding-right: 4rem;

      &--filter {
        display: flex;
        flex-direction: row;
        align-items: center;

        h4 {
          margin: 0 unit(2);
        }
      }

      h1 {
        margin: 0;
      }

      .form-field-container,
      input {
        margin-bottom: 0;
      }
    }
  }

}
