.main-menu-timeline {
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;

  .scrollable {
    padding: 1.5rem 0;
  }


  &__header {
    flex: 0 0 3rem;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;

    h1 {
      margin-bottom: 0;
    }

    .stages-input {
      display: block;
      border-radius: 10rem;
      width: 13rem;
      padding: .75rem 2rem;
      border: 1px solid var(--color-platinum);
      background-clip: padding-box;
    }
  }
}
