:root {
  --input-text: var(--text--dark); // There seems to be a bug in iOS that requires this override go here.
  --active-tab-background: #{transparentize(rgb(0, 0, 0), 0.85)};
}

.settings-menu {
  display: flex;
  flex-flow: column;
  width: 70rem;
  height: 100%;
  padding-bottom: 5rem;
  max-width: 90%;

  &__header {
    flex: 0 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;

    h1 {
      font-size: 2rem;
    }
  }

  &__wrapper {
    display: flex;
    background: var(--color-white);
    border-radius: var(--border-radius);
    height: 80%;
    overflow: hidden;

    nav {
      background: var(--color-neon-coral);
      flex: 0 0 25%;
      padding: unit(6) 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;

      ul {
        padding: 0;
      }

      li {
        font-size: 1.2rem;
        padding: unit(2) unit(4);
        margin-bottom: unit(2);
        list-style: none;
        font-weight: 300;
        transition: background var(--animation-duration-fast) var(--animation-easing), font-weight var(--animation-duration-fast) var(--animation-easing);
        cursor: pointer;
        backface-visibility: hidden;

        &:hover {
          background: var(--active-tab-background);
        }

        &.active {
          background: var(--active-tab-background);
          font-weight: 700;
        }
      }

      .version-code {
        align-self: center;
      }
    }

    section {
      --input-background: var(--color-platinum);
      --input-text: var(--text--dark);

      width: 100%;
      color: var(--text-dark);
      padding: unit(3) unit(8);
      display: flex;

      .tab-content {
        display: flex;
        flex-direction: column;

        .scrollable {
          padding-top: 2rem;
          padding-bottom: 4rem;
        }
      }

      .settings-element {
        display: flex;

        .form-field-container {
          flex: 0 1 7rem;
          margin: 0;
          display: flex;
          justify-content: flex-end;
          align-items: flex-start;
        }

        .form-field-toggle {
          margin-left: 2rem;
        }

        .form-field {
          background: var(--color-white);
          padding: 0 2rem 0 0;
          width: auto;

          .form-field-toggle__button::before {
            background-color: var(--color-platinum--dark);
          }

          button {
            width: 12rem;
          }
        }

        &--wide {
          display: flex;
          flex-direction: column;
        }

      }
    }
  }
}
