.settings-menu {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: var(--z-modal);

  &__wrapper {
    display: flex;
    height: 100%;
    overflow: hidden;
    background: var(--modal-overlay);

    nav {
      background: var(--panel-bg-muted);
      flex: 0 0 22rem; // Match to sub-menu component width
      display: flex;
      flex-direction: column;
      overflow: hidden;
      position: relative;
      z-index: var(--z-modal);

      h1 {
        padding: units.unit(2) units.unit(4);
      }

      ul {
        padding: 0;
      }

      li {
        @include platform-not-ios {
          &:hover {
            &:not(.active) {
              background: var(--color-slate-blue--dark);
            }
          }
        }

        padding: units.unit(4);
        list-style: none;
        transition: background var(--animation-duration-fast) var(--animation-easing), font-weight var(--animation-duration-fast) var(--animation-easing);
        cursor: pointer;
        backface-visibility: hidden;
        font-weight: 700;
        font-size: 0.8rem;
        letter-spacing: 0.15em;
        text-transform: uppercase;

        &.active {
          background: var(--color-slate-blue);
          font-weight: 700;
        }
      }

    }

    section {
      width: 1000%;
      display: flex;
      background: var(--color-cyber-grape);

      .close-button-wrapper {
        position: absolute;
        top: units.unit(4);
        right: units.unit(4);
        z-index: var(--z-modal);
      }

      .tab-content {
        display: flex;
        flex-direction: column;

        .scrollable {
          padding-top: 2rem;
          padding-bottom: 4rem;
        }
      }

      .settings-element {
        display: flex;
        margin: 0 units.unit(8);

        .form-field {
          button {
            width: 12rem;
          }
        }

        >.form-field-container {
          .form-field-toggle {
            margin-left: 2rem;
          }

          .form-field {
            padding: 0 2rem 0 0;
            background: transparent;
            width: auto;
          }
        }

        &--wide {
          display: flex;
          flex-direction: column;
          margin: 0 units.unit(8);
        }

        &--sub-item {
          margin: 0 units.unit(8);

          .form-field-container {
            margin: 0;
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            flex-direction: column;

            .form-field-text {
              width: 100%;
            }
          }

        }

      }
    }
  }
}
