.alter-form {
  &__swiper {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper-wrapper {
    box-sizing: border-box;
    width: 75%;

    .scrollable {
      height: 100%;
    }
  }

  .swiper-slide {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 75vh;

    .slide-content {
      display: flex;
      max-height: 70vh;
      width: 100%;
      padding: unit(1) unit(4) unit(2);
      border-radius: var(--border-radius);
      background: var(--light-background);
      position: relative;
      left: calc(var(--base-node-size) * .2);

      &.alter-form__introduction {
        align-self: center;
        height: auto;
        max-height: 80vh;
        background: var(--color-platinum--dark);
        color: var(--text-dark);
        width: auto;
        padding: unit(6);
        left: 0;
        overflow: hidden;
        flex-direction: column;

        h1 {
          text-align: center;
        }
      }
    }

    &.swiper-slide-prev {
      transform: translate3d(0, 0, 0) rotateX(0) rotateY(0deg) !important;
    }

    &.swiper-slide-next {
      opacity: 0;
    }

    &.swiper-slide-active {
    }

    &:not(.swiper-slide-active) {
    }
  }

  .node {
    position: absolute;
    top: calc(50% - var(--base-node-size) /2);
    left: calc((var(--base-node-size) / -2));
    background: var(--light-background);
    border-radius: 50%;
  }

  &__form-container {
    height: inherit;
    margin-left: calc(var(--base-node-size) * .4);
  }

  &__form {
    column-count: 2;
    margin-top: 2rem;

    .form-field-container {
      break-inside: avoid;
    }
  }

  .progress-container {
    bottom: unit(4);
    position: absolute;
    z-index: var(--z-panel);
    left: 50%;
    transform: translateX(-50%);

    .progress {
      width: 20rem;
      height: 1.5rem;
    }

  }

}
