$slide-padding: 1.5rem;

.alter-form {
  &__swiper {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper-wrapper {
    box-sizing: border-box;
    width: 80%;

    .scrollable {
      height: 100%;
    }
  }

  .swiper-slide {
    height: 50vh;
    border-radius: var(--border-radius);
    background: var(--light-background);
    transition: opacity var(--animation-duration-slow) var(--animation-easing);
    margin-top: 5rem;

    &.swiper-slide-active {
      height: 60vh;
      pointer-events: initial;
      opacity: 1;
    }

    &:not(.swiper-slide-active) {
      pointer-events: none;
      opacity: .3;
    }
  }

  &__introduction {
    padding: $slide-padding;
  }

  .node {
    margin-top: calc((var(--base-node-size) / -2));
    margin-left: calc(50% - (var(--base-node-size) / 2));
  }

  &__form-container {
    height: calc(100% - (var(--base-node-size) / 2));
    overflow: hidden;
    padding: $slide-padding;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;

    .form-field-container {
      flex: calc(50% - 2rem);
      margin: 1rem;
    }
  }

  &__progress {
    bottom: 1rem;
    left: 37.5%;
    position: absolute;
    width: 25%;
    z-index: var(--z-panel);
  }
}
