.alter-form {
  @include interface-centering;
  // $box-shadow: rgba(0, 0, 0, 0.1);;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__swiper {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper-wrapper {
    box-sizing: border-box;
    max-width: 80rem;
    width: 100%;

    .scrollable {
      height: 100%;
    }
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .slide-content {
      --base-node-size: #{unit(15)};
      display: flex;
      max-height: 80%;
      min-height: 30%;
      width: 100%;
      max-width: 65rem;
      padding: unit(1) unit(4) unit(2);
      border-radius: var(--border-radius);
      background: var(--light-background);
      position: relative;

      &.alter-form__introduction {
        align-self: center;
        height: auto;
        max-height: 75%;
        max-width: 55rem; // Same as ego form container with - for readability
        background: var(--form-intro-panel-background);
        width: 100%;
        padding: unit(2) unit(4);
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        flex-direction: column;

        h1 {
          text-align: center;
        }
      }
    }
  }

  .node {
    position: absolute;
    top: calc(var(--base-node-size)*-0.5);
    left: calc(50% - (var(--base-node-size) /2));
    background: var(--light-background);
    border-radius: 50%;
  }

  &__form-container {
    height: inherit;
    margin-top: calc(var(--base-node-size) * .4);
    width: 100%;
  }

  &__form {
    margin-top: 2rem;
    margin-bottom: 1rem;

    // JRM - remove multiple column support following user feedback
    // TODO - consider having this as a menu option, and look at
    // alternative ways of calculating form item position to avoid
    // issues with jumping content, etc.
    // @media screen and (min-aspect-ratio: 16 / 10) {
    //   column-count: 2;
    // }

    .form-field-container {
      break-inside: avoid;
    }
  }

  .progress-container {
    @include transition-properties((opacity, transform), var(--animation-duration-slow), var(--animation-easing));
    z-index: var(--z-panel);
    opacity: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 20rem;
    position: absolute;
    bottom: unit(2);

    &__status-text {
      margin: 0;
      margin-bottom: unit(1);
    }

    &--show {
      opacity: 1;
    }

    &--status-only {
      background: var(--modal-background);
      border-radius: 5rem;
      box-shadow: 1px 1px 0.5rem var(--drop-shadow-color);
      width: auto;
      padding: 1rem 1.5rem;
    }

    .progress {
      width: 20rem;
      height: 1.5rem;
    }

  }

}

.alter-edge-form {

  .fake-edge {
    position: absolute;
    left: calc(50% - 5rem);
    top: -1rem;
    height: 0.5rem;
    width: 10rem;
    z-index: 1;
  }

  .node {
    position: absolute;
    left: calc(8rem + 50% - var(--base-node-size) /2);
    background: var(--light-background);
    border-radius: 50%;

    > * { // Render first node on top of fake edge
      z-index: 2;
    }

    &:first-of-type {
      left: calc(-8rem + 50% - var(--base-node-size) /2);
    }
  }
}

// TODO: move to its own component
.scroll-nudge {
  position: absolute;
  bottom: unit(2);
  background: var(--color-slate-blue--dark);
  color: var(--color-white);
  padding: unit(1) unit(2);
  border-radius: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 unit(.5) unit(2) unit(1) rgba(0, 0, 0, 0.25); //sass-lint:disable-line no-color-literals

  h5 {
    margin: 0;
  }

  .icon {
    margin-left: unit(1);
    height: unit(2);
    width: unit(2);
  }
}
