 .alter-form {
  @include interface-centering;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  .introduction-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
  }

  &__introduction {
    align-self: center;
    height: auto;
    max-height: 75%;
    max-width: 55rem; // Same as ego form container with - for readability
    border-radius: var(--border-radius);
    background: var(--form-intro-panel-background);
    width: 100%;
    padding: units.unit(2) units.unit(4);
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    margin: 0 auto;

    h1 {
      text-align: center;
    }
  }

  .slide-container {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }


  .slide-wrapper {
    box-sizing: border-box;
    max-width: 80rem;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    .scrollable {
      padding: 0 units.unit(2);
      height: 100%;
    }
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .slide-content {
      --base-node-size: #{units.unit(13)};

      display: flex;
      max-height: 80%;
      min-height: units.unit(2);
      width: 100%;
      max-width: 65rem;
      padding: units.unit(1) units.unit(2) units.unit(2);
      border-radius: var(--border-radius);
      background: var(--light-background);
      position: relative;


    }
  }

  .node {
    position: absolute;
    top: calc(var(--base-node-size) * -0.5);
    left: calc(50% - (var(--base-node-size) / 2));
    background: var(--light-background);
    border-radius: 50%;
  }

  &__form-container {
    height: inherit;
    margin-top: calc(var(--base-node-size) * .4);
    width: 100%;
  }

  &__form {
    // JRM - remove multiple column support following user feedback
    // TODO - consider having this as a menu option, and look at
    // alternative ways of calculating form item position to avoid
    // issues with jumping content, etc.
    // @media screen and (min-aspect-ratio: 16 / 10) {
    //   column-count: 2;
    // }

    .form-field-container {
      break-inside: avoid;
    }
  }

  .progress-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 20rem;
    flex: 0 0 auto;
    z-index: var(--z-panel);
    position: absolute;
    bottom: units.unit(2);

    &__status-text {
      margin: 0;
      margin-bottom: units.unit(1);
    }

    &--status-only {
      background: var(--modal-background);
      border-radius: 5rem;
      box-shadow: 1px 1px 0.5rem var(--drop-shadow-color);
      width: auto;
      padding: 1rem 1.5rem;
    }

    .progress {
      width: 20rem;
      height: 1.5rem;
    }

  }

}

.alter-edge-form {
  .fake-edge {
    position: absolute;
    left: calc(50% - 5rem);
    top: -1rem;
    height: 0.5rem;
    width: 10rem;
    z-index: 1;
  }

  .node {
    position: absolute;
    left: calc(8rem + 50% - var(--base-node-size) / 2);
    background: var(--light-background);
    border-radius: 50%;

    > * { // Render first node on top of fake edge
      z-index: 2;
    }

    &:first-of-type {
      left: calc(-8rem + 50% - var(--base-node-size) / 2);
    }
  }
}

// TODO: move to its own component
.scroll-nudge {
  position: absolute;
  bottom: units.unit(2);
  background: var(--color-slate-blue--dark);
  color: var(--color-white);
  padding: units.unit(1) units.unit(2);
  border-radius: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 units.unit(.5) units.unit(2) units.unit(1) rgb(0 0 0 / 25%); // sass-lint:disable-line no-color-literals
  z-index: var(--z-dialog);

  h5 {
    margin: 0;
  }

  .icon {
    margin-left: units.unit(1);
    height: units.unit(2);
    width: units.unit(2);
  }
}
