#root { // sass-lint:disable-line no-ids
  height: 100%;
  width: 100%;
}

// container for menus and content
.app {

  background: palette('primary');
  height: 100%;
  width: 100vw;

  .electron-titlebar {
    display: none;
    visibility: hidden;
  }

  .app-settings-container {
    width: var(--timeline-width);
    z-index: var(--z-global-ui);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;

    &__button {
      height: 6rem;
      width: 6rem;
      border-radius: 100%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--light-background);

      svg {
        height: 2.5rem;
        width: 2.5rem;
      }
    }
  }

  &--electron {
    .electron-titlebar {
      display: block;
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 25px;
      width: 100%;
      -webkit-app-region: drag; // sass-lint:disable-line no-vendor-prefixes
    }
  }

  // page wrap for content
  &__content {
    @include vcjc; // vertical center, justify center
    background: palette('background');
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    width: 100vw;
    position: relative; // do not remove this!
  }

  &--preview {
    .app-settings {
      pointer-events: none;
    }

    .protocol {
      .timeline {
        .progress-bar {
          pointer-events: none;
        }
      }
    }
  }
}
