// container for menus and content
.app {
  background: palette('primary');
  height: 100vh;
  perspective: 1500px;
  transition: var(--animation-duration-slow) var(--animation-easing);
  width: 100vw;

  .electron-titlebar {
    display: none;
    visibility: hidden;
  }

  &--electron {
    .electron-titlebar {
      display: block;
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 25px;
      width: 100%;
      -webkit-app-region: drag; // sass-lint:disable-line no-vendor-prefixes
    }
  }

  &--settings-open {
    background: palette('settings');
    transition: none;
  }

  // page wrap for content
  &__content {
    @include vcjc; // vertical center, justify center
    background: palette('background');
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    transition: var(--animation-duration-standard) var(--animation-easing);
    width: 100vw;
    display: flex;

    // content being pushed e.g. by menu
    &--pushed {
      transform-origin: 100%;
      transform-style: preserve-3d;
      transform: translate3d(295px, 0, -870px);

      @include breakpoint(full) {
        transform: translate3d(335px, 0, -870px);
      }
    }
  }
}
