// container for menus and content
.app {
  background: palette('primary');
  height: 100vh;
  perspective: 1500px;
  transition: $animation-slow-duration $animation-default-easing;
  width: 100vw;

  &--session {
    background: palette('settings');
    transition: none;
  }

  // page wrap for content
  &__content {
    background: palette('background');
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    transition: $animation-standard-duration $animation-default-easing;
    width: 100vw;
    display: flex;
    @include vcjc; // vertical center, justify center

    // content being pushed e.g. by menu
    &--pushed {
      transform-origin: 100%;
      transform-style: preserve-3d;
      transform: translate3d(295px, 0, -870px);

      @include breakpoint(full) {
        transform: translate3d(335px, 0, -870px);
      }
    }
  }
}
