.data-export-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  background: var(--color-cyber-grape);

  .steps {
    flex: 1;
    display: flex;
  }

  &__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;

    .icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &__step {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__main {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    background: linear-gradient(rgb(64, 64, 136), var(--color-cyber-grape)); //sass-lint:disable-line no-color-literals

    &--centered {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--scrollable {
      padding: 0;
    }

    .scrollable {
      padding: 2rem 0 0;
    }
  }

  header {
    padding: unit(1) unit(6);
    background: var(--transparent-dark);
  }

  &__footer {
    padding: unit(2) unit(6);
    background-color: var(--color-neon-coral);
    display: flex;
    justify-content: space-between;

    .action-buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .button {
        &:last-child {
          margin-left: unit(2);
        }
      }
    }
  }

  &__session-select {
    .content-area {
      padding: unit(1) unit(6);
    }

    .selection-status {
      margin: unit(2) unit(4);
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row-reverse;
      height: unit(6);

      .header-toggle {
        margin-left: 2rem;
      }
    }

    .new-filterable-list {
      margin: unit(4);
      margin-bottom: 0;

      &__main {
        max-height: 45vh;
        min-height: 16rem;
      }
    }
  }

  .settings-element {
    display: flex;
    margin-bottom: 2rem;

    & > .form-field-container {
      .form-field {
        padding: 0 2rem 0 0;
        background: transparent;
        width: auto;
      }
    }
  }

}
