@mixin recolor-toggle($color) {
  .form-field-togglebutton__checkbox {
    &::before {
      border-color: $color;
    }

    &::after {
      background-color: $color;
    }
  }
}

$choice-padding: 2rem;

.dyad-interface {
  &__layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__pairs {
    position: relative;
    flex: 1 1 auto;
    width: 100%;
  }

  &__choice {
    background: var(--light-background);
    border-radius: var(--border-radius);
    padding: calc(7rem + #{$choice-padding}) $choice-padding $choice-padding;
    display: flex;
    flex-direction: column;
    min-width: 30vw;
    flex-grow: 0;
    position: relative;
    overflow: hidden;
  }

  &__pair {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  &__nodes {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__edge {
    height: 0.5rem;
    z-index: 1;
    width: 10rem;
    margin: 0 -1rem;
  }

  &__options {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: $choice-padding;
    left: 50%;
    transform: translateX(-50%);
  }

  &__yes {
    @include recolor-toggle(var(--color-kiwi));
    margin-right: 4rem;
  }

  &__no {
    @include recolor-toggle(var(--color-tomato));
  }

  &__progress {
    padding-top: 1rem;

    .progress-bar {
      background-color: var(--transparent-light);
    }

    .progress-container__status-text {
      text-align: center;
    }
  }
}
