.dyad-interface {
  &__layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__pairs {
    position: relative;
    flex: 1 1 auto;
  }

  &__choice {
    background: var(--light-background);
    border-radius: var(--border-radius);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    min-width: 50vw;
    flex-grow: 0;
  }

  &__pair {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  &__nodes {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__edge {
    height: 0.5rem;
    z-index: 1;
    width: 10rem;
    margin: 0 -1rem;
  }

  &__options {
    display: flex;
    justify-content: center;
    align-items: center;

    .form-field-togglebutton {
      &:first-child {
        margin-right: 2rem;
      }
    }
  }
}
