.ego-form {
  margin: 0 auto;
  height: 100%;
  padding: 1rem 0 4rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 60rem;

  &__introduction {
    border-radius: var(--border-radius);
    background: var(--primary);
    padding: 4rem;
    margin-bottom: unit(10);
  }

  &__form-container {
    height: 100%;

    .scrollable {
      padding-top: unit(4);
      height: 100%;
    }
  }
}
