.ego-form {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: var(--timeline-width);
  margin-right: var(--interface-right-margin);

  &__introduction {
    width: 100%;
    flex: 1 0 auto;
    border-radius: var(--border-radius);
    background: var(--form-intro-panel-background);
    max-height: 80vh;
    padding: unit(6);
    overflow: hidden;
    flex-direction: column;
    margin: 3rem 0;
    max-width: 55rem; // same as ego form max width

    h1 {
      text-align: center;
    }
  }

  &__form-container {
    height: 100%;
    width: 100%;
  }

  &__form-container-scroller {
    height: calc(100% - 3rem);
    display: flex;
    flex-direction: column;

    & > * {
      max-width: 55rem;
      align-self: center;
    }
  }

  .progress-bar__filler {
    height: 100%;
    transition: unset;
  }
}
