.finish-session-interface {
  @include interface-centering;

  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;

  &__frame {
    width: 80%;
    max-width: 50rem;
    padding: unit(4);
    background: var(--light-background);
    border-radius: var(--border-radius);
  }

  &__title {
    text-align: center;
  }

  &__section {
    margin-top: spacing(medium);
    padding-bottom: spacing(small);
    padding-top: spacing(small);

    &--export,
    &--download {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: var(--background);
      padding: 2.4rem;
      border-radius: var(--border-radius);
    }

    &--buttons {
      text-align: center;
      flex-basis: 15rem;
    }
  }
}
