.finish-session-interface {
  @include interface-centering;

  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;

  &__frame {
    max-width: 50rem;
    padding: units.unit(2) units.unit(4);
    background: var(--light-background);
    border-radius: var(--border-radius);
    max-height: calc(100% - 2rem);
    display: flex;
    flex-direction: column;
  }

  &__title {
    text-align: center;
    margin: 0;
  }

  &__section {
    &:first-of-type {
      padding-top: units.unit(2);
    }

    &:last-of-type {
      padding-top: units.unit(2);
    }

    &--export,
    &--download {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: var(--background);
      padding: units.unit(2) units.unit(4);
      border-radius: var(--border-radius);
      margin: units.unit(2) 0;
    }

    &--buttons {
      text-align: center;
    }
  }

}
