.hyper-list {
  @include gpu;
  margin-right: -1rem;
  display: flex;

  &__container {
    flex: 1;
    display: flex;
  }

  &__item {
    padding-bottom: 1rem;
    padding-right: 1rem;

    .draggable {
      height: 100%;
    }
  }

  &--drag,
  &--hover {
    background-color: var(--node-list-action-bg);
  }
}

