// Shared mixins for interfaces.

@mixin interface-prompt {
  flex: 0 0 var(--interface-prompt-flex-basis);
}

@mixin interface-centering {
  margin-left: var(--timeline-width);
  margin-right: var(--interface-right-margin);
}
