.interface {
  @include interface-centering;

  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__prompt {
    @include interface-prompt;
  }

  &__main {
    position: relative;
    flex: 1 auto;
    height: 100%;
    min-height: 0;
  }
}
