.interface {
  @include interface-centering;
  height: 100%;
  padding: 1rem 0 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__prompt {
    @include interface-prompt;
  }

  &__main {
    flex: 1 auto;
    height: 100%;
    margin-top: 1rem;
    min-height: 0;
  }
}
