.menu-container {
  // todo: replace z-index references with z-index system
  --z-index-overlay: 2000;
  position: absolute;
  top: -100vh;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--color-navy-taupe);
  @supports (backdrop-filter: blur(10px)) {
    background: rgba(0, 0, 0, .25);
    backdrop-filter: blur(20px);
  }
  z-index: var(--z-index-overlay);
  padding: 0 8vw;
  opacity: 0;
  transition: opacity var(--animation-duration-standard) var(--animation-easing);

  &--show {
    top: 0;
    opacity: 1;

    .menu-container__panels {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  &__header {
    flex: 0 0 10rem;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }

  &__panels {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    position: relative;
    opacity: 0;
    transform: translateY(-5rem);
    transition: opacity var(--animation-duration-slow) var(--animation-easing), transform var(--animation-duration-slow) var(--animation-easing);
    transition-delay: var(--animation-duration-fast);
  }

  &__footer {
    flex: 0 0 10rem;
    align-items: center;
    display: flex;
  }
}

.menu-panels {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  position: relative;

  .menu-panel {
    flex: 0 0 auto;
    height: 100%;
    max-height: 80vh;
    display: flex;
    border-radius: .75rem;
    width: 10vw;
    transition: flex var(--animation-duration-slow) var(--animation-easing), background var(--animation-duration-slow) var(--animation-easing);
    transition-delay: var(--animation-duration-standard);
    border-style: solid;
    color: var(--text-dark);
    border-width: 0;
    border-left-width: .5rem;
    background: var(--menu-panel);
    overflow: hidden;

    .icon {
      position: absolute;
      transition: opacity var(--animation-duration-fast) var(--animation-easing);
      transition-delay: var(--animation-duration-standard);
    }

    &__settings {
      border-color: var(--settings);
      display: flex;
      align-items: center;
      justify-content: center;

      &:not(.menu-panel--active) {
        .settings-menu {
          transition-delay: unset;
          opacity: 0;
          pointer-events: none;
        }
      }
    }

    &__stages {
      border-color: var(--primary);
      margin-left: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &:not(.menu-panel--active) {
        .stages-menu {
          transition-delay: unset;
          opacity: 0;
          pointer-events: none;
        }
      }
    }

    &.menu-panel--active {
      flex-grow: 3;
      background: var(--menu-panel--active);

      .icon {
        opacity: 0;
      }
    }

    &:not(.menu-panel--active) {
      .icon {
        opacity: 1
      }
    }
  }
}

.stages-menu {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 1;
  transition: opacity var(--animation-duration-slow) var(--animation-easing);
  transition-delay: var(--animation-duration-slow);


  &__timeline {
    padding: spacing(large) spacing(large) spacing(large) spacing(huge);
    flex: 3 1 auto;
    display: flex;
    flex-direction: column;
  }

  &__stats {
    flex: 0 0 auto;
    padding: spacing(large);
    background: var(--color-platinum);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.stages-timeline {
  &__header {
    flex: 0 0 3rem;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;

    h1 {
      margin-bottom: 0;
    }

    .stages-input {
      display: block;
      border-radius: 10rem;
      width: 13rem;
      padding: .75rem 2rem;
      border: 1px solid var(--color-platinum);
    }
  }

  &__timeline {
    flex: 1 1 auto;
    overflow: hidden;
    display: flex;
    .scrollable {
      padding: 1.5rem 0;
    }
  }
}

.timeline-stage {
  --timeline-color: var(--color-neon-coral);
  display: flex;
  align-items: stretch;

  &__notch {
    flex: 0 0 1.5rem;
    position: relative;

    &::before {
      content: '';
      height: 100%;
      display: block;
      left: 50%;
      position: absolute;
      border-left: var(--timeline-color) .2rem solid;
      transform: translateX(-.1rem);
    }

    &::after {
      content: '';
      background: var(--timeline-color);
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-.75rem);
    }
  }

  &__preview {
    flex: 0 0 10rem;
    margin: 1rem 2rem;

    img {
      max-width: 100%;
    }
  }

  &__label {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
  }

  &:first-child {
    .timeline-stage__notch {
      &::before {
        height: 50%;
        top: 50%;
      }
    }
  }

  &:last-child {
    .timeline-stage__notch {
      &::before {
        height: 50%;
      }
    }
  }
}

.settings-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: spacing(large) spacing(large) spacing(large) spacing(huge);
  opacity: 1;
  transition: opacity var(--animation-duration-slow) var(--animation-easing);
  transition-delay: var(--animation-duration-slow);
}
