.name-generator-interface {
  height: 100vh;
  padding: 20px 30px 20px;
  @include breakpoint('full') {
      padding: 20px 80px 80px;
  }
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__prompt {
    flex: 0 0 12vw;
    @include breakpoint('full') {
        flex: 0 0 200px;
    }
  }

  &__main {
    flex: 1 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    position: relative;
  }

  &__nodes {
    flex: 3 1 auto;
    height: 100%;
    display: flex;
    padding-left:30px;
    @include breakpoint('full') {
      padding-left:0;
    }
    .node {
      font-size: 160px;
      @include breakpoint('full') {
        font-size: 200px;
      }
    }
  }

  &__panels {
    flex: 0 0 auto;
    height: 100%;
    max-height: 80vh; // Fix for Safari abs. positioned flex box child bug.
    display: flex;
  }

  &__add-person {
    @include svg-button('../images/add-a-person.svg');
    position: absolute;
    bottom: 35px;
    right: 35px;
    width: 140px;
    height: 120px;
    z-index: 1000;
  }

  &__node-bin {
    position: absolute;
    bottom: 35px;
    left: 35px;
    z-index: 1000;
  }

}
