.name-generator-roster-interface {
  --overlay-background: rgb(58 58 117 / 80%); // sass-lint:disable-line no-color-literals

  @include interface-centering;

  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__loading {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__prompt {
    @include interface-prompt;
  }

  &__node-panel {
    flex: 1 1 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .node-list {
      flex: 1;

      &.node-list--drag,
      &.node-list--hover {
        background-color: transparent;
      }
    }
  }

  &__node-list {
    position: relative;
    flex: 1;
    display: flex;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background: var(--overlay-background);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px .5em var(--color-rich-black);
  }

  &__search-panel {
    flex: 1 1 50%;
    min-width: 40rem;
    height: 100%;
    display: flex;
    padding-right: spacing(large);

    .card {
      cursor: grab;
    }
  }

  &__panels {
    flex: 1 0;
    display: flex;
  }
}
