.name-generator-auto-complete-interface {
  // TODO: extract shared styling with other interfaces
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem 0;
  position: relative;
  text-align: center;
  width: 100%;

  // XXX: this duplicates name-generator-interface
  &__prompt {
    flex: 0 0 12vw;
    @include breakpoint('full') {
        flex: 0 0 200px;
    }
  }

  &__search-button {
    bottom: 35px;
    cursor: pointer;
    position: absolute;
    right: 35px;
  }

}
