.name-generator-list-interface {
  @include interface-centering;

  height: 100%;
  padding: 1rem 0 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__prompt {
    @include interface-prompt;
  }

  // &__main {
  //   flex: 1 auto;
  //   display: flex;
  //   justify-content: center;
  //   align-items: flex-start;
  //   height: 100%;
  //   position: relative;
  // }

  &__nodes {
    flex-basis: 34%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__list {
    flex-basis: 66%;
    height: 100%;
    display: flex;
    padding-left: spacing(large);
  }

  &__panels {
    flex: 0 0 auto;
    height: 100%;
    max-height: 80vh; // Fix for Safari abs. positioned flex box child bug.
    display: flex;
  }
}

.node-drop-area
.node-list {
  border: 2px solid red;
  flex: 1;

  &::before {
    content: 'Drop nodes here';
    color: white;
  }

  &--active {
    opacity: 1;
    border-color: green;

  }

  &--hover {
    background: green;
  }
}
