$search-icon-offset-x: 0;
$search-icon-offset-y: 1.8rem; // match stage menu button
$search-z-index: 1000;

.name-generator-auto-complete-interface {
  @include interface-centering;

  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem 0;

  &__prompt {
    @include interface-prompt;
  }

  &__search {
    --right-collapsed: 3rem; // align with 'core' of button
    --right-offset: var(--timeline-width); // margin equal to left menu width

    // Position collapsed search element around the 'core' of the icon
    bottom: $search-icon-offset-y;
    right: var(--right-offset);
    width: calc(100% - calc(var(--right-offset)*2));
    z-index: $search-z-index;
  }

  &__search-button {
    cursor: pointer;
    transition: opacity var(--animation-duration-standard) var(--animation-easing);
    z-index: $search-z-index + 1;

    &.icon {
      position: absolute;
      bottom: 1.8rem;
      right: 1.8rem;
      width: 7rem;
      height: 7rem;
    }

    &--hidden {
      opacity: 0;
      z-index: -1;
    }

  }

  &__nodes {
    height: calc(100% - var(--interface-prompt-flex-basis));
    text-align: left;

    .scrollable {
      height: 100%;
    }

    .node__label {
      line-height: 1; // tighter fit for longer text (e.g., venues)
    }
  }

  &__node-bin {
    position: absolute;
    bottom: spacing(large);
    left: 50%;
    transform: translateX(-50%);
  }

}
