.name-generator-interface {
  @include interface-centering;

  height: 100%;
  padding: 1rem 0 4rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__prompt {
    @include interface-prompt;
  }

  &__main {
    flex: 1 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    position: relative;
  }

  &__nodes {
    flex: 3 1 auto;
    height: 100%;
    display: flex;
    padding-left: 1.5rem;
  }

  &__panels {
    flex: 0 0 auto;
    height: 100%;
    max-height: 80vh; // Fix for Safari abs. positioned flex box child bug.
    display: flex;
  }

  &__add-node {
    .icon {
      @include floating-action-button;
    }
  }
}
