.name-generator-interface {
  height: 100vh;
  padding: 20px 50px 60px;
  @include breakpoint('full') {
    padding: 20px 80px 80px;
  }
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__prompt {
    @include interface-prompt;
  }

  &__main {
    flex: 1 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    position: relative;
  }

  &__nodes {
    flex: 3 1 auto;
    height: 100%;
    display: flex;
    padding-left: 30px;
    @include breakpoint('full') {
      padding-left: 0;
    }
  }

  &__panels {
    flex: 0 0 auto;
    height: 100%;
    max-height: 80vh; // Fix for Safari abs. positioned flex box child bug.
    display: flex;
  }

  &__add-person {
    @include svg-button('../images/add-a-person.svg');
    @include floating-action-button;
  }

  &__node-bin {
    position: absolute;
    bottom: spacing(large);
    left: spacing(large);
    z-index: 1000;
  }

}
