.name-generator-list-interface {
  @include interface-centering;

  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__prompt {
    @include interface-prompt;
  }

  &__main {
    flex: 1 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    position: relative;
  }

  &__nodes {
    flex: 3 1 auto;
    height: 100%;
    display: flex;
    padding-left: spacing(large);
  }

  &__panels {
    flex: 0 0 auto;
    height: 100%;
    max-height: 80vh; // Fix for Safari abs. positioned flex box child bug.
    display: flex;
  }

  &__add-node {
    position: absolute;
    bottom: 1.8rem;
    right: 1.8rem;
    width: 7rem;
    height: 7rem;
  }

  &__node-bin {
    position: absolute;
    bottom: spacing(large);
    left: 50%;
    transform: translateX(-50%);
    z-index: var(--z-tooltip);
  }

}
