.name-generator-list-interface {
  --overlay-background: rgb(58 58 117 / 67%); // sass-lint:disable-line no-color-literals

  @include interface-centering;

  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__prompt {
    @include interface-prompt;
  }

  &__node-panel {
    flex-basis: 34%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .node-list {
      flex: 1;

      &.node-list--drag,
      &.node-list--hover {
        background-color: transparent;
      }
    }
  }

  &__node-list {
    position: relative;
    flex: 1;
    display: flex;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background: var(--overlay-background);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__search-panel {
    flex-basis: 66%;
    height: 100%;
    display: flex;
    padding-left: spacing(large);

    .card {
      cursor: grab;
    }
  }

  &__panels {
    flex: 0 0 auto;
    height: 100%;
    max-height: 80vh; // Fix for Safari abs. positioned flex box child bug.
    display: flex;
  }
}
