.narrative-interface {
  width: 100%;
  height: 100%;

  &__canvas {
    width: 100%;
    height: 100%;

    .canvas {
      display: flex;
    }
  }


  .node {
    --node-outer-trim-stroke: white;

    &__node-trim {
      stroke-width: 1.75rem;
    }
  }
}
