.ordinal-bin-interface {
  height: 100vh;
  padding: 20px 50px 60px;
  @include breakpoint('full') {
    padding: 20px 80px 80px;
  }
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__prompt {
    @include interface-prompt;
  }

  &__bucket {
    display: flex;
  }

  &__bins {
    display: flex;
    align-items: flex-start;
    height: 100%;
    position: relative;
  }

  &__nodes {
    flex: 3 1 auto;
    height: 100%;
    display: flex;
    padding-left: 30px;
    @include breakpoint('full') {
      padding-left: 0;
    }
  }



}
