.protocol-import {
  position: relative;
  width: 50rem;

  &__close {
    position: absolute;
    right: 0;
  }

  &__content {
    background: var(--light-background);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: spacing(large);
    padding: spacing(large);
  }

  &__buttons {
    text-align: right;

    .button {
      margin-left: spacing(small);
    }
  }
}
