.protocol-list {
  display: flex;
  flex-direction: row;
  flex: 1;


  @media screen and (max-aspect-ratio: 16 / 10) {
    .new-filterable-list__main {
      >.scrollable {
        grid-template-columns: 1fr 1fr;
      }
    }
  }


  &--empty {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;

    .getting-started {
      padding: unit(3) unit(6);
      background: var(--light-background);
      flex-direction: column;
      width: 60vw;
      border-radius: var(--border-radius);
    }
  }
}
