.protocol-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 70rem;

  &__footer {
    margin-top: unit(1);
    border-radius: var(--border-radius);
    padding: unit(2) unit(4);
    display: flex;
    background: var(--color-slate-blue);
  }


  &--empty {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;

    .getting-started {
      padding: unit(3) unit(6);
      background: var(--light-background);
      flex-direction: column;
      width: 60vw;
      border-radius: var(--border-radius);
    }
  }
}
