$search-height: 6rem;
$sort-height: 3.2rem;
$overlay-color: rgb(54, 49, 95);

.searchable-list {
  flex: 1;
  display: flex;

  &__too-many {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - #{$search-height} + 1rem);
    background: var(--panel-bg-muted);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    text-shadow: 1px 1px .5em var(--color-rich-black);

    &--no-text {
      display: none;
    }
  }

  &__list {
    flex: 1;
    display: flex;
    position: relative;

    .hyper-list {
      flex: 1;
      padding: 1rem 0 $search-height;

      // Using custom overlays instead
      &.hyper-list--drag,
      &.hyper-list--hover {
        background-color: transparent;
      }
    }

    &--can-sort {
      .hyper-list {
        padding-top: $sort-height;
      }

      .searchable-list__too-many {
        top: calc(#{$sort-height});
        height: calc(100% - #{$sort-height} - #{$search-height} + 2rem);
      }
    }

    &--too-many {
      align-items: center;
      justify-content: center;
    }
  }

  .panel {
    &__content {
      position: relative;
    }
  }

  &__sort {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: inline-flex;
    overflow-x: auto;

    .filter-button {
      display: flex;
      flex: 0 0 auto;
      margin: 0;
    }
  }

  &__placeholder {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__search {
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    .form-field-container {
      margin: 0;
    }

    .form-field-text__input {
      margin: 0;
    }
  }

  &__overlay {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background: var(--overlay-background);
    justify-content: center;
    align-items: center;
  }
}

.data-card {
  &__data {
    background-color: var(--color-slate-blue--dark);
  }
}

.large-roster-notice {
  background: var(--background);
  padding: unit(2);
  color: var(--text);
  border-radius: unit(3);
  text-align: center;
  background-image: url('../images/roster-list-bg-cards.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 62%;
  padding-bottom: 16rem;
  position: relative;
  top: -4rem;
  width: 100%;
  max-width: 28rem;
  margin: unit(2);
  box-shadow: inset 0 -1.2rem 3rem 0 rgba(22, 21, 43, 0.28); //sass-lint:disable-line no-color-literals

  &::after {
    content: '';
    background-image: url('../images/roster-list-character.svg');
    position: absolute;
    bottom: -8rem;
    left: 0;
    background-repeat: no-repeat;
    height: 20rem;
    width: 100%;
    background-size: 60%;
    background-position: 36% 78%;
  }
}
