$search-height: 6rem;
$sort-height: 3.2rem;

.searchable-list {
  flex: 1;
  display: flex;

  &__too-many {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - #{$search-height} + 1rem);
    background: var(--panel-bg-muted);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    &--no-text {
      display: none;
    }
  }

  &__list {
    flex: 1;
    display: flex;
    position: relative;

    .hyper-list {
      flex: 1;
    }

    &--too-many {
      align-items: center;
      justify-content: center;

      .hyper-list {
        opacity: 0 !important; // sass-lint:disable-line no-important
        height: 100%; // Needed for dropzone
      }
    }
  }

  &__sort {
    flex: 0 0 auto;
    width: 100%;
    display: inline-flex;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
    border-bottom: 0.1em solid var(--background);

    .filter-button {
      display: flex;
      flex: 0 0 auto;
      margin: 0;
    }
  }

  &__placeholder {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__search {
    flex: 0 0 auto;
    background: var(--panel-bg-muted);
    border-top: 0.1rem solid var(--background);
    padding: 1rem;
    width: 100%;
    z-index: var(--z-panel);

    .form-field-container {
      margin: 0;
    }

    .form-field-text__input {
      margin: 0;
    }
  }

  &__overlay {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--overlay-background);
    backdrop-filter: blur(#{units.unit(2)});
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px .5em var(--color-rich-black);
  }
}

.data-card {
  &__data {
    background-color: var(--color-slate-blue--dark);
  }
}

.large-roster-notice {
  background: var(--background);
  padding: units.unit(2);
  color: var(--text);
  border-radius: units.unit(3);
  text-align: center;
  background-image: url('../images/roster-list-bg-cards.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 62%;
  padding-bottom: 16rem;
  position: relative;
  top: -5rem;
  width: 100%;
  max-width: 28rem;
  margin: units.unit(2);
  box-shadow: inset 0 -1.2rem 3rem 0 rgb(22 21 43 / 28%); // sass-lint:disable-line no-color-literals

  &::after {
    content: '';
    background-image: url('../images/roster-list-character.svg');
    position: absolute;
    bottom: -8.7rem;
    left: 0;
    background-repeat: no-repeat;
    height: 20rem;
    width: 100%;
    background-size: 65%;
    background-position: 38% 100%;
  }
}
