.searchable-list {
  flex: 1;
  display: flex;

  &__too-many {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 5.25rem);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  &__list {
    flex: 1;
    display: flex;
    position: relative;

    .hyper-list {
      flex: 1;
      padding: 1rem 1rem 5.5rem 1rem;

      &.hyper-list--drag {
        background-color: var(--panel-selected-node-bg-color);
      }

      &.hyper-list--hover{
        background-color: var(--node-list-action-bg);
      }
    }

    &--can-sort {
      .hyper-list {
        padding-top: 5.5rem;
      }

      .searchable-list__too-many {
        top: 5.25rem;
        height: calc(100% - 10.5rem);
      }
    }
  }

  .panel {
    &__content {
      position: relative;
    }
  }

  // &__status {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }

  &__sort {
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .button {
      margin-right: 1rem;
    }
  }

  &__placeholder {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &--dimmed {
      opacity: 0.5;
    }
  }

  &__search {
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    input {
      flex: 1;
      background-color: color('white');
      border-radius: spacing(small);
      bottom: var(--content-padding);
      border: 0;
      color: palette('text-dark');
      left: var(--content-padding);
      padding: spacing(medium);
      height: auto;
      width: 100%;

      &::placeholder {
        opacity: 0.5;
      }
    }

    &-icon {
      position: absolute;
      right: 2rem;
      top: 0rem;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: none;
      .MuiSvgIcon-root {
        color: var(--color-rich-black);
      }
    }
  }
}
