.server-list {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow-y: auto;
  background: var(--color-navy-taupe);
  border-radius: var(--border-radius);
  margin-bottom: unit(2);


  &--available {
    display: block;
  }

  &__content {
    display: grid;
    padding: unit(4) unit(2);
    grid-template-columns: 1fr 1fr;
    grid-gap: unit(2);
  }

  &__placeholder {
    text-align: center;
    padding: unit(2) 0 unit(4);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
