.server-list {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow-y: auto;
  padding: spacing(large);

  &--available {
    display: block;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__placeholder {
    text-align: center;

    .spinner,
    .icon {
      display: inline-block;
      padding-bottom: spacing(large);
    }
  }
}
