.server-list {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow-y: auto;


  &--available {
    display: block;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-height: 20rem;
    padding: 2rem 0;
    grid-gap: 3rem;

    .server-card {
      margin: 0;
    }
  }

  &__placeholder {
    text-align: center;
    padding: unit(2) 0 unit(4);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
