.server-pairing {
  display: flex;
  flex-direction: row;

  &__card {
    flex-grow: 0;
    flex-shrink: 0;
  }

  &__form {
    flex: auto;
    max-width: 30rem;
    padding-left: spacing(large);
  }

  &__loading {
    margin: 5rem auto;
  }
}
