.session-list {
  &--empty {
    padding: spacing(huge);
    border-radius: var(--border-radius);
    background: palette('modal-main-panel');
    width: 80%;
    margin: 0 auto;

    .session-list__header {
      text-align: center;
    }
  }
}
