.session-list {

  &__wrapper {
    width: 100%;
    height: 100%;
    margin: 0 spacing(huge) spacing(large);
  }

  &--empty {
    padding: spacing(huge);
    border-radius: var(--border-radius);
    background: palette('cyber-grape');
    width: 80%;
    margin: 0 auto;
    align-self: flex-start;

    .session-list__header {
      text-align: center;
    }
  }
}
