.session-export-overlay {
  max-width: 65rem;
  max-height: none;
  width: 80vw;

  &__tabs {
    background: var(--background);
    border-radius: var(--border-radius);
    display: flex;
    overflow: hidden;

    .tab {
      @include vcjc; // vertical center, justify center
      display: flex;
      flex-grow: 1;
      padding: unit(2);
      font-weight: 700;
      font-size: 0.8rem;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      cursor: pointer;
      text-align: center;

      &--selected {
        background: var(--primary);
      }
    }
  }
}


.session-export {
  &__content {
    background: var(--background);
    border-radius: var(--border-radius);
    margin-top: 1rem;

    code {
      background: var(--color-slate-blue);
      padding: 0.45rem;
      border-radius: var(--border-radius);
    }
  }

  &--footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: baseline;
  }

  &__buttons {
    .button {
      margin-left: spacing(small);
    }
  }
}

.session-export-content {
  display: flex;
  flex-direction: column;
}

.file-export, .server-card-wrapper {
  padding: unit(2) unit(4);
}

.file-export {
  &__footer {
    display: flex;
    justify-content: flex-end;
  }
}

.export-progress-overlay {
  display: flex;
  flex: 1 0 auto;
  max-height: 30rem;

  .error-list {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: flex;
      align-items: center;
      margin: 0.75rem;

      .icon {
        height: unit(3);
        width: unit(3);
        margin-right: unit(2);
      }
    }
  }

  &__icon {
    --circle-size: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    padding: unit(4);

    .icon {
      height: 6rem;
      width: 6rem;
    }
  }

  &__content {
    align-items: center;
    display: flex;

    .progress-container {
      // height: 15rem;
      // display: flex;
      // align-items: center;
      // justify-content: center;
    }

    .scrollable {
      padding: unit(2) 0;
      height: 100%;
    }

    .progress-bar {
      width: 20rem;
      height: 1.5rem;
      background: var(--color-platinum);
      margin-bottom: unit(1);

      &__filler {
        background: var(--primary);
      }
    }
  }
}

.export-progress-footer {
  display: flex;
  justify-content: flex-end;
  padding: unit(2) unit(4);
}

