@keyframes move-bg-1 {
  0% {
    transform: scale(1.25) rotate(0deg) translateX(-1rem) rotate(0deg);
    filter: hue-rotate(15deg);
  }

  100%   {
    transform: scale(1.1) rotate(360deg) translateX(-1.2rem) rotate(-360deg);
    filter: hue-rotate(0deg);
  }
}

@keyframes move-bg-2 {
  0% { transform: scale(1.2);  }
  100%   { transform: scale(1.1); }
}

.bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  mix-blend-mode: screen;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-position: center;
}

.bg-1 {
  background-image: url('../images/main-background.svg');
  animation-duration: 50s;
  animation-name: move-bg-1;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.bg-2 {
  background-image: url('../images/main-background.svg');
  mix-blend-mode: screen;
  animation-duration: 50s;
  animation-name: move-bg-2;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.setup {
  height: 100%;
  width: 100%;
  z-index: var(--z-default);
  overflow-y: scroll;
  scroll-behavior: smooth;
  position: absolute;
  top: 0;

  ::-webkit-scrollbar {
    display: none;
  }

  &__header {
    align-items: center;
    justify-content: center;
    height: 30vh;
    display: flex;
    flex-direction: column;

    &--logo {
      width: 9rem;
    }

    &--title {
      margin: 0;
      font-size: 3rem;
    }
  }

  &__main {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    height: calc(100vh - 30vh - 10rem);

    .scrollable {
      height: 100%; // TODO: should this be on component?
    }

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: flex-start;
      width: 100%;

      &:not(.swiper-slide-active) {
        pointer-events: none;
      }
    }

    &.swiper-container {
      width: 100%; // ensure Swiper plugin initializes layout correctly
    }

    .swiper-button-prev {
      left: 0;
    }

    .swiper-button-next {
      right: 0;
    }

    .icon.swiper-button-next,
    .icon.swiper-button-prev {
      width: 6rem;
      margin-top: -3rem;
      height: auto;
      background: none;

      .cls-2 {
        fill: var(--color-cyber-grape);
      }
    }

    .swiper-container-horizontal>.swiper-pagination-bullets {
      .swiper-pagination-bullet {
        margin: 0 .35rem;
      }
    }


    .swiper-pagination-bullet {
      width: .75rem;
      height: .75rem;
      border: .07rem solid var(--color-white);
      background: transparent;
      opacity: 1;
      transition: background var(--animation-duration-fast) var(--animation-easing);
    }

    .swiper-pagination-bullet-active {
      background: var(--color-platinum);
    }

  }

  &__footer {
    width: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(transparent, var(--background) 10rem);
    flex-direction: column;
    align-content: center;
    height: calc(100vh + 10rem);

    &--link {
      height: 10rem;
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;

      h4 {
        margin-bottom: 1rem;
      }

      img {
        height: 2rem;
      }
    }
  }


  &__server-button {
    @include floating-action-button;
    z-index: unset;
    width: 10rem;
    height: 10rem;
  }

  .project-logo {
    width: 10rem;
    position: absolute;
    bottom: 1.7rem;
    left: 1.7rem;
  }

}

.import-protocol-overlay {
  .import-protocol-overlay__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      margin-top: 1rem;
    }

    .icon {
      height: 8rem;
    }

    .progress-bar {
      width: 20rem;
      height: 1.5rem;
      background: var(--background);

      &__filler {
        background: var(--primary);
      }
    }
  }
}

.resume-session-panel {
  background: var(--color-cerulean-blue);
  transition: transform var(--animation-duration-slow) var(--animation-easing);
  width: 100%;
  height: 100vh;

  &--open {
  }

}
