:root {

  --manage-interview-panel-height: 25vh;
  --header-height: 25vh;

}

@media (max-height: 799px) {
  :root {
    --header-height: 20vh;
    --manage-interview-panel-height: 20vh;
  }
}


.bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-position: center;

  &.bg-1 {
    background-image: url('../images/main-background.png');
  }
}

.setup {
  height: 100%;
  width: 100%;
  z-index: var(--z-default);
  position: absolute;
  top: 0;
  background-image: linear-gradient(to top, var(--background), transparent 10rem);

  &--show-sessions {
    .setup__header {
      opacity: 0;
      transform: scale(0.2);
      transition-delay: unset;
    }

    .setup__main {
      opacity: 0;
      transition-delay: unset;

      .swiper-button-next {
        transform: translateX(6rem);
        transition-delay: unset;
      }

      .swiper-button-prev {
        transform: translateX(-6rem);
        transition-delay: unset;
      }
    }
  }

  &__header {
    @include transition-properties((opacity transform), var(--animation-easing), var(--animation-duration-fast));
    align-items: center;
    justify-content: center;
    height: var(--header-height);
    display: flex;
    flex-direction: column;
    transition-delay: var(--animation-duration-fast);
    padding: 2rem;

    &--logo {
      height: 100%;
      max-height: 10rem;
    }
  }



  &__main {
    @include transition-properties((opacity), var(--animation-easing), var(--animation-duration-fast));
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    height: calc(100% - var(--header-height) * 2);
    transition-delay: var(--animation-duration-fast);

    .scrollable {
      height: 100%; // TODO: should this be on component?
    }

    .swiper-wrapper {
      box-sizing: border-box;
    }

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: flex-start;
      width: 50vw;
      padding: unit(2);

      &:not(.swiper-slide-active) {
        pointer-events: none;
      }
    }

    &.swiper-container {
      width: 100%; // ensure Swiper plugin initializes layout correctly
    }

    .swiper-button-prev {
      left: 0;
    }

    .swiper-button-next {
      right: 0;
    }

    .icon {
      &.swiper-button-next,
      &.swiper-button-prev {
        @include transition-properties((transform), var(--animation-easing), var(--animation-duration-fast));
        width: 6rem;
        margin-top: -3rem;
        height: auto;
        background: none;
        transition-delay: var(--animation-duration-fast);

        .cls-2 {
          fill: var(--color-cyber-grape);
        }
      }
    }

    .swiper-container-horizontal>.swiper-pagination-bullets {
      .swiper-pagination-bullet {
        margin: 0 .35rem;
      }
    }

    .swiper-pagination-bullet {
      width: .75rem;
      height: .75rem;
      border: .07rem solid var(--color-white);
      background: transparent;
      opacity: 1;
      transition: background var(--animation-duration-fast) var(--animation-easing);
    }

    .swiper-pagination-bullet-active {
      background: var(--color-platinum);
    }

  }

  &__server-button {
    @include floating-action-button;
    width: 10rem;
    height: 10rem;
  }

  &__project-logo {
    position: absolute;
    bottom: 1.8rem;
    left: 1.8rem;
    width: 10rem;
    height: 10rem;
    z-index: var(--z-default);
  }

}

.import-protocol-overlay {

  .import-protocol-overlay__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      margin-top: 1rem;
    }

    .icon {
      height: 8rem;
      background: var(--color-platinum);
      border-radius: 50%;
    }

    .progress-bar {
      width: 20rem;
      height: 1.5rem;
      background: var(--color-platinum);
      margin-bottom: unit(1);

      &__filler {
        background: var(--primary);
      }
    }
  }
}

.resume-session-panel {
  transition: transform var(--animation-duration-slow) var(--animation-easing);
  width: 100%;
  height: 100%;
  position: absolute;
  top: calc(100% - var(--manage-interview-panel-height));
  z-index: var(--z-panel);

  &--toggle {
    height: var(--manage-interview-panel-height);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .toggle-button {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h4 {
        margin-bottom: 0;
      }

      .toggle-image {
        height: 2rem;
        transition: transform var(--animation-duration-fast) var(--animation-easing);
      }
    }
  }

  &--open {
    transform: translateY(calc(-100% + var(--manage-interview-panel-height)));

    .toggle-image {
      transform: rotate(180deg);
    }

  }

}
