@mixin action-card {
  @include clickable(1.5);
  background-image: url('../images/misc-card-background.png');
  background-size: cover;
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
  display: flex;
  color: var(--text);
  align-items: center;
  justify-content: center;
  padding: unit(2);
  text-align: center;
  flex: 1;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: linear-gradient(120deg, rgba(45, 41, 85, 0.95), rgba(58, 58, 117, 0.86));
  }

  & > * {
    z-index: 100;
    position: relative;
  }

  &h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-shadow: 0 0 0.5rem black;
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }
}

@mixin light-card {
  &h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-navy-taupe);
    text-shadow: none;
  }

  &::after {
    background: linear-gradient(120deg, var(--color-platinum) 15%, rgba(195, 197, 222, 0.83) 80%) ;
  }
}

.bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-position: center;

  &.bg-1 {
    background-image: url('../images/main-background.png');
  }
}

.setup-screen {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: var(--z-default);
  position: absolute;
  top: 0;

  &__header {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex: 0 0 16vh;

    .header-logo {
      height: 100%;
      max-height: 8rem;
    }
  }

  &__main {
    flex: 1 0;
    overflow-x: auto;
    flex-direction: column;
    margin: 0 unit(4);
    padding-top: unit(3);

    .setup-section {
      margin: 0 auto unit(8);
      max-width: 70rem;
      display: flex;
      flex-direction: column;

      .section-wrapper {
        background: #{transparentize(rgb(58, 58, 117), 0.45)};
        display: flex;
        border-radius: var(--border-radius);
        overflow: hidden;

      }

      &__content {
        flex: 1;
        padding: unit(4);
        display: flex;
        flex-direction: column;
        justify-content: center;

        header {
          h1 {
            margin-top: 0;
          }

          h3 {
            margin-top: 0;
            margin-bottom: unit(2);
            color: #d0d0e470;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            font-size: 0.85rem;
          }
        }

        .protocol-card,
        .session-card {
          flex: 1;
          margin: 0;
        }
      }

      &__action {
        padding: unit(4);
        background: var(--color-cyber-grape);
        display: flex;
        flex-direction: column;
        flex: 0 0 25rem;
        justify-content: center;

        h4 {
          color: rgb(123, 123, 183);
          text-transform: uppercase;
          letter-spacing: 0.2em;
          font-size: 0.75rem;
          margin-top: 0;
        }

        .manage-protocols {
          flex: 1;
          display: flex;
          flex-direction: column;
        }
      }
    }

    .start-section {
      &__select-protocol {
        --input-background: transparent;

        .form-field-container,
        .form-field {
          padding: 0;
        }
      }

      .library-card {
        @include action-card;
        background-image: url('../images/protocol-card-background.png');
      }
    }

    .welcome-section {
      padding: unit(4) unit(8);
      background: var(--color-neon-coral);
      flex-direction: column;
      border-radius: var(--border-radius);
      border-bottom: 0.75rem solid var(--color-neon-coral--dark);
    }

    .resume-section {
      .resume-card {
        @include action-card;
        background-image: url('../images/session-card-background.png');
      }
    }

    .export-section {
      .unexported-server-card {
        @include action-card;
        @include light-card;
        // background-image: url('../images/export-settings-card-background.png');
      }

      .unexported-file-card {
        @include action-card;
        @include light-card;
        // background-image: url('../images/export-card-background.png');
      }

      .select-sessions-card {
        @include action-card;
        background-image: url('../images/session-card-background.png');
      }

      .export-settings-card {
        @include action-card;
      }

      &__content {
        flex: 1;

        .export-content {

          div {
            &:not(:only-child) {
              &:first-child {
                margin-bottom: unit(2);
              }
            }
          }
        }
      }

      &__action {
        .export-action {
          flex: 1;
          display: flex;
          flex-direction: column;

          &:not(:only-child) {
            &:first-child {
              margin-bottom: unit(2);
            }
          }
        }
      }
    };

    .import-section {
      // .url-card {
      //   @include action-card;
      //   @include light-card;
      //   // background-image: url('../images/url-card-background.png');
      // }

      // .device-card {
      //   @include action-card;
      //   @include light-card;
      //   // background-image: url('../images/device-card-background.png');
      // }

      // .server-import-card {
      //   @include action-card;
      //   @include light-card;
      //   // background-image: url('../images/server-card-background.png');
      // }

      &__content {
        .import-content {
          display: flex;
          flex: 1;
          justify-content: center;

          :first-child {
            margin-right: unit(2);
          }

          :last-child {
            margin-left: unit(2);
          }
        }
      }
    }
  }

  &__footer {
    display: flex;
    background: var(--color-navy-taupe);
    border-top: 0.1rem solid var(--color-cyber-grape);
    justify-content: center;

    .footer-section {
      padding: unit(3) 0;
      display: flex;
      width: 25rem;
      justify-content: center;
      align-items: center;

      &__label {
        letter-spacing: 0.25em;
        font-size: 0.8rem;
        text-transform: uppercase;
      }

      .icon {
        height: 3rem;
        padding: 0.5rem;
        width: auto;
      }

      &:hover {
        background: var(--color-neon-coral--dark);
        cursor: pointer;
      }
    }
  }
}
