.setup {
  $active-border-color: rgba(255, 255, 255, .5);
  --active-border-color: $active-border-color;
  --setup-header-height: 30vh;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-height: 15rem;

  &__header {
    align-items: center;
    display: flex;
    flex: 0 1 auto;
    height: var(--setup-header-height);
    justify-content: center;
    text-align: center;
    margin: 1.5rem 0;
  }

  .header-content {
    justify-content: center;
    align-items: center;
    width: 100%;

    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem;

      h1 {
        display: inline-block;
        width: auto;
        margin: 0;
        font-size: 3rem;
      }
    }

    &__logo {
      width: 10rem;
      margin-right: 1.5rem;
    }
  }

  &__link {
    border-bottom: .25rem solid transparent;
    cursor: pointer;
    margin: 0 1rem;
    padding-bottom: .5rem;
    transition: border-color var(--animation-duration-fast) var(--animation-easing);

    &--active {
      border-color: var(--active-border-color);
      font-weight: 600;
    }
  }

  &__main {
    flex: 1 1 auto;
    height: calc(100vh - var(--setup-header-height));
    display: flex;
    align-items: center;

    .scrollable {
      height: 100%; // TODO: should this be on component?
    }

    .swiper-wrapper {
      height: auto;
    }

    .swiper-button-prev {
      left: 8rem;
    }

    .swiper-button-next {
      right: 8rem;
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: 2rem;
      height: 4rem;
      margin-top: -8rem;
      background-size: 2rem 4rem;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: 5rem;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets
    .swiper-pagination-bullet {
      margin: 0 .35rem;
    }

    .swiper-pagination-bullet {
      width: .7rem;
      height: .7rem;
    }

    .swiper-pagination-bullet-active {
      background: var(--light-background);
    }

  }

  &__start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
  }

  &__factory-protocol {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: center;
  }

  &__server-button {
    @include floating-action-button;
    width: 10rem;
    height: 10rem;
  }
}
