.sociogram-interface {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  &__prompts {
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 30%;
    min-width: 320px;
    height: 150px;
    background: palette('light-background');
    overflow: hidden;
    padding: 20px;
  }

  &__sociogram {
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .prompts__prompt-header {
    @include typography('title-3');
  }

  .pips {
    &__pip {
      border-color: palette('background');

      &--active {
        background-color: palette('background');
      }
    }
  }
}
