.sociogram-interface {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  &__sociogram {
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__prompts {
    position: absolute;
    z-index: 100;
    bottom: 0;
    right: 0;

    .prompts:not(.prompts--minimized) {
      @include transition-properties((width, height, visibility, padding), var(--animation-easing), var(--animation-duration-fast));
      width: 270px;
      height: 290px;
    }
  }
}
