.sociogram-interface {
  @include interface-centering(false);

  align-items: center;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;

  &__drag-safe {
    position: absolute;
    left: 0;
  }

  &__concentric-circles {
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__prompts {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: var(--z-panel);
    background: var(--light-background);
    width: units.unit(40);
    bottom: spacing(large);
    right: spacing(large);
    border-bottom: 5px solid var(--primary);
    border-radius: var(--border-radius);
    box-shadow: 0 0 4rem 0 var(--modal-window-box-shadow);
    cursor: move;

    &__header {
      display: flex;
      justify-content: flex-end;
      text-align: center;
      padding: 0 units.unit(2);
      flex: 0 0 units.unit(4);
    }

    .prompts {
      --number-of-lines: 13;
      --prompt-text-size: 1.2rem;

      padding: 0 units.unit(2);
      line-height: 1.1;

      .prompt {
        flex: 0 0 auto;
      }
    }
  }
}
