.sociogram-interface {
  @include interface-centering(false);
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  &__concentric-circles {
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__prompts {
    position: absolute;
    z-index: var(--z-panel);
    bottom: 0;
    right: 0;

    .prompts {
      &:not(.prompts--minimized) {
        width: 16rem;
        height: 17rem;
      }

      &__prompt-header {
        p {
          height: auto;
          overflow: hidden;

          &::after {
            display: none;
          }
        }
      }
    }
  }
}
