@keyframes shake {
  10%,
  90% {
    transform: translate3d(-.1rem, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(+.2rem, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-.4rem, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(+.4rem, 0, 0);
  }
}

.tie-strength-census {
  @include interface-centering;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__prompt {
    @include interface-prompt;
  }

  &__main {
    position: relative;
    flex: 1 auto;
    height: 100%;
    margin-top: 1rem;
    min-height: 0;
  }

  &__introduction {
    max-height: 100%;
    background: var(--light-background);
    border-radius: var(--border-radius);
    padding: units.unit(2) units.unit(4);
    max-width: 55rem; // Same as ego form for readability

    h1 {
      text-align: center;
    }
  }

  &__layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__pairs {
    position: relative;
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__choice {
    border: 0.5rem solid transparent;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    z-index: var(--z-panel);
    position: relative;
    padding: units.unit(2);
    width: 100%;
    min-width: 65vmin;

    &--invalid {
      border-color: var(--error);
      outline-offset: 0.75rem;
      animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    }
  }

  &__pair {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  &__nodes {
    display: flex;
    justify-content: center;
    align-items: center;

    .node {
      position: relative;
      z-index: 2;
    }
  }

  &__edge {
    position: relative;
    height: 0.5rem;
    z-index: 1;
    width: 11rem;
    margin: 0 -1.5rem;
    background: linear-gradient(to right, transparent 50%, var(--background) 50%);
    background-size: 200% 100%;
    transition: background var(--animation-duration-standard) var(--animation-easing);
  }

  &__options-step {
    display: flex;
    justify-content: center;
    align-items: center;

    .form-field-boolean {
      flex: 1 0 100%;
      margin-bottom: 0;

      .boolean__options {
        justify-content: center;
      }

      .boolean-option {
        &--no {
          margin-left: units.unit(2);
        }
      }
    }
  }
}
