.stages-menu {
  z-index: 999;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 1 auto;

  &__wrapper {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    height: 100%;
    padding: 0 unit(4);

    footer {
      --input-background: var(--color-platinum);
      --input-placeholder: var(--color-charcoal);
      --input-text: var(--color-charcoal);

      display: flex;
      padding: unit(2) 0;
      flex-direction: column;
      flex: 0 0 auto;

      .form-field-container {
        margin: 0;

        .form-field-text__input {
          margin: 0;

          // Re add "clear" button that is removed by normalize
          &[type='search'] {
            // sass-lint:disable-block no-vendor-prefixes
            &::-webkit-search-cancel-button {
              height: 1rem;
              width: 1rem;
              background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:var(--color-charcoal);%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EClose%3C/title%3E%3Cg id="Close"%3E%3Crect class="cls-1" x="18" y="-6.28" width="4" height="52.57" transform="translate(-8.28 20) rotate(-45)" /%3E%3Crect class="cls-1" x="18" y="-6.28" width="4" height="52.57" transform="translate(20 48.28) rotate(-135)" /%3E%3C/g%3E%3C/svg%3E');
            }
          }
        }
      }
    }
  }
}
