.menu-timeline-stage {
  display: flex;
  align-items: stretch;
  padding: 0 spacing(medium);
  border-radius: var(--border-radius);

  &--current {
    background: var(--light-background);
  }

  &__preview {
    flex: 0 0 8rem;
    margin: 1rem 2rem 1rem 0;

    img {
      max-width: 100%;
      border-radius: var(--border-radius);
      padding: 0.5rem;
      background: var(--background);
    }
  }

  &__label {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
  }
}

.dimmer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--modal-overlay);
  z-index: var(--z-background);
  @supports (backdrop-filter: blur(0.75rem)) {
    background: var(--modal-overlay);
    backdrop-filter: blur(0.75rem);
  }
  padding: unit(4);
  text-align: right;

  &__button {
    height: 6rem;
    width: 6rem;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
}
