// Arbor Reset
// =============================================================================

@mixin arbor-reset {
    html, body {
       height: 100%;
       width: 100%;
       margin: 0;
       padding: 0;
    }

    *, *:before, *:after {
        box-sizing: inherit;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
    }
    body {
        position: relative;
        background-color: swatch(background-white);
        margin: 0;
        min-height: 100%;
    }

    a {
        color: swatch('network-blue');
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    img {
        max-width: 100%;
    }
}

@mixin arbor-reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin arbor-reset-button {
  -webkit-appearance: none;
  border: 0;
  background: none;
}

@mixin arbor-reset-img($width, $height: auto) {
  width: $width;
  height: $height;
  max-width: 100%;
  max-height: 100%;
}
