.stages-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 1 auto;
  overflow: hidden;
  width: 40rem;

  &__wrapper {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;

    .scrollable {
      padding: units.unit(4) 0;
    }

  }

  footer {
    display: flex;
    padding: units.unit(2) units.unit(4);
    flex-direction: column;
    flex: 0 0 auto;
    background: var(--light-background);

    .form-field-container {
      margin: 0;

      .form-field-text__input {
        margin: 0;
      }
    }
  }
}
