// sass-lint:disable clean-import-paths
@import '~network-canvas-ui/src/styles/all.scss';
@import 'containers/_app.scss';
@import 'components/_all.scss';

// sass-lint:disable no-ids
#root {
  @import 'containers/home';
  background: palette('primary');
}

html,
body {
  height: 100vw;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
