@import '~network-canvas-ui/src/styles/all';
@import 'ui/all';
@import 'utils/all';
@import 'helpers/all';
@import 'components/all';
@import 'containers/all';

// Remove touch and focus outlines
* {
  outline-style: none;
  -webkit-touch-callout: none;
  &:focus {
    outline: none;
   }
}

html,
body {
  margin: 0;
  overflow: hidden;
  padding: 0;
  user-select: none;
}

// .electron-titlebar {
//   width:100%;
//   background: palette('modal-overlay');
//   height:23px;
//   z-index:3;
// }
