@import '~network-canvas-ui/styles/all';
@import "components/_all.scss";

#root {
    @import "containers/home";
}

html, body {
  margin:0;
  padding:0;
  height:100%;
}

.app {
  &__content {
    @include sidemenu-visible;
  }
}
