{
  "extends": "airbnb",
  "env": {
    "commonjs": true,
    "node": true
  },
  "rules": {
    "no-console": "off",
    "import/no-extraneous-dependencies": ["error", {"packageDir": './'}],
    "import/no-unresolved": [2, { ignore: ['^[\.]'] }]
  }
}
