.switch {
  $size: 2rem;
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &--disabled {
    opacity: 0.5;
    touch-action: none;
    cursor: not-allowed;
  }

  &__button {
    width: $size * 2;
    height: $size;
    position: relative;

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      content: '';
      border-radius: $size;
      background-color: var(--color-rich-black);
      transition: background var(--animation-duration-fast) var(--animation-easing);
      width: $size * 2;
      height: $size * .67;
    }

    &::after {
      position: absolute;
      content: '';
      border-radius: 50%;
      height: $size;
      width: $size;
      background-color: var(--color-white);
      transform: translateX(-1px);
      transition: transform var(--animation-duration-fast) var(--animation-easing);
    }
  }

  &__input {
    visibility: hidden;
    position: absolute;

    &:checked + .switch__button {
      &::before {
        background-color: var(--input-radio--fill);
      }

      &::after {
        transform: translateX(calc(#{$size} + 1px));
      }
    }
  }

  &__label {
    margin-left: 1rem;
    font-family: var(--heading-font-family);
  }
}
