<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-network-canvas-client" version="0.0.1">
    <name>Network Canvas Client</name>
    <description>Cordova Plugin for Network Canvas API clients</description>
    <license>GPL-3.0-or-later</license>
    <keywords>social network,sna,visualization,research,public health,network canvas</keywords>
    <dependency id="cordova-plugin-file" version="^5.0.0" />
    <js-module src="www/client.js" name="client">
        <clobbers target="cordova.plugins.NetworkCanvasClient" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="NetworkCanvasClient">
                <param name="ios-package" value="NetworkCanvasClient"/>
            </feature>
        </config-file>
        <header-file src="src/ios/NetworkCanvasClient.h" />
        <source-file src="src/ios/NetworkCanvasClient.m" />
    </platform>
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="NetworkCanvasClient">
                <param name="android-package" value="org.codaco.networkCanvas.plugin.NetworkCanvasClient"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>
        <source-file src="src/android/NetworkCanvasClient.java" target-dir="src/org/codaco/networkCanvas/plugin" />
    </platform>
</plugin>
