$session-panel-button-size: 6rem;

.session-navigation {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  padding: units.unit(2);
  width: var(--session-panel-width);

  @keyframes pulse {
    // sass-lint:disable-block no-color-literals
    0% {
      box-shadow: 0 0 0 0 rgb(var(--color-sea-green---rgb) 0.8);
    }

    70% {
      box-shadow: 0 0 0 1rem rgb(var(--color-sea-green---rgb) 0);
    }

    100% {
      box-shadow: 0 0 4rem 1rem rgb(var(--color-sea-green---rgb) 0);
    }
  }

  svg {
    height: 2rem;
    width: 2rem;
  }

  &__progress-bar {
    @include platform-not-ios {
      &:hover {
        cursor: pointer;

        .progress-bar {
          animation: pulse 2s infinite;
        }
      }
    }

    display: flex;
    flex-grow: 1;
    padding: 2rem;
    border-radius: 5rem;
    margin: 1rem 0;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 0 1rem transparent;

    .progress-bar {
      height: unset;
    }

  }

  &__button {
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: $session-panel-button-size;
    width: $session-panel-button-size;
    transition: background var(--animation-duration-fast) var(--animation-easing);

    &--next {
      background: var(--light-background);

      svg {
        height: 2.5rem;
        width: 2.5rem;
      }

      &::after {
        content: '';
        opacity: 0;
        transition: transform var(--animation-duration-fast) var(--animation-easing), opacity var(--animation-duration-fast) var(--animation-easing);
        display: block;
        pointer-events: none;
        position: absolute;
        height: 9rem;
        width: 9rem;
        border-radius: 50%;
        z-index: -1;
        background: var(--primary);
      }

      &:active {
        background: var(--primary);

        &::after {
          transform: scale(.5);
          opacity: 1;
          transition: 0s;
        }
      }
    }

    &--back {
      .cls-2 {
        fill: var(--transparent-light);
      }

      &::after {
        content: '';
        opacity: 0;
        transition: transform var(--animation-duration-fast) var(--animation-easing), opacity var(--animation-duration-fast) var(--animation-easing);
        display: block;
        pointer-events: none;
        position: absolute;
        height: $session-panel-button-size * 2;
        width: $session-panel-button-size * 2;
        border-radius: 50%;
        z-index: -1;
        background: var(--light-background);
      }

      &:active {
        background: var(--light-background);

        &::after {
          transform: scale(.5);
          opacity: 1;
          transition: 0s;

        }
      }
    }

    &--nudge {
      animation: pulse 2s infinite;
      background: var(--primary);
    }
  }
}
