<plugin id="com.example.zipfilewriter" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ZipFileWriter</name>
    <description>Cordova Plugin to save ZIP files to a chosen location on Android devices</description>
    <license>MIT</license>
    <keywords>cordova, zip, file, writer</keywords>
    <engines>
        <engine name="cordova" version=">=8.0.0" />
    </engines>
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        <source-file src="src/android/ZipFileWriter.java" target-dir="src/com/example/zipfilewriter" />
    </platform>
    <js-module src="www/ZipFileWriter.js" name="ZipFileWriter">
        <clobbers target="ZipFileWriter" />
    </js-module>
</plugin>
