.whats-new-section {
  background: var(--color-sea-serpent);
  color: var(--color-white);

  &__content {
    padding: unit(4) unit(6);
  }

  &__footer {
    background: var(--color-sea-serpent--dark);
    padding: unit(2) unit(6);
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
