// Scale factor
$animation-default-scale-factor: 1;


// Durations
$animation-fast-duration: ($animation-default-scale-factor*0.3)s;
$animation-standard-duration: ($animation-default-scale-factor*0.5s);
$animation-slow-duration: ($animation-default-scale-factor*1s);

// Curves
$animation-ios-easing: cubic-bezier(0.23,1,0.32,1);
$animation-android-easing: cubic-bezier(0.4, 0.0, 0.2, 1);

$animation-default-easing: $animation-android-easing;
