@import 'quicksand';

$netcanvas-font-family: "Quicksand", cursive;
$netcanvas-desktop-font-size: 18px;
$netcanvas-tablet-font-size: 16px;
$line-height-base: 1.5 !default;

html {
  font-family: $netcanvas-font-family;

  @include gridle_state( tablet) {
    font-size: $netcanvas-tablet-font-size;
  }
  @include gridle_state( desktop ) {
    font-size: $netcanvas-desktop-font-size;
  }
}

// Headings

$headings-font-family:   inherit !default;
$headings-font-weight:   300 !default;
$headings-line-height:   1.1 !default;
$headings-color:         inherit !default;

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  letter-spacing: 0.05rem;
  color: map-get($roles, headings);
}




$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;

h1, .h1 { font-size: 2.5rem; }
h2, .h2 { font-size: 2rem; }
h3, .h3 { font-size: 1.75rem; }
h4, .h4 { font-size: 1.5rem; }
h5, .h5 { font-size: 1.25rem; }
h6, .h6 { font-size: 1rem; }
