@import 'quicksand';

$netcanvas-font-family: 'Quicksand', cursive;
$netcanvas-font-size: 16px;
$line-height-base: 1.5 !default;

html {
  font-family: $netcanvas-font-family;
  font-size: $netcanvas-font-size;
}

// Headings

$headings-font-family:   inherit !default;
$headings-font-weight:   300 !default;
$headings-line-height:   1.1 !default;
$headings-color:         inherit !default;

// Based of px sizes in style guide (em values were inconsistent)
$text-sizes: (
  h1: 1.75rem,
  h2: 1.25rem,
  h3: 1.0625rem,
  h4: 1rem,
  h5: .75rem,
);

@mixin text($text-size) {
  font-family: $headings-font-family;
  font-size: map-get($text-sizes, $text-size);
  font-weight: $headings-font-weight;
  letter-spacing: .05rem;
  line-height: $headings-line-height;
}

@each $text-size in $text-sizes {
  $text-size-name: nth($text-size, 1);

  #{$text-size-name} {
    @include text($text-size-name);
  }
}
